---
import Verticalgrid from "../assets/Verticalgrid.astro";
---

<section class="relative">
  <Verticalgrid />
  <div
    class="relative px-8 py-32 mx-auto space-y-24 max-w-7xl md:px-12 lg:px-32 lg:py-56">
    <div class="max-w-2xl">
      <div>
        <span
          class="text-xs font-medium tracking-widest text-transparent uppercase bg-clip-text bg-gradient-to-r from-indigo-300 via-indigo-400 to-indigo-500"
          >integrations</span
        >
        <p
          class="mt-8 text-4xl font-normal tracking-tighter text-white sm:text-5xl">
          Dozens of apps.
          <span class="block"> Endless possibilities.</span>
        </p>
        <p class="max-w-xl mt-4 text-base text-vulcan-300">
          Enhance your Navy experience with a wide variety of add-ons and
          integrations. From everyday essentials to powerful pro workflows.
        </p>
      </div>
    </div>
    <ul
      class="grid grid-cols-2 gap-6 mt-12 list-none lg:grid-cols-4 lg:gap-x-12 lg:gap-y-32 lg:mt-24"
      role="list">
      <li>
        <div>
          <img src="/integrations/stripe.svg" alt="" />
          <p class="mt-4 text-lg font-medium text-white lg:text-xl">Stripe</p>
        </div>
        <div class="mt-2 text-sm text-vulcan-300">
          A payment processing platform for online businesses.
          <p class="mt-4">
            <a
              href="/integrations/integrations-details"
              class="text-sm leading-6 text-indigo-300 hover:text-white"
              >Read more <span aria-hidden="true">&rarr;</span></a
            >
          </p>
        </div>
      </li>
      <li>
        <div>
          <img src="/integrations/shopify.svg" alt="" />
          <p class="mt-4 text-lg font-medium text-white lg:text-xl">Shopify</p>
        </div>
        <div class="mt-2 text-sm text-vulcan-300">
          An e-commerce platform for online stores.
          <p class="mt-4">
            <a
              href="/integrations/integrations-details"
              class="text-sm leading-6 text-indigo-300 hover:text-white"
              >Read more <span aria-hidden="true">&rarr;</span></a
            >
          </p>
        </div>
      </li>
      <li>
        <div>
          <img src="/integrations/paypal.svg" alt="" />
          <p class="mt-4 text-lg font-medium text-white lg:text-xl">PayPal</p>
        </div>
        <div class="mt-2 text-sm text-vulcan-300">
          An online payment system for sending and receiving money.
          <p class="mt-4">
            <a
              href="/integrations/integrations-details"
              class="text-sm leading-6 text-indigo-300 hover:text-white"
              >Read more <span aria-hidden="true">&rarr;</span></a
            >
          </p>
        </div>
      </li>
      <li>
        <div>
          <img src="/integrations/yandex_kassa.svg" alt="" />
          <p class="mt-4 text-lg font-medium text-white lg:text-xl">
            Yandex Kassa
          </p>
        </div>
        <div class="mt-2 text-sm text-vulcan-300">
          A payment gateway service for online transactions in Russia.
          <p class="mt-4">
            <a
              href="/integrations/integrations-details"
              class="text-sm leading-6 text-indigo-300 hover:text-white"
              >Read more <span aria-hidden="true">&rarr;</span></a
            >
          </p>
        </div>
      </li>
      <li>
        <div>
          <img src="/integrations/alfa_bank.svg" alt="" />
          <p class="mt-4 text-lg font-medium text-white lg:text-xl">
            Alfa Bank
          </p>
        </div>
        <div class="mt-2 text-sm text-vulcan-300">
          A commercial bank in Russia offering financial services and so on.
          <p class="mt-4">
            <a
              href="/integrations/integrations-details"
              class="text-sm leading-6 text-indigo-300 hover:text-white"
              >Read more <span aria-hidden="true">&rarr;</span></a
            >
          </p>
        </div>
      </li>
      <li>
        <div>
          <img src="/integrations/mastercard.svg" alt="" />
          <p class="mt-4 text-lg font-medium text-white lg:text-xl">
            Mastercard
          </p>
        </div>
        <div class="mt-2 text-sm text-vulcan-300">
          A global payment technology company providing financial services
          <p class="mt-4">
            <a
              href="/integrations/integrations-details"
              class="text-sm leading-6 text-indigo-300 hover:text-white"
              >Read more <span aria-hidden="true">&rarr;</span></a
            >
          </p>
        </div>
      </li>
      <li>
        <div>
          <img src="/integrations/webmoney.svg" alt="" />
          <p class="mt-4 text-lg font-medium text-white lg:text-xl">Webmoney</p>
        </div>
        <div class="mt-2 text-sm text-vulcan-300">
          An online payment system for conducting secure transactions over the
          internet.
          <p class="mt-4">
            <a
              href="/integrations/integrations-details"
              class="text-sm leading-6 text-indigo-300 hover:text-white"
              >Read more <span aria-hidden="true">&rarr;</span></a
            >
          </p>
        </div>
      </li>
      <li>
        <div>
          <img src="/integrations/world_pay.svg" alt="" />
          <p class="mt-4 text-lg font-medium text-white lg:text-xl">
            World Pay
          </p>
        </div>
        <div class="mt-2 text-sm text-vulcan-300">
          A payment processing company for businesses of all sizes, they matter.
          <p class="mt-4">
            <a
              href="/integrations/integrations-details"
              class="text-sm leading-6 text-indigo-300 hover:text-white"
              >Read more <span aria-hidden="true">&rarr;</span></a
            >
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
