---
import Blurgradienttop from "../assets/Blurgradienttop.astro";
---

<section class="relative">
  <Blurgradienttop />
  <div class="relative px-8 py-32 mx-auto max-w-7xl md:px-12 lg:px-32 lg:py-56">
    <div class="grid grid-cols-1 gap-10 xl:gap-24 lg:grid-cols-3">
      <div>
        <div class="flex flex-row gap-3">
          <img src="/integrations/stripe.svg" alt="" />
          <p class="text-2xl font-normal tracking-tight text-white">Stripe</p>
        </div>
        <p class="mt-4 text-base text-vulcan-300">
          A payment processing platform for online businesses.
        </p>
        <div
          class="flex flex-col mt-6 space-y-6 border-t divide-y border-white/10 divide-white/10">
          <div class="flex flex-row justify-between pt-6">
            <span class="text-white">Built by</span>
            <span class="text-vulcan-300"> Navy</span>
          </div>
          <div class="flex flex-row justify-between pt-6">
            <span class="text-white">Website</span>
            <span class="text-indigo-300 hover:text-white"
              ><a href="#">Lexingtonthemes.com</a></span
            >
          </div>
          <div class="flex flex-row justify-between pt-6">
            <span class="text-white">Category</span>
            <span class="text-vulcan-300">Finance</span>
          </div>
          <div class="flex flex-row justify-between pt-6">
            <span class="text-white">Contact</span>
            <span class="text-indigo-300 hover:text-white"
              ><a href="#">Email Inde Navy</a></span
            >
          </div>
        </div>
        <div class="mt-12">
          <a
            class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all rounded-lg hover:to-indigo-600 bg-gradient-to-b from-indigo-300 via-indigo-400 to-indigo-500"
            href="/overview"
            >Add to Navy
          </a>
        </div>
      </div>

      <div class="lg:col-span-2">
        <div>
          <div
            class="prose prose-blockquote:border-l-white prose-a:text-indigo-500 hover:prose-a:text-white prose-headings:font-normal prose-headings:text-white prose-li:marker:text-indigo-500 text-vulcan-300 prose-code:text-white prose-blockquote:text-white/70">
            <h2>Overview</h2>
            <p>Exploratory test sessions & ad-hoc testing</p>
            <h2>How it works</h2>
            <p>
              Stripe is a unified test management tool that helps software and
              QA teams to manage all their testing activities in one modern
              platform. Track all your manual test cases, exploratory test
              sessions and test automation and integrate your testing workflow
              with Navy.
            </p>
            <p>
              Stripe's Navy integration makes it easy to link test cases, test
              results, exploratory test sessions and test automation to issueN
              in navy. Then quickly report on linked issues with coverage and
              defect reports and directly navigate to Navy to look up further
              issue details. Stripe also makes it easy to create new Navy issues
              during testing by providing useful links to your Navy projects.
            </p>
            <h2>Configure</h2>
            <p>
              Enable and configure the Navy integration from Stripe under Admin
              Integrations. You need to be a Project Admin or Site Admin in
              Stripe to access this section. Learn more in Stripe's integration
              documentation.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
