---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { AstroSeo } from '@astrolib/seo';
import Contact from '../../components/forms/Contact.astro';
---

<AstroSeo
  title="Apply!"
  description="Join us on this cohort to take part in the 12-week mentorship program designed to charge you into the next phase of your DevRel career."
  canonical="https://www.dxmentorship.com"
  openGraph={{
    url: 'https://www.dxmentorship.com',
    title: 'Apply to the DX Mentorship Program',
    description:
      'We are now accepting applications for the 3rd cohort of the DX Mentorship Program. Apply now to be a part of this 12-week program designed to charge you into the next phase of your DevRel career.',
    images: [
      {
        url: '/opengraph/socialog.png',
        width: 1200,
        height: 630,
        alt: 'Social open graph',
        type: 'image/jpeg',
      },
      {
        url: '/opengraph/socialog.png',
        width: 4096,
        height: 4096,
        alt: 'Twitter open graph',
        type: 'image/jpeg',
      },
      { url: '/opengraph/socialog.png' },
      { url: '/opengraph/socialog.png' },
    ],
    site_name: 'DXMentorship',
  }}
  twitter={{
    handle: '@dxmentorship',
    site: '@site',
    cardType: 'summary_large_image',
  }}
/>
<BaseLayout>
  <section>
    <Contact />
  </section>
</BaseLayout>
