---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { AstroSeo } from '@astrolib/seo';
import SuccessMessage from '../../components/forms/Success.astro';
---

<AstroSeo
  title="Success!"
  description="Success!"
  canonical="https://www.dxmentorship.com"
  openGraph={{
    url: 'https://www.dxmentorship.com',
    title: 'Success',
    description: 'Your application has been submitted successfully!',
    images: [
      {
        url: 'https://github.com/Dxmentorship/dxmentorship/assets/66284362/52bb363f-dc4b-451a-9d22-160e6fddb7b5',
        width: 1200,
        height: 630,
        alt: 'Social open graph',
        type: 'image/jpeg',
      },
      {
        url: 'https://github.com/Dxmentorship/dxmentorship/assets/66284362/52bb363f-dc4b-451a-9d22-160e6fddb7b5',
        width: 4096,
        height: 4096,
        alt: 'Twitter open graph',
        type: 'image/jpeg',
      },
      { url: 'https://github.com/Dxmentorship/dxmentorship/assets/66284362/52bb363f-dc4b-451a-9d22-160e6fddb7b5' },
      { url: 'https://github.com/Dxmentorship/dxmentorship/assets/66284362/52bb363f-dc4b-451a-9d22-160e6fddb7b5' },
    ],
    site_name: 'DX Mentorship',
  }}
  twitter={{
    handle: '@dxmentorship',
    site: '@site',
    cardType: 'summary_large_image',
  }}
/>
<BaseLayout>
  <section class="">
    <SuccessMessage />
  </section>
</BaseLayout>
