---
import Verticalgrid from "../assets/Verticalgrid.astro";
---

<section aria-labelledby="description" id="description " class="relative">
  <Verticalgrid />
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-24 relative">
    <div class="max-w-2xl mx-auto lg:text-center">
      <div>
        <span
          class="text-transparent bg-clip-text font-medium tracking-widest bg-gradient-to-r from-indigo-300 via-indigo-400 to-indigo-500 text-xs uppercase"
          >Description</span
        ><p class="text-3xl mt-8 font-normal text-white">
          What's Navy made of?
        </p>
      </div>
    </div>
    <ul
      class="grid grid-cols-2 lg:text-center gap-6 mt-12 list-none lg:grid-cols-3 lg:gap-12 lg:mt-24"
      role="list">
      <li>
        <div>
          <p class="text-lg font-medium text-white lg:text-xl">
            Built with Astro.js.
          </p>
        </div>
        <div class="mt-2 text-base text-vulcan-300">
          Astro is an all-in-one web framework for building fast,
          content-focused websites.
        </div>
      </li>
      <li>
        <div>
          <p class="text-lg font-medium text-white lg:text-xl">
            Styled with Tailwind CSS.
          </p>
        </div>
        <div class="mt-2 text-base text-vulcan-300">
          Tailwind CSS generates CSS styles by scanning HTML, JavaScript and
          other templates for class names, and writes them to a static CSS file.
        </div>
      </li>
      <li>
        <div>
          <p class="text-lg font-medium text-white lg:text-xl">
            Uses Alpine.js
          </p>
        </div>
        <div class="mt-2 text-base text-vulcan-300">
          Alpine is a rugged, minimal tool for composing behavior directly in
          your markup. Think of it like jQuery for the modern web. Plop in a
          script tag and get going.
        </div>
      </li>
      <li>
        <div>
          <p class="text-lg font-medium text-white lg:text-xl">
            Keyboard accessible.
          </p>
        </div>
        <div class="mt-2 text-base text-vulcan-300">
          Everything I build is keyboard accessible, and I meticulously write
          the markup to deliver the best screenreader experience I can provide.
        </div>
      </li>
      <li>
        <div>
          <p class="text-lg font-medium text-white lg:text-xl">
            Production-ready
          </p>
        </div>
        <div class="mt-2 text-base text-vulcan-300">
          We conducted thorough testing of the template across the latest
          versions of all browsers in order to address and handle a multitude of
          potential edge-cases that may arise.
        </div>
      </li>
      <li>
        <div>
          <p class="text-lg font-medium text-white lg:text-xl">
            Simple deploys
          </p>
        </div>
        <div class="mt-2 text-base text-vulcan-300">
          The template is production-ready and easily deployable on various
          static website hosting platforms like Vercel, Netlify, GitHub Pages,
          among others.
        </div>
      </li>
    </ul>
    <div class="max-w-2xl mx-auto lg:text-center py-12 lg:pt-36">
      <div>
        <span
          class="text-transparent bg-clip-text font-medium tracking-widest bg-gradient-to-r from-indigo-300 via-indigo-400 to-indigo-500 text-xs uppercase"
          >Integrations</span
        ><p class="text-3xl mt-8 font-normal text-white">
          Plugins, integrations and stack.
        </p>
        <p class="max-w-2xl mt-4 text-base text-vulcan-300">
          lexington templates are thoughtfully crafted with the latest Astro,
          Tailwind and Alpine.js integrations and versions to keep it simple and
          easy to maintain.
        </p>
      </div>
      <dl
        class="gap-6 justify-center grid-cols-1 text-center lg:space-y-0 flex flex-wrap mt-12">
        <div>
          <dt>
            <p class="text-white font-medium text-base mt-3">Astro.js</p>
          </dt>
        </div><div>
          <dt>
            <p class="text-white font-medium text-base mt-3">Tailwind</p>
          </dt>
        </div><div>
          <dt>
            <p class="text-white font-medium text-base mt-3">astro/alpinejs</p>
          </dt>
        </div><div>
          <dt>
            <p class="text-white font-medium text-base mt-3">astro/Seo</p>
          </dt>
        </div><div>
          <dt>
            <p class="text-white font-medium text-base mt-3">astro/image</p>
          </dt>
        </div><div>
          <dt>
            <p class="text-white font-medium text-base mt-3">astro/md</p>
          </dt>
        </div><div>
          <dt>
            <p class="text-white font-medium text-base mt-3">astro/prism</p>
          </dt>
        </div><div>
          <dt>
            <p class="text-white font-medium text-base mt-3">astro/compress</p>
          </dt>
        </div><div>
          <dt>
            <p class="text-white font-medium text-base mt-3">astro/sitemap</p>
          </dt>
        </div><div>
          <dt>
            <p class="text-white font-medium text-base mt-3">
              tailwindcss/forms
            </p>
          </dt>
        </div><div>
          <dt>
            <p class="text-white font-medium text-base mt-3">
              tailwindcss/typography
            </p>
          </dt>
        </div>
      </dl>
    </div>
  </div>
</section>
