---
import Verticalgrid from "../assets/Verticalgrid.astro";
import Blurgradientleft from "../assets/Blurgradientleft.astro";
---

<section
  aria-labelledby="hero"
  id="hero "
  class="relative border-b overflow-hidden border-white/5">
  <Verticalgrid />
  <Blurgradientleft />
  <div
    class="relative items-center w-full px-5 pt-24 mx-auto md:px-12 lg:px-12 max-w-7xl lg:pt-36">
    <div
      class="grid grid-cols-1 gap-6 lg:grid-cols-2 lg:gap-24 overflow-hidden p-8 lg:p-20 pb-0 lg:pb-0">
      <div class="max-w-xl text-center lg:text-left pb-6">
        <div>
          <div class="lg:inline-flex items-center gap-3">
            <p
              class="bg-gradient-to-r from-indigo-300 via-indigo-400 to-indigo-500 text-transparent bg-clip-text lg:pl-4 lg:border-l border-white mt-3 lg:mt-0 uppercase">
              Navy by Lexington
            </p>
          </div>
          <p
            class="text-3xl max-w-xl mt-12 font-normal tracking-tight text-white">
            Navy is a an elegant UI KIt <span class="lg:block"
              >for your SaaS or product</span
            >
          </p>
          <p class="max-w-2xl mt-4 text-base text-vulcan-300">
            The Navy UI kit boasts an exquisite design that empowers you to
            efficiently create pages across diverse categories and customize
            them to your preferences, facilitating the construction of a landing
            page or website within hours instead of months.
          </p>
          <div class="mt-6 gap-3">
            <ul class="list-none" role="list">
              <li>
                <div class="relative py-2 flex items-start">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-5 h-5 text-indigo-400">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                    ></path>
                  </svg>
                  <p class="ml-2 text-sm leading-6 text-vulcan-300">
                    <strong class="font-semibold text-vulcan-100">30+</strong> —
                    Ready made demo pages
                  </p>
                </div>
              </li>
              <li>
                <div class="relative py-2 flex items-start">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-5 h-5 text-indigo-400">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                    ></path>
                  </svg>
                  <p class="ml-2 text-sm leading-6 text-vulcan-300">
                    <strong class="font-semibold text-vulcan-100">50+</strong> —
                    sections
                  </p>
                </div>
              </li>
              <li>
                <div class="relative py-2 flex items-start">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-5 h-5 text-indigo-400">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                    ></path>
                  </svg>
                  <p class="ml-2 text-sm leading-6 text-vulcan-300">
                    <strong class="font-semibold text-vulcan-100">100+</strong>
                    — components
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <div class="flex flex-col sm:flex-row mt-6">
            <a
              href="/overview"
              class="inline-flex items-center justify-center px-6 py-3 text-sm font-normal text-white bg-white/5 rounded-xl group focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 hover:bg-transparent duration-200 border-2 border-indigo-500 active:bg-indigo-50 active:text-white focus-visible:outline-indigo-50 hover:border-white hover:text-white">
              See all pages &nbsp; &nbsp; &rarr;
            </a>
          </div>
        </div>
      </div>

      <div class="block w-full mt-0 relative overflow-hidden">
        <img
          class="overflow-hidden object-cover lg:absolute object-center w-full mx-auto lg:ml-auto shadow-2xl shadow-black"
          alt="hero"
          src="/assets/card3.svg"
        />
      </div>
    </div>
  </div>
</section>
