---
import Blurgradienttop from "../assets/Blurgradienttop.astro";
---

<section class="relative">
  <Blurgradienttop />
  <div class="relative px-8 py-32 mx-auto max-w-7xl md:px-12 lg:px-32 lg:py-56">
    <div class="max-w-2xl">
      <div>
        <nav class="flex" aria-label="Breadcrumb">
          <ol role="list" class="items-center hidden space-x-4 md:flex">
            <li>
              <div>
                <a
                  href="/helpcenter/help"
                  class="text-sm text-vulcan-300 hover:text-white">
                  Help Center

                  <span class="sr-only">Home</span>
                </a>
              </div>
            </li>
            <li>
              <div class="flex items-center">
                <svg
                  class="flex-shrink-0 w-5 h-5 text-vulcan-300"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                    clip-rule="evenodd"></path>
                </svg>
                <a
                  href="/helpcenter/help-categories"
                  class="ml-4 text-sm font-medium text-vulcan-300 hover:text-white"
                  >Help Category</a
                >
              </div>
            </li>
            <li>
              <div class="flex items-center">
                <svg
                  class="flex-shrink-0 w-5 h-5 text-vulcan-300"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                    clip-rule="evenodd"></path>
                </svg>
                <a
                  href="#"
                  class="ml-4 text-sm font-medium text-white"
                  aria-current="page">Settings and billing</a
                >
              </div>
            </li>
          </ol>
        </nav>
        <p
          class="mt-8 text-4xl font-normal tracking-tighter text-white sm:text-5xl">
          Settings & Billing
        </p>
      </div>
    </div>
    <ul
      class="grid grid-cols-1 gap-6 mt-12 list-none lg:grid-cols-3 lg:gap-12 lg:mt-24"
      role="list">
      <li>
        <div>
          <p class="text-lg font-medium text-white lg:text-xl">
            Workspace Administration
          </p>
        </div>
        <div class="mt-2 text-base text-vulcan-300">
          <ul class="list-disc">
            <li>
              <a
                href="/helpcenter/help-details"
                class="text-indigo-300 duration-200 hover:text-white"
                >How to access admin insights
              </a>
            </li><li>
              <a
                href="/helpcenter/help-details"
                class="text-indigo-300 duration-200 hover:text-white"
                >How to invite Creator Lite members on Business
              </a>
            </li><li>
              <a
                href="/helpcenter/help-details"
                class="text-indigo-300 duration-200 hover:text-white"
                >How to make it easy for your team to join your Workspace
              </a>
            </li><li>
              <a
                href="/helpcenter/help-details"
                class="text-indigo-300 duration-200 hover:text-white"
                >How to use 's privacy settings
              </a>
            </li><li>
              <a
                href="/helpcenter/help-details"
                class="text-indigo-300 duration-200 hover:text-white"
                >How to transfer Admins when an Admin has left your organization
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div>
          <p class="text-lg font-medium text-white lg:text-xl">
            Account Settings
          </p>
        </div>
        <div class="mt-2 text-base text-vulcan-300">
          <ul class="list-disc">
            <li>
              <a
                href="/helpcenter/help-details"
                class="text-indigo-300 duration-200 hover:text-white"
                >How to change your account email
              </a>
            </li><li>
              <a
                href="/helpcenter/help-details"
                class="text-indigo-300 duration-200 hover:text-white"
                >How to leave a Workspace
              </a>
            </li><li>
              <a
                href="/helpcenter/help-details"
                class="text-indigo-300 duration-200 hover:text-white"
                >How to delete your account
              </a>
            </li><li>
              <a
                href="/helpcenter/help-details"
                class="text-indigo-300 duration-200 hover:text-white"
                >How to edit your personal account settings
              </a>
            </li><li>
              <a
                href="/helpcenter/help-details"
                class="text-indigo-300 duration-200 hover:text-white"
                >How to transfer Admins when an Admin has left your organization
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div>
          <p class="text-lg font-medium text-white lg:text-xl">
            Billing & Payment
          </p>
        </div>
        <div class="mt-2 text-base text-vulcan-300">
          <ul class="list-disc">
            <li>
              <a
                href="/helpcenter/help-details"
                class="text-indigo-300 duration-200 hover:text-white"
                >Billing Policy (Business Plans)
              </a>
            </li><li>
              <a
                href="/helpcenter/help-details"
                class="text-indigo-300 duration-200 hover:text-white"
                >Where to find invoice and update your billing information
              </a>
            </li><li>
              <a
                href="/helpcenter/help-details"
                class="text-indigo-300 duration-200 hover:text-white"
                >How to manage your team's billing
              </a>
            </li><li>
              <a
                href="/helpcenter/help-details"
                class="text-indigo-300 duration-200 hover:text-white">
                Billing FAQ
              </a>
            </li><li>
              <a
                href="/helpcenter/help-details"
                class="text-indigo-300 duration-200 hover:text-white"
                >How to downgrade / cancel your plan
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
