<section class="relative overflow-x-hidden">
  <svg
    class="absolute top-0 right-0 blur-3xl opacity-80"
    width="50%"
    height="100%"
    viewBox="0 0 400 400"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_17_60)">
      <g filter="url(#filter0_f_17_60)">
        <path d="M128.6 0H0V322.2L332.5 211.5L128.6 0Z" fill="#4D07E3"></path>
        <path d="M0 322.2V400H240H320L332.5 211.5L0 322.2Z" fill="#4C00FF"
        ></path>
        <path d="M320 400H400V78.75L332.5 211.5L320 400Z" fill="#B5BFF1"></path>
        <path d="M400 0H128.6L332.5 211.5L400 78.75V0Z" fill="#7fcef3"></path>
      </g>
    </g>
    <defs>
      <filter
        id="filter0_f_17_60"
        x="-159.933"
        y="-159.933"
        width="719.867"
        height="719.867"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"></feBlend>
        <feGaussianBlur
          stdDeviation="79.9667"
          result="effect1_foregroundBlur_17_60"></feGaussianBlur>
      </filter>
    </defs>
  </svg>
  <div class="relative px-8 py-32 mx-auto max-w-7xl md:px-12 lg:px-32 lg:pt-56">
    <div class="max-w-3xl">
      <nav class="flex" aria-label="Breadcrumb">
        <ol role="list" class="items-center hidden space-x-4 md:flex">
          <li>
            <div>
              <a
                href="/helpcenter/help"
                class="text-sm text-vulcan-300 hover:text-white">
                Help Center

                <span class="sr-only">Home</span>
              </a>
            </div>
          </li>
          <li>
            <div class="flex items-center">
              <svg
                class="flex-shrink-0 w-5 h-5 text-vulcan-300"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"></path>
              </svg>
              <a
                href="/helpcenter/help-categories"
                class="ml-4 text-sm font-medium text-vulcan-300 hover:text-white"
                >Help Category</a
              >
            </div>
          </li>
          <li>
            <div class="flex items-center">
              <svg
                class="flex-shrink-0 w-5 h-5 text-vulcan-300"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"></path>
              </svg>
              <a
                href="#"
                class="ml-4 text-sm font-medium text-indigo-400 hover:text-white"
                aria-current="page">Project Nero</a
              >
            </div>
          </li>
        </ol>
      </nav>

      <p
        class="mt-8 text-4xl font-normal tracking-tighter text-white sm:text-5xl">
        How to access admin insights
      </p>
    </div>
  </div>
</section>
<section class="relative border-t border-white/10">
  <div class="relative px-8 py-12 mx-auto max-w-7xl md:px-12 lg:px-32">
    <div
      class="prose prose-blockquote:border-l-white prose-a:text-indigo-500 hover:prose-a:text-white prose-headings:font-normal prose-headings:text-white prose-li:marker:text-indigo-500 text-vulcan-300 prose-code:text-white prose-blockquote:text-white/70">
      <p>Glance at your workspace’s usage.</p>

      <p>
        The Admin Insights Dashboard shows high-level information about a
        workspace's usage, growth, and creators.
      </p>

      <p>
        Admins on all plans (Starter free, Business, and Enterprise) will have
        access to 'At a Glance' insights which include the following:
      </p>
      <ul>
        <li>Total number of meetings saved</li>
        <li>Total hours of Navy recorded & hours of Navy watched</li>
        <li>Total interactions</li>
      </ul>
      <h2>Meetings saved</h2>
      <p>
        Learning a new language can open up a world of possibilities. It can
        help you gain new perspectives, make new friends, and even land a better
        job. In this post, we'll explore the benefits of learning a new language
        and why it's worth the effort."
      </p>
    </div>
  </div>
</section>
