---
import Verticalgrid from '../assets/Verticalgrid.astro';
import Blurgradientleft from '../assets/Blurgradientleft.astro';
---

<section class="relative">
  <Verticalgrid />
  <section>
    <Blurgradientleft />
    <div class="relative items-center w-full px-5 py-24 mx-auto md:px-12 lg:px-16 max-w-7xl lg:pb-32 lg:pt-56">
      <div class="text-left sm:text-center">
        <!-- <p class="text-transparent bg-gradient-to-r from-indigo-300 via-indigo-400 to-indigo-500 bg-clip-text">
          DEVELOPER RELATIONS MENTORSHIP
        </p> -->
        <div
          class="inline-flex items-center rounded-full bg-white/5 backdrop-blur-xl border border-white/10 px-4 py-2 text-sm text-white/90"
        >
          ✦ Cohort 5 is open!
        </div>
        <p class="mt-10 text-4xl font-normal tracking-tighter text-white sm:text-5xl">
          Developer Relations Mentorship Program
          <span class="lg:block">Kickstart Your DevRel Career in 90 Days</span>
        </p>
        <p class="max-w-2xl mx-auto mt-4 text-vulcan-300">
          Gain the skills, confidence, and industry connections you need to excel as a Developer Advocate. Our program
          pairs you with seasoned experts, real‑world scenarios, and tailored guidance—so you can land the DevRel job
          you’ve always wanted!
        </p>

        <div class="flex flex-col justify-center max-w-xl gap-2 mx-auto mt-12 sm:flex-row">
          <a
            href="https://forms.gle/SULV71vPdB2SgpPp9"
            class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all rounded-lg hover:to-indigo-600 bg-gradient-to-b from-indigo-300 via-indigo-400 to-indigo-500"
            >Apply</a
          >
          <a
            href="/alumni"
            class="rounded-lg px-4 py-2 text-sm font-semibold transition-all flex items-center justify-center text-white bg-gradient-to-b from-white/[.105] to-white/[.15] hover:to-white/[.25] h-10 ring-1 ring-inset ring-white/20"
            >Meet Our Alumni</a
          >
        </div>
      </div>
    </div>
  </section>
</section>
