---
import Blurgradientleft from '../assets/Blurgradientleft.astro';
import Verticalgrid from '../assets/Verticalgrid.astro';
---

<section class="relative">
  <Verticalgrid />
  <section>
    <Blurgradientleft />
    <div class="relative items-center w-full px-5 py-24 mx-auto md:px-12 lg:px-16 max-w-7xl lg:pb-32 lg:pt-56">
      <div class="max-w-5xl mx-auto">
        <p class="text-sm text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text">
          Navy
        </p>
        <p class="mt-8 text-4xl font-normal tracking-tighter text-white sm:text-5xl">
          NextGenBanking empowering your financial journey with cutting-edge solutions.
        </p>
        <p class="max-w-2xl mt-4 text-vulcan-300">
          Transforming the banking experience for a digital future: Unleashing innovative technologies to empower
          customers and redefine financial services.
        </p>
        <div class="flex flex-wrap items-center gap-2 mt-10">
          <a
            href="https://lexingtonthemes.lemonsqueezy.com/checkout/buy/cad98266-24b3-47fd-99a6-e65ad9af37f6"
            class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all rounded-lg hover:to-indigo-600 bg-gradient-to-b from-indigo-300 via-indigo-400 to-indigo-500"
            >Buy Navy</a
          >
          <a
            href="/system/overview"
            class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all border rounded-lg bg-vulcan-900 hover:text-indigo-400 border-vulcan-700"
            >See all pages</a
          >
        </div>
      </div>
      <div
        class="relative items-center w-full mx-auto mt-12 max-w-7xl lg:p-10 lg:rounded-5xl lg:border border-white/10"
        style=""
      >
        <img
          class="object-cover w-full border shadow-2xl rounded-xl border-white/5 lg:rounded-3xl shadow-vulcan-950"
          src="/assets/dashboard.svg"
          alt=""
        />
      </div>
    </div>
  </section>
</section>
