---
import { Image, getImage } from 'astro:assets';

import HeroImage from '../../assets/learn_jrodeh.jpg';

import Verticalgrid from '../assets/Verticalgrid.astro';
import Blurgradientleft from '../assets/Blurgradientleft.astro';

const optimizedBackground = await getImage({ src: HeroImage, format: 'avif' });
---

<section class="relative">
  <Verticalgrid />
  <Blurgradientleft />
  <div class="relative items-center w-full px-5 pt-24 mx-auto md:px-12 lg:px-12 max-w-7xl lg:pt-36">
    <div class="grid grid-cols-1 gap-6 p-8 pb-0 overflow-hidden lg:grid-cols-2 lg:gap-24 lg:p-20 lg:pb-0">
      <div class="relative items-center gap-12 pb-12 m-auto lg:inline-flex md:order-first lg:pb-32 xl:pt-20">
        <div class="max-w-xl text-center lg:text-left">
          <p class="text-sm text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text">
            DX MENTORSHIP
          </p>
          <p class="mt-8 text-4xl font-normal tracking-tighter text-white sm:text-5xl">
            DevRel mentorship program designed to charge you into DevRel in 3 months
          </p>
          <p class="max-w-2xl mt-4 text-vulcan-300">
            Get equipped with knowledge and information that will propel you into a fulfilling Developer Advocacy
            career. We'll be working with industry experts and real world scenarios to prepare you for the job you've
            always wanted!
          </p>
          <div class="flex flex-wrap items-center gap-2 mt-10">
            <a
              href="https://lexingtonthemes.lemonsqueezy.com/checkout/buy/cad98266-24b3-47fd-99a6-e65ad9af37f6"
              class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all rounded-lg hover:to-indigo-600 bg-gradient-to-b from-indigo-300 via-indigo-400 to-indigo-500"
              >Apply Now!</a
            >
            <!-- <a
              href="/system/overview"
              class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all border rounded-lg bg-vulcan-900 hover:text-indigo-400 border-vulcan-700"
              >See all pages</a
            > -->
          </div>
        </div>
      </div>
      <div
        class="relative order-first hidden w-full lg:block bg-cover"
        style={`background: url(${optimizedBackground.src}) center center; background-size: cover;`}
      >
        <!-- <Image src={HeroImage} height="800" width="400" class="w-full shadow-2xl shadow-black" alt="Hero image" /> -->
        <!-- <img
          class="object-cover object-center w-full mx-auto shadow-2xl lg:absolute lg:ml-auto shadow-black"
          alt="hero"
          src="/assets/card3.svg"
        /> -->
      </div>
    </div>
  </div>
</section>
