---
import CtaFive from '../../components/newsletter/Newsletter.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { AstroSeo } from '@astrolib/seo';
import Curriculum from '../../components/features/Curriculum.astro';
---

<AstroSeo
  title="Curriculum | DXMentorship"
  description="DXMentorship is a 12-week mentorship program for developers who want to start a career in developer advocacy."
  canonical="https://www.dxmentorship.com"
  openGraph={{
    url: 'https://www.dxmentorship.com',
    title: 'DXMentorship',
    description:
      'DXMentorship is a 12-week mentorship program for developers who want to start a career in developer advocacy.',
    images: [
      {
        url: 'https://www.dxmentorship.com/opengraph/social-og.jpg',
        width: 1200,
        height: 630,
        alt: 'Social open graph',
        type: 'image/jpeg',
      },
      {
        url: 'https://www.dxmentorship.com/opengraph/twitter-og.jpg',
        width: 4096,
        height: 4096,
        alt: 'Twitter open graph',
        type: 'image/jpeg',
      },
      { url: 'https://www.dxmentorship.com/opengraph/social-og.jpg' },
      { url: 'https://www.dxmentorship.com/opengraph/twitter-og.jpg' },
    ],
    site_name: 'DXMentorship',
  }}
  twitter={{
    handle: '@dxmentorship',
    site: '@site',
    cardType: 'summary_large_image',
  }}
/>
<BaseLayout>
  <section>
    <Curriculum />
  </section>
</BaseLayout>
