---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const pageTitle = "Tag Index";
---

<BaseLayout pageTitle={pageTitle}>
   <section aria-labelledby="blogone" id="blogone">
    <div
      class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-32 lg:py-36 relative">
      <div class="max-w-2xl">
        <p
          class="text-sm text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text">
          our blog
        </p><p
          class="mt-8 text-4xl font-normal tracking-tighter text-white sm:text-5xl">
          The latest tech news.
        </p>
        <form class="mt-6 sm:flex sm:max-w-md">
          <label for="email-address" class="sr-only">Email address</label>
          <input
            type="email"
            name="email-address"
            id="email-address"
            autocomplete="email"
            required
            class="block w-full h-10 px-4 py-2 text-sm text-indigo-300 bg-transparent border rounded-lg appearance-none border-white/10 placeholder-white/50 focus:border-indigo-300 focus:bg-transparent focus:outline-none focus:ring-indigo-300 sm:text-sm"
            placeholder="Enter your email"
          />
          <div class="mt-4 sm:ml-2 sm:mt-0 sm:flex-shrink-0">
            <button
              type="submit"
              class="flex items-center justify-center w-auto h-10 px-4 py-2 text-sm font-semibold text-white transition-all rounded-lg hover:to-indigo-600 bg-gradient-to-b from-indigo-300 via-indigo-400 to-indigo-500"
              >Subscribe</button
            >
          </div>
        </form>
      </div>

      <ul
        class="flex flex-col divide-y divide-white/20 mt-12 lg:mt-24"
        role="list">
        {
          tags.map((tag) => (
            <a
              class="text-lg text-white capitalize hover:text-indigo-400 duration-200 py-3"
              href={`/tags/${tag}`}>
              <li aria-label="tags">
                <p>{tag}</p>
              </li>
            </a>
          ))
        }
      </ul>
    </div>
  </section>
 
</BaseLayout>
