---
import Verticalgrid from '../assets/Verticalgrid.astro';
import Blurgradientleft from '../assets/Blurgradientleft.astro';
---

<section aria-labelledby="hero" id="hero " class="relative">
  <Verticalgrid />
  <Blurgradientleft />
  <div class="relative items-center w-full px-5 pt-24 mx-auto md:px-12 lg:px-12 max-w-7xl lg:pt-36">
    <div class="grid grid-cols-1 gap-6 lg:grid-cols-2 lg:gap-24 overflow-hidden p-8 lg:p-20 pb-0 lg:pb-0">
      <div class="relative items-center gap-12 m-auto lg:inline-flex md:order-first pb-12 lg:pb-32 pt-20">
        <div class="max-w-xl text-center lg:text-left">
          <div>
            <p class="text-sm text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text">
              Who we are
            </p>
            <p class="mt-8 text-4xl font-normal tracking-tighter text-white">For bankers, by bankers</p>
            <p class="max-w-2xl mt-4 text-base text-vulcan-300">
              Navy was constructed by a group of enthusiastic business owners who are aware of the difficulties and
              chances that founders encounter when determining how to fund their businesses.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
