---
import Verticalgrid from '../assets/Verticalgrid.astro';
---

<section aria-labelledby="Featurethree" id="Featurethree " class="relative">
  <Verticalgrid />
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-24 relative">
    <div class="max-w-2xl mx-auto lg:text-center">
      <div>
        <span
          class="text-transparent bg-clip-text font-medium tracking-widest bg-gradient-to-r from-indigo-300 via-indigo-400 to-indigo-500 text-xs uppercase"
          >Teams</span
        ><p class="text-3xl mt-8 font-normal text-white">Our Team</p>
      </div>
    </div>
    <ul class="grid grid-cols-2 lg:text-center gap-6 mt-12 list-none lg:grid-cols-4 lg:gap-12 lg:mt-24" role="list">
      <li>
        <img
          class="object-cover w-16 h-16 rounded-full lg:h-20 lg:w-20 mx-auto"
          src="https://assets.vercel.com/image/upload/front/about/individual-investors/jessiefrazelle.png"
          alt=""
        />
        <div>
          <p class="text-lg mt-8 font-medium text-white lg:text-xl">Jane Doe</p>
        </div>
        <div class="mt-2 text-base text-vulcan-300">IT Manager</div>
      </li>
      <li>
        <img
          class="object-cover w-16 h-16 rounded-full lg:h-20 lg:w-20 mx-auto"
          src="https://assets.vercel.com/image/upload/front/about/individual-investors/soleiocuervo.png"
          alt=""
        />
        <div>
          <p class="text-lg mt-8 font-medium text-white lg:text-xl">John Smith</p>
        </div>
        <div class="mt-2 text-base text-vulcan-300">Software Engineer</div>
      </li>
      <li>
        <img
          class="object-cover w-16 h-16 rounded-full lg:h-20 lg:w-20 mx-auto"
          src="https://assets.vercel.com/image/upload/front/about/individual-investors/michaelstoppelman.png"
          alt=""
        />
        <div>
          <p class="text-lg mt-8 font-medium text-white lg:text-xl">Michael Johnson</p>
        </div>
        <div class="mt-2 text-base text-vulcan-300">Chief Technical Officer</div>
      </li>
      <li>
        <img
          class="object-cover w-16 h-16 rounded-full lg:h-20 lg:w-20 mx-auto"
          src="https://assets.vercel.com/image/upload/front/about/individual-investors/karrisaarinen.png"
          alt=""
        />
        <div>
          <p class="text-lg mt-8 font-medium text-white lg:text-xl">Jessica Williams</p>
        </div>
        <div class="mt-2 text-base text-vulcan-300">Data Analyst</div>
      </li>
      <li>
        <img
          class="object-cover w-16 h-16 rounded-full lg:h-20 lg:w-20 mx-auto"
          src="https://assets.vercel.com/image/upload/front/about/individual-investors/rasmusanderson.png"
          alt=""
        />
        <div>
          <p class="text-lg mt-8 font-medium text-white lg:text-xl">David Brown</p>
        </div>
        <div class="mt-2 text-base text-vulcan-300">Network Administrator</div>
      </li>
      <li>
        <img
          class="object-cover w-16 h-16 rounded-full lg:h-20 lg:w-20 mx-auto"
          src="https://assets.vercel.com/image/upload/front/about/individual-investors/brendaneich.png"
          alt=""
        />
        <div>
          <p class="text-lg mt-8 font-medium text-white lg:text-xl">Sam Miller</p>
        </div>
        <div class="mt-2 text-base text-vulcan-300">Cybersecurity Specialist</div>
      </li>
      <li>
        <img
          class="object-cover w-16 h-16 rounded-full lg:h-20 lg:w-20 mx-auto"
          src="https://assets.vercel.com/image/upload/front/about/individual-investors/natfriedman.png"
          alt=""
        />
        <div>
          <p class="text-lg mt-8 font-medium text-white lg:text-xl">Thomas Garcia</p>
        </div>
        <div class="mt-2 text-base text-vulcan-300">Product Manager</div>
      </li>
      <li>
        <img
          class="object-cover w-16 h-16 rounded-full lg:h-20 lg:w-20 mx-auto"
          src="https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=989&q=80"
          alt=""
        />
        <div>
          <p class="text-lg mt-8 font-medium text-white lg:text-xl">Amanda Rodriguez</p>
        </div>
        <div class="mt-2 text-base text-vulcan-300">DevOps Engineer</div>
      </li>
    </ul>
  </div>
</section>
