---
import RoundedGrid from "../assets/RoundedGrid.astro";
---

<section class="relative overflow-hidden border-t border-white/5">
  <RoundedGrid />
  <div class="relative px-8 py-12 mx-auto max-w-7xl md:px-12 lg:px-32 lg:py-24">
    <div class="relative items-center">
      <div class="">
        <div class="max-w-xl mx-auto lg:text-center">
          <span
            class="text-xs font-medium tracking-widest text-transparent uppercase bg-clip-text bg-gradient-to-r from-indigo-300 via-indigo-400 to-indigo-500"
            >get on board</span
          >
          <p
            class="mt-8 text-4xl font-normal tracking-tighter text-white sm:text-5xl">
            Track your daily progress.
          </p>
          <p class="max-w-xl mx-auto mt-4 text-vulcan-300">
            Explore our comprehensive investment management solutions, carefully
            crafted to help you grow your wealth.
          </p>
        </div>
        <div class="flex justify-center mt-8">
          <a
            href="https://lexingtonthemes.lemonsqueezy.com/checkout/buy/cad98266-24b3-47fd-99a6-e65ad9af37f6"
            class="flex items-center justify-center w-auto h-10 px-4 py-2 text-sm font-semibold text-white transition-all rounded-lg hover:to-indigo-600 bg-gradient-to-b from-indigo-300 via-indigo-400 to-indigo-500"
            >Buy Navy</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
