<section aria-labelledby="cta" id="cta ">
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 relative">
    <div class="relative items-center">
      <div class="lg:inline-flex lg:items-center justify-between w-full">
        <div class="max-w-xl">
          <p class="text-3xl font-normal tracking-tight text-white">You belong among the elite</p>
        </div>
        <div class="flex flex-col sm:flex-row mt-12 lg:mt-0 lg:ml-auto">
          <a
            href="/forms/signup"
            class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all rounded-lg hover:to-indigo-600 bg-gradient-to-b from-indigo-300 via-indigo-400 to-indigo-500"
          >
            Sign up for free &nbsp;&nbsp; &rarr;
          </a>
        </div>l
      </div>
    </div>
  </div>
</section>
