---
import RoundedGrid from "../assets/RoundedGrid.astro";
---

<section class="relative overflow-hidden border-t border-white/5">
  <RoundedGrid />

  <div class="relative px-8 py-12 mx-auto max-w-7xl md:px-12 lg:px-32 lg:py-24">
    <div class="relative items-center">
      <div
        class="flex flex-col justify-between w-full lg:flex-row lg:items-end">
        <div class="max-w-xl">
          <p
            class="text-sm text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text">
            Get on board
          </p>
          <p class="mt-8 text-3xl font-normal tracking-tight text-white">
            Track your daily progress.
          </p>
          <p class="mt-4 text-base text-vulcan-300">
            Explore our comprehensive investment management solutions, carefully
            crafted to help you grow your wealth.
          </p>
        </div>
        <div class="lg:ml-auto">
          <a
            href="https://lexingtonthemes.lemonsqueezy.com/checkout/buy/cad98266-24b3-47fd-99a6-e65ad9af37f6"
            class="flex items-center justify-center w-full h-10 px-4 py-2 text-sm font-semibold text-white transition-all rounded-lg hover:to-indigo-600 bg-gradient-to-b from-indigo-300 via-indigo-400 to-indigo-500"
            >Buy Navy</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
