<section class="relative overflow-hidden border-t border-white/5">
  <div
    class="relative items-center w-full px-5 py-12 mx-auto md:px-12 lg:px-16 max-w-7xl lg:pb-32 lg:pt-48">
    <div class="max-w-xl mx-auto text-center">
      <svg
        class="h-32 mx-auto mt-24 lg:h-64 lg:mt-0"
        viewBox="0 0 200 200"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <rect
          width="200"
          height="200"
          rx="42"
          fill="url(#paint0_linear_1097_4226)"></rect>
        <g clip-path="url(#clip0_1097_4226)">
          <path
            d="M66.671 67C61.7894 67 57.1079 69.6401 53.6561 74.3395L42.391 89.6764C38.9392 94.3758 37 100.749 37 107.395C37 121.235 45.2406 132.454 55.4059 132.454C60.2875 132.454 64.9691 129.814 68.4208 125.115L76.213 114.506C76.2131 114.506 76.213 114.506 76.213 114.506L98.9167 83.5961C100.565 81.3517 102.801 80.0908 105.133 80.0908C109.036 80.0908 112.345 83.5542 113.492 88.3469L120.657 78.5918C117.389 71.6218 111.657 67 105.133 67C100.251 67 95.5694 69.6401 92.1176 74.3395L61.6218 115.858C59.9732 118.102 57.7373 119.363 55.4059 119.363C50.551 119.363 46.6154 114.005 46.6154 107.395C46.6154 104.221 47.5415 101.177 49.1901 98.9329L60.4551 83.5961C62.1037 81.3517 64.3396 80.0908 66.671 80.0908C70.5744 80.0908 73.8833 83.5544 75.0306 88.3472L82.196 78.5921C78.9272 71.6219 73.1957 67 66.671 67Z"
            fill="#F5F5F7"></path>
          <path
            d="M100.083 115.858C98.4348 118.102 96.1989 119.363 93.8675 119.363C89.9647 119.363 86.6559 115.901 85.5083 111.109L78.3433 120.864C81.6122 127.833 87.3434 132.454 93.8675 132.454C98.749 132.454 103.431 129.814 106.882 125.115L137.378 83.5961C139.027 81.3517 141.263 80.0908 143.594 80.0908C148.449 80.0908 152.385 85.449 152.385 92.0587C152.385 95.2328 151.458 98.2768 149.81 100.521L138.545 115.858C136.896 118.102 134.66 119.363 132.329 119.363C128.426 119.363 125.117 115.9 123.97 111.108L116.804 120.863C120.073 127.833 125.805 132.454 132.329 132.454C137.211 132.454 141.892 129.814 145.344 125.115L156.609 109.778C160.061 105.078 162 98.7047 162 92.0587C162 78.2191 153.759 67 143.594 67C138.712 67 134.031 69.6401 130.579 74.3395L100.083 115.858Z"
            fill="#F5F5F7"></path>
        </g>
        <defs>
          <linearGradient
            id="paint0_linear_1097_4226"
            x1="15"
            y1="187"
            x2="190"
            y2="17.0001"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#666bf2"></stop>
            <stop offset="1" stop-color="#a4b2fd"></stop>
          </linearGradient>
          <clipPath id="clip0_1097_4226">
            <rect
              width="125"
              height="65.4541"
              fill="white"
              transform="translate(37 67)"></rect>
          </clipPath>
        </defs>
      </svg>

      <p class="mt-12 font-normal tracking-tight text-white sm:text-4xl">
        Download our app
      </p>
      <p class="max-w-sm mx-auto mt-4 text-vulcan-300">
        A faster desktop experience with better notifications.
      </p>
      <div class="flex justify-center mt-12">
        <a
          class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all rounded-lg hover:to-indigo-600 bg-gradient-to-b from-indigo-300 via-indigo-400 to-indigo-500"
          href="#"
          >Download for macOS
        </a>
      </div>
      <div class="mt-4">
        <small class="text-vulcan-300"
          >Compatible with Apple Silicon and Intel
        </small>
      </div>
    </div>
  </div>
</section>
