---
import Blurgradienttop from '../assets/Blurgradienttop.astro';
---

<section aria-labelledby="hero" id="hero " class="relative">
  <Blurgradienttop />
  <section>
    <div class="relative items-center w-full px-5 py-12 mx-auto md:px-12 lg:px-16 max-w-7xl lg:pb-32 lg:pt-56">
      <div class="max-w-5xl mx-auto">
        <div class="text-left md:text-center">
          <div class="max-w-xl lg:items-end gap-6 lg:gap-12 mx-auto">
            <div>
              <span class="text-white font-medium tracking-widest text-xs uppercase">Jobs</span><p
                class="text-3xl mt-8 font-normal tracking-tight text-white"
              >
                Join us, and help us
                <span class="md:block"> bring software magic back</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="max-w-3xl mx-auto mt-24 relative">
        <div class="space-y-24">
          <div>
            <div class="border-b border-white/10 pb-5">
              <h3 class="text-base leading-6 text-white">Engineering</h3>
            </div>

            <div class="divide-y divide-white/10">
              <div class="sm:flex sm:items-center sm:justify-between">
                <h3 class="text-base text-vulcan-200 py-6">Senior - Staff Fullstack Engineer</h3>
                <div class="mt-3 sm:ml-4 sm:mt-0">
                  <a class="hover:text-indigo-400 text-white duration-200" href="/jobs/job-details"
                    >See job post &nbsp; &rarr;</a
                  >
                </div>
              </div>
              <div class="sm:flex sm:items-center sm:justify-between">
                <h3 class="text-base text-vulcan-200 py-6">Senior - Staff Mobile Engineer (iOS)</h3>
                <div class="mt-3 sm:ml-4 sm:mt-0">
                  <a class="hover:text-indigo-400 text-white duration-200" href="/jobs/job-details"
                    >See job post &nbsp; &rarr;</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="border-b border-white/10 pb-5">
              <h3 class="text-base leading-6 text-white">Design</h3>
            </div>

            <div class="divide-y divide-white/10">
              <div class="sm:flex sm:items-center sm:justify-between">
                <h3 class="text-base text-vulcan-200 py-6">Lead Product Designer</h3>
                <div class="mt-3 sm:ml-4 sm:mt-0">
                  <a class="hover:text-indigo-400 text-white duration-200" href="/jobs/job-details"
                    >See job post &nbsp; &rarr;</a
                  >
                </div>
              </div>
              <div class="sm:flex sm:items-center sm:justify-between">
                <h3 class="text-base text-vulcan-200 py-6">Senior Product Designer</h3>
                <div class="mt-3 sm:ml-4 sm:mt-0">
                  <a class="hover:text-indigo-400 text-white duration-200" href="/jobs/job-details"
                    >See job post &nbsp; &rarr;</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="border-b border-white/10 pb-5">
              <h3 class="text-base leading-6 text-white">Sales</h3>
            </div>

            <div class="divide-y divide-white/10">
              <div class="sm:flex sm:items-center sm:justify-between">
                <h3 class="text-base text-vulcan-200 py-6">Account Executive</h3>
                <div class="mt-3 sm:ml-4 sm:mt-0">
                  <a class="hover:text-indigo-400 text-white duration-200" href="/jobs/job-details"
                    >See job post &nbsp; &rarr;</a
                  >
                </div>
              </div>
              <div class="sm:flex sm:items-center sm:justify-between">
                <h3 class="text-base text-vulcan-200 py-6">Customer Success Manager</h3>
                <div class="mt-3 sm:ml-4 sm:mt-0">
                  <a class="hover:text-indigo-400 text-white duration-200" href="/jobs/job-details"
                    >See job post &nbsp; &rarr;</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
