---
import Verticalgrid from '../assets/Verticalgrid.astro';
import Blurgradientleft from '../assets/Blurgradientleft.astro';
import LogoCloudOne from '../testimonials/LogoCloudOne.astro';
---

<section class="relative">
  <Verticalgrid />
  <section>
    <Blurgradientleft />
    <div class="relative items-center w-full px-5 py-12 mx-auto md:px-12 lg:px-16 max-w-7xl lg:pb-32 lg:pt-56">
      <div class="max-w-5xl mx-auto">
        <div class="text-left md:text-center">
          <div class="max-w-xl gap-6 mx-auto lg:items-end lg:gap-12">
            <div>
              <span
                class="text-xs font-medium tracking-widest text-transparent uppercase bg-clip-text bg-gradient-to-r from-indigo-300 via-indigo-400 to-indigo-500"
                >Carriers</span
              ><p class="mt-8 text-3xl font-normal tracking-tight text-white">
                We are bringing Navy back to web development and UI Design
              </p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div
          class="mx-auto mt-24 prose prose-blockquote:border-l-white prose-a:text-indigo-500 hover:prose-a:text-white prose-headings:font-normal prose-headings:text-white prose-li:marker:text-indigo-500 text-vulcan-300 prose-code:text-white prose-blockquote:text-white/70"
        >
          <h2>The magic of software seems to have disappeared, and we need your help to bring it back.</h2>
          <p>
            There was a time when using software was a magical experience that transformed how we lived and worked. It
            made us feel like we were living in the future, and good software was an immersive experience.
          </p>
          <p>
            Nowadays, software is ubiquitous, but truly excellent software is exceedingly rare. Computers have become
            faster, but apps have become slower. Growth hacks have replaced craftsmanship, and incremental changes have
            replaced visionary product ideas. In this way, the magic of software has been lost along the way.
          </p>

          <p>
            At Navy, we're committed to bringing back the magic of software. We're developing tools for the next
            generation of high-impact companies, the place where ambitious creators bring their radical ideas to life.
            Our mission is to enable the world's top product and engineering teams to build products that evoke the same
            magical feeling that software used to bring.
          </p>
          <p>
            However, we can't do this alone. We're looking for talented individuals who share our passion for crafting
            exceptional software products. If that sounds like you, join us in our pursuit to restore the magic of
            software.
          </p>
          <div class="flex flex-col gap-12 pt-12 mt-12 border-t not-prose border-white/10 md:flex-row">
            <p>
              <a class="text-indigo-400 duration-200 hover:text-white" href="/jobs/job-entries"
                >See open positions &nbsp; &rarr;</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
<LogoCloudOne />
<section class="relative scroll-mt-24">
  <Verticalgrid />
  <div class="relative px-8 py-12 mx-auto max-w-7xl md:px-12 lg:px-32 lg:py-24">
    <div>
      <div class="max-w-xl">
        <span
          class="text-xs font-medium tracking-widest text-transparent uppercase bg-clip-text bg-gradient-to-r from-indigo-300 via-indigo-400 to-indigo-500"
          >"Company culture"</span
        >
        <p class="mt-8 text-3xl font-normal text-white tracking-tight">Join a team of winners</p>
        <p class="max-w-2xl mt-4 text-base text-vulcan-300">
          We're a team of designers and engineers, all united by our passion for problem-solving and storytelling. Our
          team is diverse, comprising individuals who are makers at heart.
        </p>
        <div class="mt-6 flex">
          <a
            class="rounded-lg px-4 py-2 text-sm font-semibold transition-all flex items-center justify-center text-white bg-gradient-to-b from-white/[.105] to-white/[.15] hover:to-white/[.25] h-10 ring-1 ring-inset ring-white/20 w-auto"
            href="/jobs/job-entries"
            >See all jobs &nbsp; &nbsp; &rarr;
          </a>
        </div>
      </div>
    </div>
    <div>
      <ul class="grid grid-cols-2 gap-8 mt-12 list-none md:grid-cols-4 lg:gap-12" role="list">
        <li>
          <p class="text-base text-vulcan-300">You are clear, concise, and engaging.</p>
        </li>
        <li>
          <p class="text-base text-vulcan-300">
            You care deeply about the quality of your work. Down to the last pixel.
          </p>
        </li>
        <li>
          <p class="text-base text-vulcan-300">
            You care deeply about the quality of your work. Down to the last pixel.
          </p>
        </li>
        <li>
          <p class="text-base text-vulcan-300">You are a team player who loves to co-create.</p>
        </li>
      </ul>
    </div>
  </div>
</section>
