<section class="relative overflow-x-hidden">
  <svg
    class="absolute top-0 right-0 blur-3xl opacity-80"
    width="50%"
    height="100%"
    viewBox="0 0 400 400"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_17_60)">
      <g filter="url(#filter0_f_17_60)">
        <path d="M128.6 0H0V322.2L332.5 211.5L128.6 0Z" fill="#4D07E3"></path>
        <path d="M0 322.2V400H240H320L332.5 211.5L0 322.2Z" fill="#4C00FF"
        ></path>
        <path d="M320 400H400V78.75L332.5 211.5L320 400Z" fill="#B5BFF1"></path>
        <path d="M400 0H128.6L332.5 211.5L400 78.75V0Z" fill="#7fcef3"></path>
      </g>
    </g>
    <defs>
      <filter
        id="filter0_f_17_60"
        x="-159.933"
        y="-159.933"
        width="719.867"
        height="719.867"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"></feBlend>
        <feGaussianBlur
          stdDeviation="79.9667"
          result="effect1_foregroundBlur_17_60"></feGaussianBlur>
      </filter>
    </defs>
  </svg>
  <div class="relative px-8 py-32 mx-auto max-w-7xl md:px-12 lg:px-32 lg:pt-56">
    <div class="max-w-3xl">
      <p class="text-3xl font-normal tracking-tight text-white">
        The benefits of learning a new language
      </p>
      <p class="mt-2 text-base text-vulcan-300">
        Learning a new language can open up a world of possibilities. It can
        help you gain new perspectives, make new friends, and even land a better
        job. In this post, we'll explore the benefits of learning a new language
        and why it's worth the effort."
      </p>
    </div>
  </div>
</section>
<section class="relative">
  <div class="relative px-8 py-12 mx-auto max-w-7xl md:px-12 lg:px-32">
    <div class="grid grid-cols-1 gap-10 xl:gap-24">
      <div>
        <div
          class="prose prose-blockquote:border-l-white prose-a:text-indigo-500 hover:prose-a:text-white prose-headings:font-normal prose-headings:text-white prose-li:marker:text-indigo-500 text-vulcan-300 prose-code:text-white prose-blockquote:text-white/70">
          <img
            src="https://cdn.sanity.io/images/ornj730p/production/282e11d75d4df3cbdd382179ea53d1621c994e25-3312x1734.jpg?w=828&q=95&auto=format&dpr=2"
            alt=""
          />
          <h2>Project Milestones</h2>
          <p>
            Every project is a journey. You might have a clear end goal in mind,
            but the path to get there is shrouded in a fog of uncertainty,
            making it challenging to navigate and stay on track.
          </p>
          <p>
            To shine some light into the fog, we are introducing Project
            Milestones — a new way to divide and organize work within projects.
          </p>
          <p>
            Milestones mark important points in a project’s lifecycle that the
            team needs to synchronize on. They make these key moments legible
            and break the project down into more granular phases.
          </p>
          <img
            src="https://cdn.sanity.io/images/ornj730p/production/e5f4d5bd456dd559cf541fd9b0b4350fd1df2d5d-3312x1734.jpg?w=828&q=95&auto=format&dpr=2"
            alt=""
          />
          <p>
            Creating project milestones in Lexington is easy: All you need is a
            name and a target date (the latter is optional). You can then assign
            issues to it (⇧+M is the fastest way to move an issue to a
            milestone).
          </p>
          <p>
            The project side-panel contains an overview of your milestones with
            progress data for each of them. Click on a milestone to instantly
            see all issues associated with it.
          </p>
          <p>
            Milestones are also visible on roadmaps, highlighting the stage each
            project is currently in and how much progress has been made. This
            gives you a better understanding of what’s going on across multiple
            streams of work.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
