<section aria-labelledby="faq" id="faq-section" class="relative border-y border-white/5">
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-32 lg:py-36 relative">
    <div>
      <div class="max-w-xl">
        <div class="w-full">
          <span
            class="text-transparent bg-clip-text font-medium tracking-widest bg-gradient-to-r from-indigo-300 via-indigo-400 to-indigo-500 text-xs uppercase"
            >Changelog</span
          >
          <h2 class="text-3xl mt-8 font-normal text-white">Stay updated</h2>
          <div class="max-w-lg mt-3">
            <p class="text-lg text-vulcan-300">Follow our changelog to keep yourself updatd</p>
          </div>
        </div>
      </div>
      <div class="mt-12 space-y-12 divide--2 divide-white/5">
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0 pl-4 border-l-2 border-white/5">
            <p class="text-sm text-vulcan-300">January 10th, 2023</p>
          </div>
          <div class="space-y-4 lg:col-span-2">
            <span class="text-lg text-white"> Multiple accounts</span>
            <p class="text-sm text-vulcan-300 mt-8">
              Fixed a bug that caused the account summary page to crash when displaying large amounts of data. This
              issue was primarily affecting users with a high number of transactions and multiple accounts. Our team was
              able to identify the cause of the problem and implement a fix to ensure a smooth and stable experience for
              all users.
            </p>

            <p class="mt-4">
              <a href="/changelog-details" class="text-sm leading-6 text-indigo-400 hover:text-white"
                >Read more <span aria-hidden="true">&rarr;</span></a
              >
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0 pl-4 border-l-2 border-white/5">
            <p class="text-sm text-vulcan-300">January 7th, 2023</p>
          </div>
          <div class="space-y-4 lg:col-span-2">
            <p class="text-lg text-white">Optimize the database</p>
            <p class="text-sm text-vulcan-300 mt-8">
              Improved the load times of the transaction history page by optimizing database queries. We received
              feedback from users that the page was taking longer than expected to load, especially for those with a
              large number of transactions. Our developers worked to optimize the database queries and reduce the amount
              of data being pulled, resulting in faster load times for the transaction history page.
            </p>
            <p class="mt-4">
              <a href="/changelog-details" class="text-sm leading-6 text-indigo-400 hover:text-white"
                >Read more <span aria-hidden="true">&rarr;</span></a
              >
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0 pl-4 border-l-2 border-white/5">
            <p class="text-sm text-vulcan-300">December 20th, 2022</p>
          </div>
          <div class="lg:col-span-2 space-y-4">
            <span class="text-lg text-white"> Recurring payments</span>
            <p class="text-sm text-vulcan-300 mt-8">
              Added a new feature that allows users to set up recurring payments for bills and subscriptions directly
              from their account. This feature allows users to schedule recurring payments for bills such as rent,
              utilities, and subscriptions, so they never miss a payment again. They can also view and manage all their
              scheduled payments in one place. This feature is available for both credit and debit accounts.
            </p>
            <p class="mt-4">
              <a href="/changelog-details" class="text-sm leading-6 text-indigo-400 hover:text-white"
                >Read more <span aria-hidden="true">&rarr;</span></a
              >
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0 pl-4 border-l-2 border-white/5">
            <p class="text-sm text-vulcan-300">December 15th, 2022</p>
          </div>
          <div class="lg:col-span-2 space-y-4">
            <span class="text-lg text-white"> Overall user experience</span>
            <p class="text-sm text-vulcan-300 mt-8">
              Updated the design of the account settings page for a more intuitive user experience. We received feedback
              that the previous design of the account settings page was confusing and difficult to navigate. Our design
              team worked to simplify the layout and improve the overall user experience. The new design is more
              streamlined and makes it easier for users to find and manage their account settings.
            </p>
            <p class="mt-4">
              <a href="/changelog-details" class="text-sm leading-6 text-indigo-400 hover:text-white"
                >Read more <span aria-hidden="true">&rarr;</span></a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
