<section class="relative overflow-x-hidden">
  <svg
    class="absolute blur-3xl right-0 top-0 opacity-80"
    width="50%"
    height="100%"
    viewBox="0 0 400 400"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_17_60)">
      <g filter="url(#filter0_f_17_60)">
        <path d="M128.6 0H0V322.2L332.5 211.5L128.6 0Z" fill="#4D07E3"></path>
        <path d="M0 322.2V400H240H320L332.5 211.5L0 322.2Z" fill="#4C00FF"></path>
        <path d="M320 400H400V78.75L332.5 211.5L320 400Z" fill="#B5BFF1"></path>
        <path d="M400 0H128.6L332.5 211.5L400 78.75V0Z" fill="#7fcef3"></path>
      </g>
    </g>
    <defs>
      <filter
        id="filter0_f_17_60"
        x="-159.933"
        y="-159.933"
        width="719.867"
        height="719.867"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
        <feGaussianBlur stdDeviation="79.9667" result="effect1_foregroundBlur_17_60"></feGaussianBlur>
      </filter>
    </defs>
  </svg>
  <div class="max-w-7xl px-8 md:px-12 relative lg:px-32 mx-auto py-32 lg:pt-56">
    <div class="max-w-3xl">
      <span
        class="text-transparent bg-clip-text font-medium tracking-widest bg-gradient-to-r from-indigo-300 via-indigo-400 to-indigo-500 text-xs uppercase"
        >LAST UPDATED OCTOBER 7, 2024</span
      >
      <p class="text-3xl mt-8 font-normal text-white">Cookie policy</p>
    </div>
  </div>
</section>
<section class="border-t border-white/10 relative">
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 relative">
    <div
      class="prose prose-blockquote:border-l-white prose-a:text-indigo-500 hover:prose-a:text-white prose-headings:font-normal prose-headings:text-white prose-li:marker:text-indigo-500 text-vulcan-300 prose-code:text-white prose-blockquote:text-white/70"
    >
      <p>
        This cookie policy describes how Navy (Navy) uses “cookies” and other similar technologies, in connection with
        our Site and Services. For more information on Navy privacy practices, please see our Privacy Policy.
      </p>
      <h3>About cookies</h3>
      <p>
        A cookie is a small piece of information stored on your computer via the web browser you use. Cookies are used
        to personalize your web experience with a website. They help with things like understanding how you use a
        website, remembering your login details, and storing site preferences.
      </p>
      <h3>How Navy uses cookies</h3>
      <p>
        Navy uses two types of cookies: first and third-party cookies. First party cookies are set and read by us when
        you use Navy. Third party cookies are set by companies other than Navy and collect information about you which
        may be sent to a third party. Navy uses third party cookies for site analytics purposes.
      </p>
      <h3>Opting out</h3>
      <p>
        You can customize your web browser to accept, reject, or delete cookies. All major browsers will give you the
        option to block some or all cookies and to clear existing cookie data.
      </p>
    </div>
  </div>
</section>
