<section
  aria-labelledby="faq"
  id="faq-section"
  class="relative scroll-mt-24 border-y border-white/5">
  <div class="relative px-8 py-12 mx-auto max-w-7xl md:px-12 lg:px-32 lg:py-24">
    <div>
      <div class="max-w-xl">
        <p
          class="text-sm text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text">
          Frequent questions and answers
        </p>
        <h2 class="mt-8 text-3xl font-normal tracking-tight text-white">
          Fully automated, fully supported
        </h2>
        <p class="mx-auto mt-4 text-base text-vulcan-300">
          Self-serve or work with a representative, we're here to help.
        </p>
      </div>
      <div class="mt-12 space-y-12 divide-y-2 divide-white/5">
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span class="text-base text-white">
              Lexington Themes identified charges on my account as unauthorized.
              What should I do?
            </span>
          </div>
          <div class="lg:col-span-2">
            <p class="text-base text-vulcan-300">
              If we got in touch with you about unauthorized charges and you
              think we have made a mistake, we will gladly look into this for
              you. We will have sent you a form that we need you to fill out in
              order for Lexington Themes to revisit your account. Please fill
              out the verification form that was sent to you. Once you have
              completed the verification, we will revisit your account and
              follow up with you.
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span class="text-base text-white">
              I recently received a request for my photo ID. Why does Lexington
              Themes UI need this? What should I do next?
            </span>
          </div>
          <div class="space-y-4 lg:col-span-2">
            <p class="text-base text-vulcan-300">
              Lexington Themes is legally required to complete what is called a
              KYC (Know Your Customer) Survey for every user that signs up,
              which includes completing identity verification for the person who
              chooses to be the owner, administrator, and representative of a
              Lexington Themes account. These requirements are intended to
              promote transparency and prevent individuals from using complex
              company structures to hide terrorist financing, money laundering,
              tax evasion, and other financial crimes. Usually, we are able to
              verify our users' identities automatically, but once in a while we
              are unable to and have to reach out for more information.
            </p>
            <p class="text-base text-vulcan-300">
              If you have not yet done so, visit the Verifications section of
              your Dashboard to upload your photo ID in your dashboard.
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span class="text-base text-white">
              Why has Lexington Themes placed a reserve on my new account?
            </span>
          </div>
          <div class="lg:col-span-2">
            <p class="text-base text-vulcan-300">
              Reserves are utilized to keep processing volume available within
              your Lexington Themes account to fund refunds or chargebacks.
              There are several possible reasons a reserve may be placed at
              onboarding. It could be that your business operates in an industry
              or with a business model that potentially creates additional
              credit risk, even if you are not yet receiving chargebacks. Some
              businesses may also collect payment far in advance, creating
              additional risk. Most reserves are temporary, however, and we are
              happy to revisit if you provide additional information by replying
              to the notification email you received.
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span class="text-base text-white">
              I just opened a new account but Lexington Themes told me I cannot
              process payments yet.
            </span>
          </div>
          <div class="lg:col-span-2">
            <p class="text-base text-vulcan-300">
              We know how important it is to be able to accept transactions and
              payouts quickly in order for a business to continue running
              smoothly. Lexington Themes is currently reviewing your submitted
              details so that we have a full understanding of your business.
              Unless we have requested more information, there is no action for
              you to take, and we will do our best to wrap our routine review up
              so you can get up and running.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
