---
import Blurgradienttop from "../assets/Blurgradienttop.astro";
---

<section aria-labelledby="Featurethree" id="Featurethree " class="relative">
  <Blurgradienttop />
  <div
    class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 relative space-y-24 lg:pt-56">
    <div class="max-w-2xl mx-auto lg:text-center">
      <div>
        <span class="text-white font-medium tracking-widest text-xs uppercase"
          >Our beloved customers
        </span>
        <p class="mt-8 text-3xl font-normal tracking-tight text-white">
          Meet our customers
        </p>
        <p class="text-base mt-2 text-vulcan-300 max-w-sm mx-auto">
          Navy powers thousands of high-impact product teams. From next-gen
          startups who reach for the stars to established greats who change the
          world.
        </p>
      </div>
    </div>
    <div
      class="grid grid-cols-2 lg:text-center gap-6 mt-12 list-none lg:grid-cols-4 lg:gap-12 lg:mt-24">
      <a
        href="/customers/case-study"
        class="hover:shadow-xl duration-200 items-center bg-gradient-to-b from-indigo-500 via-indigo-500/5 rounded-3xl inline-flex p-[0.060rem] shadow-2xl text-center bg-vulcan-900 aspect-square">
        <div
          class="bg-vulcan-900 px-6 sm:px-8 lg:py-8 h-full w-full rounded-3xl inline-flex items-center">
          <img src="/logos/adobe.svg" alt="" class="mx-auto" />
        </div>
      </a>
      <a
        href="/customers/case-study"
        class="hover:shadow-xl duration-200 items-center bg-gradient-to-b from-indigo-500 via-indigo-500/5 rounded-3xl inline-flex p-[0.060rem] shadow-2xl text-center bg-vulcan-900 aspect-square">
        <div
          class="bg-vulcan-900 px-6 sm:px-8 lg:py-8 h-full w-full rounded-3xl inline-flex items-center">
          <img src="/logos/dribbble.svg" alt="" class="mx-auto" />
        </div>
      </a>
      <a
        href="/customers/case-study"
        class="hover:shadow-xl duration-200 items-center bg-gradient-to-b from-indigo-500 via-indigo-500/5 rounded-3xl inline-flex p-[0.060rem] shadow-2xl text-center bg-vulcan-900 aspect-square">
        <div
          class="bg-vulcan-900 px-6 sm:px-8 lg:py-8 h-full w-full rounded-3xl inline-flex items-center">
          <img src="/logos/framer.svg" alt="" class="mx-auto" />
        </div>
      </a>
      <a
        href="/customers/case-study"
        class="hover:shadow-xl duration-200 items-center bg-gradient-to-b from-indigo-500 via-indigo-500/5 rounded-3xl inline-flex p-[0.060rem] shadow-2xl text-center bg-vulcan-900 aspect-square">
        <div
          class="bg-vulcan-900 px-6 sm:px-8 lg:py-8 h-full w-full rounded-3xl inline-flex items-center">
          <img src="/logos/github.svg" alt="" class="mx-auto" />
        </div>
      </a>
      <a
        href="/customers/case-study"
        class="hover:shadow-xl duration-200 items-center bg-gradient-to-b from-indigo-500 via-indigo-500/5 rounded-3xl inline-flex p-[0.060rem] shadow-2xl text-center bg-vulcan-900 aspect-square">
        <div
          class="bg-vulcan-900 px-6 sm:px-8 lg:py-8 h-full w-full rounded-3xl inline-flex items-center">
          <img src="/logos/notion.svg" alt="" class="mx-auto" />
        </div>
      </a>
      <a
        href="/customers/case-study"
        class="hover:shadow-xl duration-200 items-center bg-gradient-to-b from-indigo-500 via-indigo-500/5 rounded-3xl inline-flex p-[0.060rem] shadow-2xl text-center bg-vulcan-900 aspect-square">
        <div
          class="bg-vulcan-900 px-6 sm:px-8 lg:py-8 h-full w-full rounded-3xl inline-flex items-center">
          <img src="/logos/spacex.svg" alt="" class="mx-auto" />
        </div>
      </a>
      <a
        href="/customers/case-study"
        class="hover:shadow-xl duration-200 items-center bg-gradient-to-b from-indigo-500 via-indigo-500/5 rounded-3xl inline-flex p-[0.060rem] shadow-2xl text-center bg-vulcan-900 aspect-square">
        <div
          class="bg-vulcan-900 px-6 sm:px-8 lg:py-8 h-full w-full rounded-3xl inline-flex items-center">
          <img src="/logos/zoom.svg" alt="" class="mx-auto" />
        </div>
      </a>
      <a
        href="/customers/case-study"
        class="hover:shadow-xl duration-200 items-center bg-gradient-to-b from-indigo-500 via-indigo-500/5 rounded-3xl inline-flex p-[0.060rem] shadow-2xl text-center bg-vulcan-900 aspect-square">
        <div
          class="bg-vulcan-900 px-6 sm:px-8 lg:py-8 h-full w-full rounded-3xl inline-flex items-center">
          <img src="/logos/airbnb.svg" alt="" class="mx-auto" />
        </div>
      </a>
      <a
        href="/customers/case-study"
        class="hover:shadow-xl duration-200 items-center bg-gradient-to-b from-indigo-500 via-indigo-500/5 rounded-3xl inline-flex p-[0.060rem] shadow-2xl text-center bg-vulcan-900 aspect-square">
        <div
          class="bg-vulcan-900 px-6 sm:px-8 lg:py-8 h-full w-full rounded-3xl inline-flex items-center">
          <img src="/logos/contentfull.svg" alt="" class="mx-auto" />
        </div>
      </a>
      <a
        href="/customers/case-study"
        class="hover:shadow-xl duration-200 items-center bg-gradient-to-b from-indigo-500 via-indigo-500/5 rounded-3xl inline-flex p-[0.060rem] shadow-2xl text-center bg-vulcan-900 aspect-square">
        <div
          class="bg-vulcan-900 px-6 sm:px-8 lg:py-8 h-full w-full rounded-3xl inline-flex items-center">
          <img src="/logos/spotify.svg" alt="" class="mx-auto" />
        </div>
      </a>
      <a
        href="/customers/case-study"
        class="hover:shadow-xl duration-200 items-center bg-gradient-to-b from-indigo-500 via-indigo-500/5 rounded-3xl inline-flex p-[0.060rem] shadow-2xl text-center bg-vulcan-900 aspect-square">
        <div
          class="bg-vulcan-900 px-6 sm:px-8 lg:py-8 h-full w-full rounded-3xl inline-flex items-center">
          <img src="/logos/basecamp.svg" alt="" class="mx-auto" />
        </div>
      </a>
      <a
        href="/customers/case-study"
        class="hover:shadow-xl duration-200 items-center bg-gradient-to-b from-indigo-500 via-indigo-500/5 rounded-3xl inline-flex p-[0.060rem] shadow-2xl text-center bg-vulcan-900 aspect-square">
        <div
          class="bg-vulcan-900 px-6 sm:px-8 lg:py-8 h-full w-full rounded-3xl inline-flex items-center">
          <img src="/logos/ghost.svg" alt="" class="mx-auto" />
        </div>
      </a>
    </div>
  </div>
</section>
