---
import Blurgradienttop from "../assets/Blurgradienttop.astro";
---

<section aria-labelledby="id" id="id" class="relative">
  <Blurgradienttop />
  <div class="max-w-7xl px-8 md:px-12 relative lg:px-32 mx-auto py-12 lg:py-56">
    <div class="grid grid-cols-1 gap-10 xl:gap-24 lg:grid-cols-3">
      <div>
        <div class="flex flex-row gap-3">
          <img src="/integrations/dribbble.svg" alt="" />
          <p class="text-3xl font-normal text-white">Dribbble</p>
        </div>
        <div class="mt-2">
          <p class="text-base text-vulcan-300">
            Dribbble is a social media platform for designers.
          </p>

          <p class="text-indigo-400 hover:text-white mt-2">
            <a href="#">dribbble.com</a>
          </p>
        </div>
        <div class="border-t mt-6 pt-6 border-white/10">
          <p class="mt-2 text-base text-white">Founded</p>
          <p class="mt-2 text-base text-vulcan-300">Bilbao, 2020</p>
        </div>
      </div>

      <div class="lg:col-span-2 lg:order-first">
        <div>
          <div
            class="prose prose-blockquote:border-l-white prose-a:text-indigo-500 hover:prose-a:text-white prose-headings:font-normal prose-headings:text-white prose-li:marker:text-indigo-500 text-vulcan-300 prose-code:text-white prose-blockquote:text-white/70">
            <div class="lg:inline-flex items-center gap-3 not-prose">
              <p
                class="bg-gradient-to-r from-indigo-300 via-indigo-400 to-indigo-500 text-transparent bg-clip-text lg:pl-4 lg:border-l border-white mt-3 lg:mt-0">
                Customer story
              </p>
            </div>
            <h2>Dribbble</h2>
            <p>
              Dribbble is a social media platform for designers to showcase
              their work, get feedback, and connect with other creatives. It's a
              community of creative professionals sharing and discovering
              inspiring design work.
            </p>
            <blockquote>
              “ I love how opinionated Navy is. It helps us move fast. There’s
              more “doing” and less figuring out how to do it.
            </blockquote>
            <h2>How it works</h2>
            <p>
              The tool has been designed to simplify my life and my team's life
              by aiding in understanding, decision making, issue triage, and
              follow-up. The built-in features of Dribbble have exceeded my
              expectations and provided a native experience that is nearly
              perfect. My evaluation of products is based on their ease of use
              in performing basic actions, such as changing or editing text, and
              in this regard, Dribbble is incredibly intuitive. Whether I need
              to edit text or move an issue, the platform works seamlessly,
              feeling like an extension of myself. The team's attention to
              detail and consideration for user experience is evident in the
              thought and effort put into developing Dribbble.
            </p>
          </div>
          <div class="mt-12 space-y-3">
            <p class="text-white">Michael Andreuzza</p>
            <p class="text-vulcan-300">Broken Engineer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
