<section>
  <div
    class="relative items-center w-full px-4 py-24 mx-auto lg:py-32 md:px-12 lg:px-16 max-w-7xl">
    <div
      class="grid items-start grid-cols-1 gap-12 mx-auto md:grid-cols-2 xl:grid-cols-3">
      <div class="max-w-xl mx-auto lg:pr-6 col-span-full xl:col-span-1">
        <div>
          <span
            class="text-sm text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text"
            >pricing
          </span>
          <h2 class="mt-8 text-3xl font-normal tracking-tight text-white">
            Always know what you’ll pay from day one.
          </h2>
          <div class="max-w-lg mt-3">
            <p class="text-sm text-vulcan-300">
              Choose a plan that works the best for you and your team. Start
              small, upgrade when you need to.
            </p>
          </div>
          <ul class="mt-12 space-y-10 list-none" role="list">
            <li>
              <div class="text-base text-vulcan-300">
                <strong class="text-white"
                  >01. Multiple Locations Support</strong
                >
                ― Our platform allows for orders to be placed and fulfilled by multiple
                locations, making it easy for your users to order from the location
                closest to them. This feature also allows for regional or seasonal
                offerings
              </div>
            </li>
          </ul>
        </div>
      </div>
      <section
        class="flex flex-col rounded-3xl p-[0.060rem] shadow-2xl shadow-vulcan-950 bg-gradient-to-b from-slate-800 via-indigo-500/5">
        <div class="h-full px-6 bg-vulcan-900 sm:px-8 lg:py-8 rounded-3xl">
          <h3 class="mt-5 text-xl text-white">
            <span class="text-3xl">$6</span> — Hobby
          </h3>
          <p class="mt-2 text-base text-vulcan-300">For individuals</p>

          <ul
            role="list"
            class="flex flex-col order-last mt-10 text-sm text-vulcan-200 gap-y-3">
            <li class="flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 icon icon-tabler icon-tabler-circle-check"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>

              <span class="ml-4">Limited number of users (up to 5)</span>
            </li>
            <li class="flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 icon icon-tabler icon-tabler-circle-check"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="ml-4">Limited storage (1 GB)</span>
            </li>
            <li class="flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 icon icon-tabler icon-tabler-circle-check"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="ml-4">Basic support (email only)</span>
            </li>
            <li class="flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 icon icon-tabler icon-tabler-circle-check"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="ml-4">Basic analytics</span>
            </li>
            <li class="flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 icon icon-tabler icon-tabler-circle-check"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="ml-4">Limited integrations</span>
            </li>
          </ul>
          <div class="mt-8">
            <a
              class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all border rounded-lg bg-vulcan-900 hover:text-indigo-400 border-vulcan-700"
              aria-label="Big fish tier"
              href="/register">Get started</a
            >
          </div>
        </div>
      </section>
      <section
        class="flex flex-col p-[0.060rem] shadow-2xl rounded-3xl bg-gradient-to-b from-indigo-500 via-indigo-500/5">
        <div class="h-full px-6 bg-vulcan-900 sm:px-8 lg:py-8 rounded-3xl">
          <h3 class="mt-5 text-xl text-white">
            <span class="text-3xl">$12</span> — Pro
          </h3>
          <p class="mt-2 text-base text-vulcan-300">
            For medium-sized businesses
          </p>
          <ul
            role="list"
            class="flex flex-col order-last mt-10 text-sm text-white gap-y-3">
            <li class="flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 icon icon-tabler icon-tabler-circle-check"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="ml-4"> Unlimited users</span>
            </li>
            <li class="flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 icon icon-tabler icon-tabler-circle-check"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="ml-4">Unlimited storage</span>
            </li>
            <li class="flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 icon icon-tabler icon-tabler-circle-check"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="ml-4">Advanced support (email and phone)</span>
            </li>
            <li class="flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 icon icon-tabler icon-tabler-circle-check"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="ml-4">Advanced analytics</span>
            </li>
            <li class="flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 icon icon-tabler icon-tabler-circle-check"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="ml-4">Multiple integrations</span>
            </li>
            <li class="flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 icon icon-tabler icon-tabler-circle-check"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="ml-4">Customization options</span>
            </li>
            <li class="flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 icon icon-tabler icon-tabler-circle-check"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="ml-4">99.9% SLA</span>
            </li>
          </ul>
          <div class="mt-8">
            <a
              class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all rounded-lg hover:to-indigo-600 bg-gradient-to-b from-indigo-300 via-indigo-400 to-indigo-500"
              aria-label="Indie hacker tier"
              href="/register">Get started</a
            >
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
