---
import Verticalgrid from "../assets/Verticalgrid.astro";
import Blurgradientleft from "../assets/Blurgradientleft.astro";
---

<section class="relative overflow-hidden border-t border-white/5">
  <div class="hidden lg:block"><Verticalgrid /><Blurgradientleft /></div>
  <div class="relative px-8 py-12 mx-auto max-w-7xl md:px-12 lg:px-32 lg:py-24">
    <div class="max-w-xl lg:text-center lg:mx-auto">
      <span
        class="text-sm text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text"
        >pricing
      </span>
      <h2 class="mt-8 text-3xl font-normal tracking-tight text-white">
        Always know what you’ll pay,
        <span class="lg:block"> semitransparent pricing for some</span>
      </h2>
    </div>
  </div>
  <div class="pb-24 lg:pb-32">
    <!-- Here starts the mobile pricing table -->
    <div class="block lg:hidden">
      <div class="mx-auto mt-8">
        <div
          class="flex flex-col max-w-xl p-8 mx-auto mb-8 text-white border-0 shadow-sm">
          <div class="text-lg font-medium leading-6 text-white">
            Starter
            <span
              class="inline-flex float-right items-center px-3 py-0.5 rounded-md text-sm font-medium text-white bg-vulcan-800">
              -20%
            </span>
          </div>
          <div class="pr-2 mt-4 mb-2 text-sm font-normal text-vulcan-300">
            Hobby-20% For individuals
          </div>
          <div>
            <div class="flex mt-4 mb-6">
              <div class="flex-shrink-0 text-6xl font-bold text-white">$16</div>
              <div class="mt-auto ml-2 text-sm font-normal text-white">
                per user
                <br />
                per month
              </div>
            </div>
          </div>
          <div class="mt-4"></div>
          <li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              3
              <a href="#"> Analytics</a>
            </span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              5
              <a href="#">Accounts</a>
            </span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              2
              <a href="#"> Integrations</a>
            </span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              <a href="#"> Programs</a>
            </span>
          </li><table class="w-full">
            <caption class="py-3 text-sm font-normal text-left text-white">
              Product features
            </caption>
            <thead>
              <tr>
                <th class="sr-only" scope="col">Feature</th>
                <th class="sr-only" scope="col">Included</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-vulcan-800"> </tbody>
          </table>
          <li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Slack community</span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Response SLA: 3 days</span>
          </li><table class="w-full">
            <caption class="py-3 text-sm font-normal text-left text-white">
              Support and implementation
            </caption>
            <thead>
              <tr>
                <th class="sr-only" scope="col">Feature</th>
                <th class="sr-only" scope="col">Included</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-vulcan-800"> </tbody>
          </table>
          <li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              Unlimited
              <a
                href="https://help.Deployments.io/en/articles/5996599-what-is-a-user-in-Deployments-io#h_9a37c5759a">
                Viewers
              </a>
            </span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Minimum term: Month-to-month</span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Pay monthly</span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Pay yearly</span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Pay by credit card</span>
          </li><table class="w-full">
            <caption class="py-3 text-sm font-normal text-left text-white">
              Payment and terms
            </caption>
            <thead>
              <tr>
                <th class="sr-only" scope="col">Feature</th>
                <th class="sr-only" scope="col">Included</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-vulcan-800"> </tbody>
          </table>
          <div class="w-full py-2 mb-4">
            <button
              class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all border rounded-lg bg-vulcan-900 hover:text-indigo-400 border-vulcan-700">
              Get started for free
            </button>
          </div>
        </div>

        <div
          class="flex flex-col max-w-xl p-8 mx-auto mb-8 text-white border-0 shadow-sm">
          <div class="text-lg font-medium leading-6 text-indigo-400">Pro</div>
          <div class="pr-2 mt-4 mb-2 text-sm font-normal text-vulcan-300">
            Hobby-20% For individuals
          </div>
          <div>
            <div class="flex mt-4 mb-6">
              <div class="flex-shrink-0 text-6xl font-bold text-white">$26</div>
              <div class="mt-auto ml-2 text-sm font-normal text-white">
                per user
                <br />
                per month
              </div>
            </div>
          </div>
          <div class="mt-4"></div>
          <li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              10
              <a href="#"> Analytics</a>
            </span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              10
              <a href="#">Accounts</a>
            </span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              Unlimited
              <a href="#"> Integrations</a>
            </span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              1
              <a href="#"> Programs</a>
            </span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              <a href="#"> Deployments</a>
            </span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              <a href="#"> Advanced Checkpoints</a>
            </span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              <a href="#"> Private Deploymentss</a>
            </span>
          </li><table class="w-full">
            <caption class="py-3 text-sm font-normal text-left text-white">
              Product features
            </caption>
            <thead>
              <tr>
                <th class="sr-only" scope="col">Feature</th>
                <th class="sr-only" scope="col">Included</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-vulcan-800"> </tbody>
          </table>
          <li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Live chat</span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Response SLA: 1 day</span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              Dedicated Customer Success Manager
            </span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Training calls</span>
          </li><table class="w-full">
            <caption class="py-3 text-sm font-normal text-left text-white">
              Support and implementation
            </caption>
            <thead>
              <tr>
                <th class="sr-only" scope="col">Feature</th>
                <th class="sr-only" scope="col">Included</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-vulcan-800"> </tbody>
          </table>
          <li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> 30 Included users</span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              Unlimited
              <a href="#"> Viewers</a>
            </span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              Additional users: $23 per month
            </span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Volume discounts</span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Minimum term: 1 year</span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Pay yearly</span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Pay by credit card</span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Pay by bank transfer</span>
          </li><table class="w-full">
            <caption class="py-3 text-sm font-normal text-left text-white">
              Payment and terms
            </caption>
            <thead>
              <tr>
                <th class="sr-only" scope="col">Feature</th>
                <th class="sr-only" scope="col">Included</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-vulcan-800"> </tbody>
          </table>
          <div class="w-full py-2 mb-4">
            <button
              class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all rounded-lg hover:to-indigo-600 bg-gradient-to-b from-indigo-300 via-indigo-400 to-indigo-500">
              Get in touch
            </button>
          </div>
        </div>

        <div
          class="flex flex-col max-w-xl p-8 mx-auto mb-8 text-white border-0 shadow-sm">
          <div class="text-lg font-medium leading-6 text-white">Enterprise</div>
          <div class="pr-2 mt-4 mb-2 text-sm font-normal text-vulcan-300">
            Suitable for those that want to grow like a rocket and eat pizza
          </div>
          <div
            class="flex py-2 my-1 mt-8 text-sm font-normal rounded-md text-vulcan-300">
            <p>Talk to us</p>
          </div>
          <div class="mt-4"></div>
          <li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              Unlimited
              <a href="#"> Analytics</a>
            </span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              Unlimited
              <a href="#">Accounts</a>
            </span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              Unlimited
              <a href="#"> Integrations</a>
            </span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              Unlimited
              <a href="#"> Programs</a>
            </span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              <a href="#"> Deployments</a>
            </span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              <a href="#"> Advanced Checkpoints</a>
            </span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              <a href="#"> Private Deploymentss</a>
            </span>
          </li><table class="w-full">
            <caption class="py-3 text-sm font-normal text-left text-white">
              Product features
            </caption>
            <thead>
              <tr>
                <th class="sr-only" scope="col">Feature</th>
                <th class="sr-only" scope="col">Included</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-vulcan-800"> </tbody>
          </table>
          <li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              Dedicated Discord and Premium support
            </span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Response SLA: 3 hours</span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Service Level Agreement</span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              Dedicated Customer Success Manager
            </span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Training calls</span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              Custom implementation sessions
            </span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              Dedicated Slack support channel
            </span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              <a
                href="https://help.Deployments.io/en/articles/5948396-our-pricing-plans#h_4a76f246cc">
                Sandbox Environments
              </a>
            </span>
          </li><table class="w-full">
            <caption class="py-3 text-sm font-normal text-left text-white">
              Support and implementation
            </caption>
            <thead>
              <tr>
                <th class="sr-only" scope="col">Feature</th>
                <th class="sr-only" scope="col">Included</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-vulcan-800"> </tbody>
          </table>
          <li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Master Services Agreement</span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> SOC2 Report</span>
          </li><table class="w-full">
            <caption class="py-3 text-sm font-normal text-left text-white">
              Procurement process
            </caption>
            <thead>
              <tr>
                <th class="sr-only" scope="col">Feature</th>
                <th class="sr-only" scope="col">Included</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-vulcan-800"> </tbody>
          </table>
          <li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> 100 Included users</span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              Unlimited
              <a
                href="https://help.Deployments.io/en/articles/5996599-what-is-a-user-in-Deployments-io#h_9a37c5759a">
                Viewers
              </a>
            </span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal">
              Additional users: $40 per month
            </span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Volume discounts</span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Minimum term: 1 year</span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Pay yearly</span>
          </li><li class="flex py-2 text-sm text-vulcan-300">
            <svg
              class="flex-shrink-0 w-5 h-5 text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="ml-3 font-normal"> Pay by bank transfer</span>
          </li><table class="w-full">
            <caption class="py-3 text-sm font-normal text-left text-white">
              Payment and terms
            </caption>
            <thead>
              <tr>
                <th class="sr-only" scope="col">Feature</th>
                <th class="sr-only" scope="col">Included</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-vulcan-800"> </tbody>
          </table>
          <div class="w-full py-2 mb-4">
            <button
              class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all border rounded-lg bg-vulcan-900 hover:text-indigo-400 border-vulcan-700">
              Get in touch
            </button>
          </div>
        </div>
      </div>
    </div>
    <!---- Here starts the Desktop pricing table -->
    <section class="relative hidden lg:block">
      <div
        class="max-w-6xl p-20 mx-auto overflow-hidden border border-white/5 rounded-3xl bg-vulcan-900">
        <table class="w-full mx-auto text-white bg-vulcan-900">
          <thead>
            <tr class="text-left align-top">
              <th class=""></th>
              <th class="w-1/4 px-2">
                <div class="text-lg font-medium leading-6 text-white">
                  Hobby
                  <span
                    class="inline-flex float-right items-center px-3 py-0.5 rounded-md text-sm font-medium text-white bg-vulcan-800">
                    -20%
                  </span>
                </div>
                <div class="pr-2 mt-4 mb-2">
                  <p class="mt-6 text-sm font-normal text-vulcan-300">
                    For individuals
                  </p>
                </div>
              </th>
              <th class="w-1/4 px-2">
                <div class="text-lg font-medium leading-6 text-indigo-400">
                  Pro
                </div>
                <div class="pr-2 mt-4 mb-2">
                  <p class="mt-6 text-sm font-normal text-vulcan-300">
                    For medium businesses
                  </p>
                </div>
              </th>
              <th class="w-1/4 px-2">
                <div class="text-lg font-medium leading-6 text-white">
                  Enterprise
                </div>
                <div class="pr-2 mt-4 mb-2">
                  <p class="mt-6 text-sm font-normal text-vulcan-300">
                    For organizations
                  </p>
                </div>
              </th>
            </tr>
            <tr class="text-left align-middle">
              <th class=""></th>
              <th class="w-1/4 px-2">
                <div>
                  <div class="flex mt-4 mb-6">
                    <div class="flex-shrink-0 text-6xl font-normal text-white">
                      $16
                    </div>
                    <div class="mt-auto ml-2 text-sm font-normal text-white">
                      per user
                      <br />
                      per month
                    </div>
                  </div>
                </div>
              </th>
              <th class="w-1/4 px-2">
                <div>
                  <div class="flex mt-4 mb-6">
                    <div class="flex-shrink-0 text-6xl font-normal text-white">
                      $20
                    </div>
                    <div class="mt-auto ml-2 text-sm font-normal text-white">
                      per user
                      <br />
                      per month
                    </div>
                  </div>
                </div>
              </th>
              <th class="w-1/4 px-2">
                <div class="flex py-2 my-1 mt-8 text-sm font-normal text-white">
                  <p class="leading-5">Talk to us</p>
                </div>
              </th>
            </tr>
            <tr class="text-left align-top">
              <th class="px-2"></th>
              <th class="w-1/4 px-2">
                <div class="w-full py-2 mb-4">
                  <a
                    class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all border rounded-lg bg-vulcan-900 hover:text-indigo-400 border-vulcan-700">
                    Get started for free
                  </a>
                </div>
              </th>
              <th class="w-1/4 px-2">
                <div class="w-full py-2 mb-4">
                  <a
                    class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all rounded-lg hover:to-indigo-600 bg-gradient-to-b from-indigo-300 via-indigo-400 to-indigo-500">
                    Get in touch
                  </a>
                </div>
              </th>
              <th class="w-1/4 px-2">
                <div class="w-full py-2 mb-4">
                  <a
                    class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all border rounded-lg bg-vulcan-900 hover:text-indigo-400 border-vulcan-700"
                    id="billing-plan-get-in-touch-enterprise">
                    Get in touch
                  </a>
                </div>
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-white/10">
            <tr>
              <th
                class="py-3 text-base font-medium text-left text-white"
                colspan="4"
                scope="colgroup">
                Product features
              </th>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-vulcan-300">
                Analytics
                <p class="inline"></p>
              </th>
              <td class="px-2 text-sm font-normal text-center">3</td>
              <td class="px-2 text-sm font-normal text-center">10</td>
              <td class="px-2 text-sm font-normal text-center">Unlimited</td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-vulcan-300">
                Accounts
                <p class="inline"></p>
              </th>
              <td class="px-2 text-sm font-normal text-center">5</td>
              <td class="px-2 text-sm font-normal text-center">10</td>
              <td class="px-2 text-sm font-normal text-center">Unlimited</td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-vulcan-300">
                Integrations
                <p class="inline"></p>
              </th>
              <td class="px-2 text-sm font-normal text-center">2</td>
              <td class="px-2 text-sm font-normal text-center">Unlimited</td>
              <td class="px-2 text-sm font-normal text-center">Unlimited</td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-vulcan-300">
                Programs
                <p class="inline"></p>
              </th>
              <td class="px-2 text-sm font-normal text-center"
                ><svg
                  class="mx-auto icon icon-tabler icon-tabler-minus text-vulcan-300"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  height="20"
                  width="20"
                  ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                  ></path><path d="M5 12l14 0"></path></svg
                ></td
              >
              <td class="px-2 text-sm font-normal text-center">1</td>
              <td class="px-2 text-sm font-normal text-center">Unlimited</td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-vulcan-300">
                Deployments
                <p class="inline"></p>
              </th>
              <td class="px-2 text-sm font-normal text-center">
                <div>
                  <svg
                    class="mx-auto icon icon-tabler icon-tabler-minus text-vulcan-300"
                    fill="none"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    height="20"
                    width="20"
                    ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                    ></path><path d="M5 12l14 0"></path></svg
                  >
                </div>
              </td>
              <td class="px-2 text-sm font-normal text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="mx-auto text-indigo-400 icon icon-tabler icon-tabler-check"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
              </td>
              <td class="px-2 text-sm font-normal text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="mx-auto text-indigo-400 icon icon-tabler icon-tabler-check"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
              </td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-vulcan-300">
                Advanced Checkpoints
                <p class="inline"></p>
              </th>
              <td class="px-2 text-sm font-normal text-center">
                <div>
                  <svg
                    class="mx-auto icon icon-tabler icon-tabler-minus text-vulcan-300"
                    fill="none"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    height="20"
                    width="20"
                    ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                    ></path><path d="M5 12l14 0"></path></svg
                  >
                </div>
              </td>
              <td class="px-2 text-sm font-normal text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="mx-auto text-indigo-400 icon icon-tabler icon-tabler-check"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
              </td>
              <td class="px-2 text-sm font-normal text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="mx-auto text-indigo-400 icon icon-tabler icon-tabler-check"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
              </td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-vulcan-300">
                Private Deploymentss
                <p class="inline"></p>
              </th>
              <td class="px-2 text-sm font-normal text-center">
                <div>
                  <svg
                    class="mx-auto icon icon-tabler icon-tabler-minus text-vulcan-300"
                    fill="none"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    height="20"
                    width="20"
                    ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                    ></path><path d="M5 12l14 0"></path></svg
                  >
                </div>
              </td>
              <td class="px-2 text-sm font-normal text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="mx-auto text-indigo-400 icon icon-tabler icon-tabler-check"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
              </td>
              <td class="px-2 text-sm font-normal text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="mx-auto text-indigo-400 icon icon-tabler icon-tabler-check"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
              </td>
            </tr>
            <tr>
              <th
                class="py-3 text-base font-medium text-left text-white"
                colspan="4"
                scope="colgroup">
                Support and performance
              </th>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-vulcan-300"
                >Support</th
              >
              <td class="px-2 text-sm font-normal text-center"
                >Discord community</td
              >
              <td class="px-2 text-sm font-normal text-center">Live chat</td>
              <td class="px-2 text-sm font-normal text-center">
                Dedicated Discord</td
              >
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-vulcan-300">
                SLA
              </th>
              <td class="px-2 text-sm font-normal text-center">4 days</td>
              <td class="px-2 text-sm font-normal text-center">3 day</td>
              <td class="px-2 text-sm font-normal text-center">1 hour</td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-vulcan-300">
                Service Agreement
              </th>
              <td class="px-2 text-sm font-normal text-center">
                <div>
                  <svg
                    class="mx-auto icon icon-tabler icon-tabler-minus text-vulcan-300"
                    fill="none"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    height="20"
                    width="20"
                    ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                    ></path><path d="M5 12l14 0"></path></svg
                  >
                </div>
              </td>
              <td class="px-2 text-sm font-normal text-center">
                <div>
                  <svg
                    class="mx-auto icon icon-tabler icon-tabler-minus text-vulcan-300"
                    fill="none"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    height="20"
                    width="20"
                    ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                    ></path><path d="M5 12l14 0"></path></svg
                  >
                </div>
              </td>
              <td class="px-2 text-sm font-normal text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="mx-auto text-indigo-400 icon icon-tabler icon-tabler-check"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
              </td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-vulcan-300">
                Dedicated Manager
              </th>
              <td class="px-2 text-sm font-normal text-center">
                <div>
                  <svg
                    class="mx-auto icon icon-tabler icon-tabler-minus text-vulcan-300"
                    fill="none"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    height="20"
                    width="20"
                    ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                    ></path><path d="M5 12l14 0"></path></svg
                  >
                </div>
              </td>
              <td class="px-2 text-sm font-normal text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="mx-auto text-indigo-400 icon icon-tabler icon-tabler-check"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
              </td>
              <td class="px-2 text-sm font-normal text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="mx-auto text-indigo-400 icon icon-tabler icon-tabler-check"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
              </td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-vulcan-300">
                Training
              </th>
              <td class="px-2 text-sm font-normal text-center">
                <div>
                  <svg
                    class="mx-auto icon icon-tabler icon-tabler-minus text-vulcan-300"
                    fill="none"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    height="20"
                    width="20"
                    ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                    ></path><path d="M5 12l14 0"></path></svg
                  >
                </div>
              </td>
              <td class="px-2 text-sm font-normal text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="mx-auto text-indigo-400 icon icon-tabler icon-tabler-check"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
              </td>
              <td class="px-2 text-sm font-normal text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="mx-auto text-indigo-400 icon icon-tabler icon-tabler-check"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
              </td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-vulcan-300">
                Custom sessions
              </th>
              <td class="px-2 text-sm font-normal text-center">
                <div>
                  <svg
                    class="mx-auto icon icon-tabler icon-tabler-minus text-vulcan-300"
                    fill="none"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    height="20"
                    width="20"
                    ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                    ></path><path d="M5 12l14 0"></path></svg
                  >
                </div>
              </td>
              <td class="px-2 text-sm font-normal text-center">
                <div>
                  <svg
                    class="mx-auto icon icon-tabler icon-tabler-minus text-vulcan-300"
                    fill="none"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    height="20"
                    width="20"
                    ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                    ></path><path d="M5 12l14 0"></path></svg
                  >
                </div>
              </td>
              <td class="px-2 text-sm font-normal text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="mx-auto text-indigo-400 icon icon-tabler icon-tabler-check"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
              </td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-vulcan-300">
                Dedicated support channel
              </th>
              <td class="px-2 text-sm font-normal text-center">
                <div>
                  <svg
                    class="mx-auto icon icon-tabler icon-tabler-minus text-vulcan-300"
                    fill="none"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    height="20"
                    width="20"
                    ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                    ></path><path d="M5 12l14 0"></path></svg
                  >
                </div>
              </td>
              <td class="px-2 text-sm font-normal text-center">
                <div>
                  <svg
                    class="mx-auto icon icon-tabler icon-tabler-minus text-vulcan-300"
                    fill="none"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    height="20"
                    width="20"
                    ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                    ></path><path d="M5 12l14 0"></path></svg
                  >
                </div>
              </td>
              <td class="px-2 text-sm font-normal text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="mx-auto text-indigo-400 icon icon-tabler icon-tabler-check"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
              </td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-vulcan-300">
                Webstorm Environments
                <p class="inline"></p>
              </th>
              <td class="px-2 text-sm font-normal text-center">
                <div>
                  <svg
                    class="mx-auto icon icon-tabler icon-tabler-minus text-vulcan-300"
                    fill="none"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    height="20"
                    width="20"
                    ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                    ></path><path d="M5 12l14 0"></path></svg
                  >
                </div>
              </td>
              <td class="px-2 text-sm font-normal text-center">
                <div>
                  <svg
                    class="mx-auto icon icon-tabler icon-tabler-minus text-vulcan-300"
                    fill="none"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    height="20"
                    width="20"
                    ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                    ></path><path d="M5 12l14 0"></path></svg
                  >
                </div>
              </td>
              <td class="px-2 text-sm font-normal text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="mx-auto text-indigo-400 icon icon-tabler icon-tabler-check"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
              </td>
            </tr>

            <tr>
              <th
                class="py-3 text-base font-medium text-left text-white"
                colspan="4"
                scope="colgroup">
                Payment
              </th>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-vulcan-300">
                Included accounts
              </th>
              <td class="px-2 text-sm font-normal text-center"
                ><svg
                  class="mx-auto icon icon-tabler icon-tabler-minus text-vulcan-300"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  height="20"
                  width="20"
                  ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                  ></path><path d="M5 12l14 0"></path></svg
                ></td
              >
              <td class="px-2 text-sm font-normal text-center">30</td>
              <td class="px-2 text-sm font-normal text-center">100</td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-vulcan-300">
                Views
                <p class="inline"></p>
              </th>
              <td class="px-2 text-sm font-normal text-center">Unlimited</td>
              <td class="px-2 text-sm font-normal text-center">Unlimited</td>
              <td class="px-2 text-sm font-normal text-center">Unlimited</td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-vulcan-300">
                Additional accounts
              </th>
              <td class="px-2 text-sm font-normal text-center"
                ><svg
                  class="mx-auto icon icon-tabler icon-tabler-minus text-vulcan-300"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  height="20"
                  width="20"
                  ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                  ></path><path d="M5 12l14 0"></path></svg
                ></td
              >
              <td class="px-2 text-sm font-normal text-center">$23 per month</td
              >
              <td class="px-2 text-sm font-normal text-center">$40 per month</td
              >
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-vulcan-300">
                Discounts
              </th>
              <td class="px-2 text-sm font-normal text-center">
                <div>
                  <svg
                    class="mx-auto icon icon-tabler icon-tabler-minus text-vulcan-300"
                    fill="none"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    height="20"
                    width="20"
                    ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                    ></path><path d="M5 12l14 0"></path></svg
                  >
                </div>
              </td>
              <td class="px-2 text-sm font-normal text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="mx-auto text-indigo-400 icon icon-tabler icon-tabler-check"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
              </td>
              <td class="px-2 text-sm font-normal text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="mx-auto text-indigo-400 icon icon-tabler icon-tabler-check"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
              </td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-vulcan-300">
                Minimum term
              </th>
              <td class="px-2 text-sm font-normal text-center"
                >Month-to-month</td
              >
              <td class="px-2 text-sm font-normal text-center"
                >Month-to-month</td
              >
              <td class="px-2 text-sm font-normal text-center">1 year</td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-vulcan-300">
                Pay monthly
              </th>
              <td class="px-2 text-sm font-normal text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="mx-auto text-indigo-400 icon icon-tabler icon-tabler-check"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
              </td>
              <td class="px-2 text-sm font-normal text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="mx-auto text-indigo-400 icon icon-tabler icon-tabler-check"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
              </td>
              <td class="px-2 text-sm font-normal text-center">
                <div>
                  <svg
                    class="mx-auto icon icon-tabler icon-tabler-minus text-vulcan-300"
                    fill="none"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    height="20"
                    width="20"
                    ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                    ></path><path d="M5 12l14 0"></path></svg
                  >
                </div>
              </td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-vulcan-300">
                Pay yearly
              </th>
              <td class="px-2 text-sm font-normal text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="mx-auto text-indigo-400 icon icon-tabler icon-tabler-check"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
              </td>
              <td class="px-2 text-sm font-normal text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="mx-auto text-indigo-400 icon icon-tabler icon-tabler-check"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
              </td>
              <td class="px-2 text-sm font-normal text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="mx-auto text-indigo-400 icon icon-tabler icon-tabler-check"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
              </td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-vulcan-300">
                Pay by credit card
              </th>
              <td class="px-2 text-sm font-normal text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="mx-auto text-indigo-400 icon icon-tabler icon-tabler-check"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
              </td>
              <td class="px-2 text-sm font-normal text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="mx-auto text-indigo-400 icon icon-tabler icon-tabler-check"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
              </td>
              <td class="px-2 text-sm font-normal text-center">
                <div>
                  <svg
                    class="mx-auto icon icon-tabler icon-tabler-minus text-vulcan-300"
                    fill="none"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    height="20"
                    width="20"
                    ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                    ></path><path d="M5 12l14 0"></path></svg
                  >
                </div>
              </td>
            </tr>
            <tr>
              <th class="py-3 text-sm font-normal text-left text-vulcan-300">
                Pay by bank transfer
              </th>
              <td class="px-2 text-sm font-normal text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="mx-auto text-indigo-400 icon icon-tabler icon-tabler-check"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
              </td>
              <td class="px-2 text-sm font-normal text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="mx-auto text-indigo-400 icon icon-tabler icon-tabler-check"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
              </td>
              <td class="px-2 text-sm font-normal text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="mx-auto text-indigo-400 icon icon-tabler icon-tabler-check"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
                </svg>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</section>
