---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
const allPosts = await getCollection('alumni');
import CtaFive from '../../components/newsletter/Newsletter.astro';
import EntriesOne from '../../components/entries/EntriesOne.astro';
import { AstroSeo } from '@astrolib/seo';
import MenteeCard from '../../components/mentees/MenteeCard.astro';
---

<!---
Use AstroSeo in all the pages you want different Seo than the index page
-->
<AstroSeo
  title="Mentees | DXMentorship"
  description="Showcase of our previous mentees"
  canonical="https://www.dxmentorship.com"
  openGraph={{
    url: 'https://www.dxmentorship.com',
    title: 'DXMentorship Mentees',
    description: 'Showcase of our previous mentees',
    images: [
      {
        url: '/opengraph/mentees-og.png',
        width: 1200,
        height: 630,
        alt: 'Social open graph',
        type: 'image/jpeg',
      },
      {
        url: '/opengraph/mentees-og.png',
        width: 4096,
        height: 4096,
        alt: 'Twitter open graph',
        type: 'image/jpeg',
      },
      { url: '/opengraph/mentees-og.png' },
      { url: '/opengraph/mentees-og.png' },
    ],
    site_name: 'DXMentorship',
  }}
  twitter={{
    handle: '@dxmentorship',
    site: '@site',
    cardType: 'summary_large_image',
  }}
/>
<BaseLayout>
  <section>
    <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-32 lg:py-36 relative">
      <div class="max-w-2xl">
        <p class="text-sm text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text">
          Our Past Mentees
        </p><p class="mt-8 text-4xl font-normal tracking-tighter text-white sm:text-5xl">
          Mentees from our previous cohorts
        </p>
      </div>

      <div class="py-24">
        <ol class="grid grid-cols-1 gap-4 lg:grid-cols-3 sm:grid-cols-2" role="list">
          {
            allPosts
              .slice()
              .map((post) => (
                <MenteeCard
                  url={'/alumni/' + post.slug}
                  name={post.data.name}
                  description={post.data.description}
                  image={post.data.image}
                  title={post.data.title}
                />
              ))
          }
        </ol>
      </div>
    </div>
  </section>

  <CtaFive />
</BaseLayout>
