---
---

<section aria-labelledby="Featurethree" id="Featurethree " class="relative">
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 relative space-y-24 lg:pt-4">
    <div class="max-w-2xl mx-auto lg:text-center">
      <div>
        <p class="mt-32 text-3xl font-normal tracking-tight text-white">Meet some of our Past Mentees</p>
        <p class="text-base mt-2 text-vulcan-300 max-w-sm mx-auto">
          DxMentorship has contributed to the Journey of these amazing folks
        </p>
      </div>
    </div>
    <div class="grid grid-cols-2 lg:text-center gap-6 mt-12 list-none lg:grid-cols-4 lg:gap-12 lg:mt-24">
      <a
        href="/customers/case-study"
        class="hover:shadow-xl duration-200 items-center bg-gradient-to-b from-indigo-500 via-indigo-500/5 rounded-3xl inline-flex p-[0.060rem] shadow-2xl text-center bg-vulcan-900 aspect-square"
      >
        <div class="bg-vulcan-900 overflow-hidden h-full w-full rounded-3xl inline-flex items-center">
          <img src="https://res.cloudinary.com//kennyy/image/upload/v1662130373/dami_tgicgp.jpg?w=256&q=75" alt="" class="mx-auto" />
        </div>
      </a>
      <a
        href="/customers/case-study"
        class="hover:shadow-xl duration-200 items-center bg-gradient-to-b from-indigo-500 via-indigo-500/5 rounded-3xl inline-flex p-[0.060rem] shadow-2xl text-center bg-vulcan-900 aspect-square"
      >
        <div class="bg-vulcan-900 overflow-hidden h-full w-full rounded-3xl inline-flex items-center">
          <img src="https://res.cloudinary.com//kennyy/image/upload/v1659294659/harpreet_vvpr4h.jpg?w=256&q=75" alt="" class="mx-auto" />
        </div>
      </a>
      <a
        href="/customers/case-study"
        class="hover:shadow-xl duration-200 items-center bg-gradient-to-b from-indigo-500 via-indigo-500/5 rounded-3xl inline-flex p-[0.060rem] shadow-2xl text-center bg-vulcan-900 aspect-square"
      >
        <div class="bg-vulcan-900 overflow-hidden h-full w-full rounded-3xl inline-flex items-center">
          <img src="https://res.cloudinary.com//kennyy/image/upload/v1659294659/gloria_eeuj08.jpg?w=256&q=75" alt="" class="mx-auto" />
        </div>
      </a>
      <a
        href="/customers/case-study"
        class="hover:shadow-xl duration-200 items-center bg-gradient-to-b from-indigo-500 via-indigo-500/5 rounded-3xl inline-flex p-[0.060rem] shadow-2xl text-center bg-vulcan-900 aspect-square"
      >
        <div class="bg-vulcan-900 overflow-hidden h-full w-full rounded-3xl inline-flex items-center">
          <img src="https://res.cloudinary.com//kennyy/image/upload/v1659294659/teri_ukpn22.jpg?w=256&q=75" alt="" class="mx-auto" />
        </div>
      </a>
    </div>
  </div>
</section>
