---
import { getCollection } from 'astro:content';
const mentors = await getCollection('mentors');
---

<section aria-labelledby="Featurethree" id="Featurethree " class="relative">
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 relative space-y-24 lg:pt-4">
    <div class="max-w-2xl mx-auto lg:text-center">
      <div>
        <p class="mt-32 text-3xl font-normal tracking-tight text-white">Meet some of our past mentors</p>
        <p class="text-base mt-2 text-vulcan-300 max-w-md mx-auto">
          These wonderful people have shared their knowledge with us and helped our mentees skill up. We are grateful
          for their time and effort.
        </p>
      </div>
    </div>

    <div class="grid grid-cols-2 lg:text-center gap-6 mt-12 list-none lg:grid-cols-3 lg:gap-12 lg:mt-24">
      {
        mentors.map((mentor) => (
          <a
            target="_blank"
            href={`${mentor.data.twitter}`}
            class="hover:shadow-xl duration-200 bg-gradient-to-b from-indigo-500 via-indigo-500/5 rounded-3xl inline-flex p-[0.060rem] shadow-2xl text-center bg-vulcan-900"
          >
            <div class="bg-vulcan-900 overflow-hidden h-full w-full rounded-3xl flex flex-col justify-center">
              <img
                height="500"
                class="group-hover:scale-110 duration-300"
                loading="lazy"
                src={mentor.data.image}
                alt={mentor.data.name}
                width="560"
              />
              <p class="text-white py-3 px-1 ">{mentor.data.name}</p>
            </div>
          </a>
        ))
      }
    </div>
  </div>
</section>
