<section class="relative border-y border-white/5">
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-32 lg:py-36 relative">
    <div>
      <div class="max-w-xl">
        <div class="w-full">
          <span
            class="text-transparent bg-clip-text font-medium tracking-widest bg-gradient-to-r from-indigo-300 via-indigo-400 to-indigo-500 text-xs uppercase"
            >Method</span
          >
          <h2 class="text-3xl mt-8 font-normal text-white">The Navy Method</h2>
          <div class="max-w-lg mt-3 space-y-3">
            <p class="text-lg text-vulcan-300">Practices for building</p>
            <p class="text-lg text-vulcan-300">
              At Navy, we hold the belief that software has the ability to evoke a sense of enchantment. We recognize
              that the quality of software is influenced not only by the skillset of its creators but also by the level
              of enjoyment they experience while developing it.
            </p>
          </div>
        </div>
      </div>
      <div class="max-w-3xl mt-24">
        <div class="space-y-24">
          <div>
            <div class="border-b border-white/10 pb-5">
              <h3 class="text-base leading-6 text-vulcan-300">
                <span class="text-white">01 ⏤</span> Introduction
              </h3>
            </div>

            <div class="divide-y divide-white/10">
              <p class="py-6">
                <a class="hover:text-indigo-400 text-white duration-200 w-full flex" href="/method-details"
                  >Principles & Practices <span class="ml-auto">&rarr;</span></a
                >
              </p>
            </div>
          </div>
          <div>
            <div class="border-b border-white/10 pb-5">
              <h3 class="text-base leading-6 text-vulcan-300">
                <span class="text-white">02 ⏤</span> Direction
              </h3>
            </div>

            <div class="divide-y divide-white/10">
              <p class="py-6">
                <a class="hover:text-indigo-400 text-white duration-200 w-full flex" href="/method-details"
                  >Roadmap sets your team direction <span class="ml-auto">&rarr;</span></a
                >
              </p>
              <p class="py-6">
                <a class="hover:text-indigo-400 text-white duration-200 w-full flex" href="/method-details"
                  >Set useful goals <span class="ml-auto">&rarr;</span></a
                >
              </p>
              <p class="py-6">
                <a class="hover:text-indigo-400 text-white duration-200 w-full flex" href="/method-details"
                  >Prioritize enablers and blockers <span class="ml-auto">&rarr;</span></a
                >
              </p>
            </div>
          </div>
          <div>
            <div class="border-b border-white/10 pb-5">
              <h3 class="text-base leading-6 text-vulcan-300">
                <span class="text-white">03 ⏤</span> Building
              </h3>
            </div>

            <div class="divide-y divide-white/10">
              <p class="py-6">
                <a class="hover:text-indigo-400 text-white duration-200 w-full flex" href="/method-details"
                  >Generate momentum <span class="ml-auto">&rarr;</span></a
                >
              </p>
              <p class="py-6">
                <a class="hover:text-indigo-400 text-white duration-200 w-full flex" href="/method-details"
                  >Write tasks not user stories <span class="ml-auto">&rarr;</span></a
                >
              </p>
              <p class="py-6">
                <a class="hover:text-indigo-400 text-white duration-200 w-full flex" href="/method-details"
                  >Manage design projects <span class="ml-auto">&rarr;</span></a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
