<section class="relative overflow-x-hidden">
  <svg
    class="absolute blur-3xl right-0 top-0 opacity-80"
    width="50%"
    height="100%"
    viewBox="0 0 400 400"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_17_60)">
      <g filter="url(#filter0_f_17_60)">
        <path d="M128.6 0H0V322.2L332.5 211.5L128.6 0Z" fill="#4D07E3"></path>
        <path d="M0 322.2V400H240H320L332.5 211.5L0 322.2Z" fill="#4C00FF"
        ></path>
        <path d="M320 400H400V78.75L332.5 211.5L320 400Z" fill="#B5BFF1"></path>
        <path d="M400 0H128.6L332.5 211.5L400 78.75V0Z" fill="#7fcef3"></path>
      </g>
    </g>
    <defs>
      <filter
        id="filter0_f_17_60"
        x="-159.933"
        y="-159.933"
        width="719.867"
        height="719.867"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"></feBlend>
        <feGaussianBlur
          stdDeviation="79.9667"
          result="effect1_foregroundBlur_17_60"></feGaussianBlur>
      </filter>
    </defs>
  </svg>
  <div class="max-w-7xl px-8 md:px-12 relative lg:px-32 mx-auto py-32 lg:pt-56">
    <div class="max-w-3xl">
      <span
        class="text-transparent bg-clip-text font-medium tracking-widest bg-gradient-to-r from-indigo-300 via-indigo-400 to-indigo-500 text-xs uppercase"
        >Our Method ⏤ Jan 29, 2021
      </span>
      <p class="text-3xl mt-12 font-normal text-white">
        Roadmap sets your team direction
      </p>
    </div>
  </div>
</section>
<section class="relative">
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 relative">
    <div class="grid grid-cols-1 gap-10 xl:gap-24">
      <div>
        <div
          class="prose prose-blockquote:border-l-white prose-a:text-indigo-500 hover:prose-a:text-white prose-headings:font-normal prose-headings:text-white prose-li:marker:text-indigo-500 text-vulcan-300 prose-code:text-white prose-blockquote:text-white/70">
          <p>
            It's essential for you and your entire team to strive for quick
            action and progress every day. Rather than simply discussing or
            contemplating a task, it's crucial to make a decision and take
            action promptly. This means tackling tasks today instead of putting
            them off until tomorrow, and accomplishing objectives within the
            week instead of waiting until the following week.
          </p>
          <p>
            There may be weeks where it's unclear what the most critical task
            is, or you may be uncertain about a product decision. In those
            moments, it's important not to become immobilized. Instead, take
            action and trust your instincts. Consider engaging with more users
            to gain more insights and clarity as feedback rolls in. If you have
            established a process that facilitates rapid learning and progress,
            you can always make necessary adjustments or revert decisions if
            needed.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
