---
import Verticalgrid from '../assets/Verticalgrid.astro';

const curriculum = [
  {
    weeks: [
      {
        title: 'Week 1: Developer Advocacy Fundamentals',
        content: [
          'Understanding the role of a Developer Advocate',
          'Why companies need dedicated communities',
          'What are the benefits of building a community around a company/product',
          'Mentees connect',
        ],
      },
      {
        title: 'Week 2: Communication & Written Content',
        content: [
          'Communicating effectively as a dev advocate',
          'Writing technical blogs and documentation',
          'Creating tutorials and how-to guides',
          'Mentees connect',
        ],
      },
      {
        title: 'Week 3: Community Engagement & Support',
        content: [
          'Building and participating in developer communities.',
          'Providing support via forums and social media.',
          'Conducting surveys and gathering feedback from developers.',
        ],
      },
      {
        title: 'Week 4: Coding & Technical Skills',
        content: [
          'Refreshing coding skills in popular programming languages.',
          'Understanding APIs, SDKs, and developer tools.',
          'Basics of web development, including HTML, CSS, and JavaScript.',
          'Building a blogging site.',
        ],
      },
      {
        title: 'Week 5: Advanced Communication & Content Creation',
        content: [
          'Creating engaging and interactive technical content.',
          'Public speaking and presentation skills.',
          'Advanced technical writing and documentation.',
        ],
      },
      {
        title: 'Week 6: Conferences and Events',
        content: [
          'Why do companies need conferences and events',
          'Event hosting platforms and user expectations',
          'Skills needed to excel in hosting/speaking at events',
          'What are the best practices for hosting an event?',
          'Moderating events',
        ],
      },
      {
        title: 'Week 7: Developer Experience Engineering',
        content: [
          'Who is a Developer Experience Engineer?',
          "Understanding and improving developer's experiences",
          'Sentiment analysis',
          'Collaboration with developers & communities',
          'Feedback loops and gaps',
          'Strategies for better DX',
        ],
      },
      {
        title: 'Week 8: Evangelism and Collaborations',
        content: [
          'Who is a Dev Evangelist?',
          'Relationship between DevRel and Marketing',
          'Lead-gen strategies for DevRel',
          'Content marketing',
        ],
      },
      {
        title: 'Week 9: Strategy & Metrics',
        content: [
          'Developing strategies for developer advocacy.',
          'Understanding and setting goals and metrics.',
          'Measuring the impact of developer advocacy efforts.',
        ],
      },
      {
        title: 'Week 10: Advanced Developer Relations',
        content: [
          'Building partnerships and collaborations with other organizations.',
          'Influencing product development based on community feedback.',
          'Managing developer relations across different regions and cultures.',
        ],
      },
      {
        title: 'Week 11: Emerging Technologies & Trends',
        content: [
          'Exploring new and emerging technologies.',
          'Understanding the impact of technology trends on developers.',
          'Learning how to advocate for emerging technologies.',
        ],
      },
      {
        title: 'Week 12: Final Project & Presentation',
        content: [
          'Developing a comprehensive developer advocacy campaign.',
          'Creating and delivering content for the campaign.',
          'Presenting the campaign to peers and receiving feedback.',
        ],
      },
    ],
  },
];
---

<section class="relative">
  <Verticalgrid />
  <div class="relative px-8 py-12 mx-auto max-w-7xl md:px-12 lg:px-32 lg:py-24">
    <div class="max-w-2xl mx-auto lg:text-center">
      <div class="my-24">
        <p class="text-2xl text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text">
          Our Curriculum
        </p>
        <p class="mt-8 text-lg font-normal tracking-tight text-white">
          We're excited to have you as a mentee for the DX Mentorship Program. For this cohort we'll cover the
          curriculum below, go over their practical applications, and occassionally bring experts in these areas to
          teach and share their knowledge and experiences.
        </p>
      </div>
    </div>

    <ul class="grid grid-cols-1 gap-6 mt-12 list-none sm:grid-cols-2 lg:grid-cols-3 lg:gap-12 lg:mt-24">
      {
        curriculum.map((curriculumWeek) =>
          curriculumWeek.weeks.map((weekData) => (
            <li class="gap-3">
              <h3 class="text-xl font-bold text-white">{weekData.title}</h3>
              <ul>
                {weekData.content.map((contentItem) => (
                  <li>
                    <div class="relative flex items-center py-2">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="w-4 h-4 text-indigo-400 icon icon-tabler icon-tabler-circle-check"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                        <path d="M9 12l2 2l4 -4" />
                      </svg>
                      <p class="ml-2 text-sm leading-6 text-vulcan-300">{contentItem}</p>
                    </div>
                  </li>
                ))}
              </ul>
            </li>
          )),
        )
      }
    </ul>
  </div>
</section>
