---
import Verticalgrid from "../assets/Verticalgrid.astro";
---

<section class="relative">
  <Verticalgrid />
  <div class="relative px-8 py-12 mx-auto max-w-7xl md:px-12 lg:px-32 lg:py-24">
    <div class="grid grid-cols-1 gap-12 xl:grid-cols-2 lg:gap-24">
      <div>
        <p
          class="text-sm text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text">
          Intelligent chatbots
        </p>
        <p class="mt-8 text-3xl font-normal tracking-tight text-white">
          Stay in the know with our real time notifications that provide instant
          updates.
        </p>
      </div>

      <ul
        class="grid grid-cols-2 gap-6 list-none l xl:grid-cols-2 lg:gap-12"
        role="list">
        <li>
          <div>
            <p class="text-lg font-medium text-white lg:text-xl">
              User-friendly
            </p>
          </div>
          <div class="mt-2 text-base text-vulcan-300">
            Our platform is designed with the user in mind.
          </div>
        </li>
        <li>
          <div>
            <p class="text-lg font-medium text-white lg:text-xl">
              Customizable
            </p>
          </div>
          <div class="mt-2 text-base text-vulcan-300">
            Our platform allows for customizable branding.
          </div>
        </li>
        <li>
          <div>
            <p class="text-lg font-medium text-white lg:text-xl">
              Scheduled Orders
            </p>
          </div>
          <div class="mt-2 text-base text-vulcan-300">
            Our platform allows for scheduled orders.
          </div>
        </li>
        <li>
          <div>
            <p class="text-lg font-medium text-white lg:text-xl">
              Allergen Filtering
            </p>
          </div>
          <div class="mt-2 text-base text-vulcan-300">
            Our platform includes an allergen filtering feature.
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
