---
import Verticalgrid from '../assets/Verticalgrid.astro';
---

<section class="relative">
  <Verticalgrid />
  <div class="relative px-8 py-12 mx-auto max-w-7xl md:px-12 lg:px-32 lg:py-24">
    <div class="max-w-2xl mx-auto lg:text-center">
      <div>
        <p class="text-sm text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text">
          Robust security measures
        </p>
        <p class="mt-8 text-3xl font-normal tracking-tight text-white">
          We employ state-of-the-art security measures to safeguard your sensitive information
        </p>
      </div>
      <ul class="grid grid-cols-1 gap-6 mt-12 lg:text-center sm:grid-cols-3 lg:gap-12" role="list">
        <li>
          <div>
            <p
              class="text-2xl font-medium text-transparent bg-clip-text bg-gradient-to-r from-indigo-300 via-indigo-400 to-indigo-500 lg:text-4xl"
            >
              90%
            </p>
          </div>
          <div class="mt-2 text-base text-vulcan-300">Faster turnarounds</div>
        </li>
        <li>
          <div>
            <p
              class="text-2xl font-medium text-transparent bg-clip-text bg-gradient-to-r from-indigo-300 via-indigo-400 to-indigo-500 lg:text-4xl"
            >
              34%
            </p>
          </div>
          <div class="mt-2 text-base text-vulcan-300">Fewer revisions to make</div>
        </li>
        <li>
          <div>
            <p
              class="text-2xl font-medium text-transparent bg-clip-text bg-gradient-to-r from-indigo-300 via-indigo-400 to-indigo-500 lg:text-4xl"
            >
              100%
            </p>
          </div>
          <div class="mt-2 text-base text-vulcan-300">Fewer rounds of reviews</div>
        </li>
      </ul>
    </div>
    <div
      class="relative items-center w-full pb-0 mx-auto mt-12 overflow-hidden max-w-7xl lg:p-10 lg:pb-0 lg:rounded-5xl bg-vulcan-900 lg:border border-white/10"
      style=""
    >
      <img
        class="object-cover w-full -mb-12 border shadow-2xl rounded-xl border-white/5 lg:rounded-3xl shadow-vulcan-950"
        src="/assets/dashboard.svg"
        alt=""
      />
    </div>
    <ul class="grid grid-cols-1 gap-6 mt-12 list-none sm:grid-cols-2 lg:grid-cols-3 lg:gap-12 lg:mt-24" role="list">
      <li class="gap-3">
        <ul class="list-none" role="list">
          <li>
            <div class="relative flex items-center py-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-indigo-400 icon icon-tabler icon-tabler-circle-check"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <p class="ml-2 text-sm leading-6 text-vulcan-300">
                <strong class="font-semibold text-vulcan-100">Access real-time financing</strong> — anytime.
              </p>
            </div>
          </li>
          <li>
            <div class="relative flex items-center py-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-indigo-400 icon icon-tabler icon-tabler-circle-check"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <p class="ml-2 text-sm leading-6 text-vulcan-300">
                <strong class="font-semibold text-vulcan-100">Bank-level security</strong> — 24/7.
              </p>
            </div>
          </li>
          <li>
            <div class="relative flex items-center py-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-indigo-400 icon icon-tabler icon-tabler-circle-check"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <p class="ml-2 text-sm leading-6 text-vulcan-300">
                <strong class="font-semibold text-vulcan-100">Built to scale</strong> — your company.
              </p>
            </div>
          </li>
        </ul>
      </li>
      <li class="gap-3">
        <ul class="list-none" role="list">
          <li>
            <div class="relative flex items-center py-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-indigo-400 icon icon-tabler icon-tabler-circle-check"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <p class="ml-2 text-sm leading-6 text-vulcan-300">
                <strong class="font-semibold text-vulcan-100">User-friendly</strong> — anytime.
              </p>
            </div>
          </li>
          <li>
            <div class="relative flex items-center py-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-indigo-400 icon icon-tabler icon-tabler-circle-check"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <p class="ml-2 text-sm leading-6 text-vulcan-300">
                <strong class="font-semibold text-vulcan-100">Customizable</strong> — 24/7.
              </p>
            </div>
          </li>
          <li>
            <div class="relative flex items-center py-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-indigo-400 icon icon-tabler icon-tabler-circle-check"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <p class="ml-2 text-sm leading-6 text-vulcan-300">
                <strong class="font-semibold text-vulcan-100">Scheduled Orders</strong> — your company.
              </p>
            </div>
          </li>
        </ul>
      </li>
      <li class="gap-3">
        <ul class="list-none" role="list">
          <li>
            <div class="relative flex items-center py-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-indigo-400 icon icon-tabler icon-tabler-circle-check"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <p class="ml-2 text-sm leading-6 text-vulcan-300">
                <strong class="font-semibold text-vulcan-100">Allergen Filtering</strong> — anytime.
              </p>
            </div>
          </li>
          <li>
            <div class="relative flex items-center py-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-indigo-400 icon icon-tabler icon-tabler-circle-check"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <p class="ml-2 text-sm leading-6 text-vulcan-300">
                <strong class="font-semibold text-vulcan-100">Multilingual support</strong> — 24/7.
              </p>
            </div>
          </li>
          <li>
            <div class="relative flex items-center py-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-indigo-400 icon icon-tabler icon-tabler-circle-check"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <p class="ml-2 text-sm leading-6 text-vulcan-300">
                <strong class="font-semibold text-vulcan-100">Multiple languages</strong> — your company.
              </p>
            </div>
          </li>
        </ul>
      </li>
      <li class="gap-3">
        <ul class="list-none" role="list">
          <li>
            <div class="relative flex items-center py-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-indigo-400 icon icon-tabler icon-tabler-circle-check"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <p class="ml-2 text-sm leading-6 text-vulcan-300">
                <strong class="font-semibold text-vulcan-100">User-focused</strong> — anytime.
              </p>
            </div>
          </li>
          <li>
            <div class="relative flex items-center py-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-indigo-400 icon icon-tabler icon-tabler-circle-check"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <p class="ml-2 text-sm leading-6 text-vulcan-300">
                <strong class="font-semibold text-vulcan-100">Accounts</strong> — 24/7
              </p>
            </div>
          </li>
          <li>
            <div class="relative flex items-center py-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-indigo-400 icon icon-tabler icon-tabler-circle-check"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <p class="ml-2 text-sm leading-6 text-vulcan-300">
                <strong class="font-semibold text-vulcan-100">Automated Orders</strong> — your company.
              </p>
            </div>
          </li>
        </ul>
      </li>
      <li class="gap-3">
        <ul class="list-none" role="list">
          <li>
            <div class="relative flex items-center py-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-indigo-400 icon icon-tabler icon-tabler-circle-check"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <p class="ml-2 text-sm leading-6 text-vulcan-300">
                <strong class="font-semibold text-vulcan-100">Easily translated</strong> — anytime.
              </p>
            </div>
          </li>
          <li>
            <div class="relative flex items-center py-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-indigo-400 icon icon-tabler icon-tabler-circle-check"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <p class="ml-2 text-sm leading-6 text-vulcan-300">
                <strong class="font-semibold text-vulcan-100">Premium branding</strong> — 24/7
              </p>
            </div>
          </li>
          <li>
            <div class="relative flex items-center py-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-indigo-400 icon icon-tabler icon-tabler-circle-check"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <p class="ml-2 text-sm leading-6 text-vulcan-300">
                <strong class="font-semibold text-vulcan-100">Automated Tracking</strong> — your company.
              </p>
            </div>
          </li>
        </ul>
      </li>
      <li class="gap-3">
        <ul class="list-none" role="list">
          <li>
            <div class="relative flex items-center py-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-indigo-400 icon icon-tabler icon-tabler-circle-check"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <p class="ml-2 text-sm leading-6 text-vulcan-300">
                <strong class="font-semibold text-vulcan-100">Easily translated</strong> — anytime.
              </p>
            </div>
          </li>
          <li>
            <div class="relative flex items-center py-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-indigo-400 icon icon-tabler icon-tabler-circle-check"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <p class="ml-2 text-sm leading-6 text-vulcan-300">
                <strong class="font-semibold text-vulcan-100">Premium branding</strong> — 24/7
              </p>
            </div>
          </li>
          <li>
            <div class="relative flex items-center py-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-indigo-400 icon icon-tabler icon-tabler-circle-check"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <p class="ml-2 text-sm leading-6 text-vulcan-300">
                <strong class="font-semibold text-vulcan-100">Automated Tracking</strong> — your company.
              </p>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
