---
import Verticalgrid from "../assets/Verticalgrid.astro";
---

<section class="relative">
  <Verticalgrid />
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-32 relative">
    <div class="max-w-xl">
      <p class="text-3xl font-normal text-white tracking-tight">
        Smart conversations, quick answers
      </p>
      <p class="mt-4 text-base text-vulcan-300">
        Engage in intelligent and efficient conversations with our AI-powered
        chatbots, capable of providing instant and accurate responses to your
        banking queries, offering you immediate assistance whenever you need it.
      </p>
    </div>

    <div>
      <ul
        class="grid grid-cols-1 gap-4 mt-6 list-none lg:gap-24 md:grid-cols-2 lg:mt-12"
        role="list">
        <li>
          <div class="text-base text-vulcan-300">
            <strong class="text-white"
              >01. Order Management and Reporting</strong
            > ― Our platform provides a comprehensive order management and reporting
            system, making it easy for you to keep track of orders, inventory, and
            sales. With detailed reports and analytics, you can stay informed about
            the performance of your baking.
          </div>
          <div class="mt-12">
            <img
              alt="Lexington thumbnail"
              class="w-full"
              src="/assets/card1.svg"
            />
          </div>
        </li>
        <li>
          <div class="text-base text-vulcan-300">
            <strong class="text-white">02. In-App Purchasing</strong> ― We enable
            in-app purchasing feature for ordering, allowing users to place orders
            directly within your website or app. This increases convenience and efficiency
            for your users, and helps to boost sales for your business
          </div>
          <div class="mt-12 r">
            <img
              alt="Lexington thumbnail"
              class="rounded-2xl shadow-2xl shadow-vulcan-950/50 w-full"
              src="/assets/card2.svg"
            />
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
