---
import Verticalgrid from "../assets/Verticalgrid.astro";
---

<section class="relative">
  <Verticalgrid />
  <div
    class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-24 relative space-y-24">
    <div
      class="grid grid-cols-1 gap-8 mt-6 sm:grid-cols-2 lg:gap-24 items-center">
      <div>
        <p
          class="text-sm text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text">
          Master your finances
        </p><p class="text-3xl mt-8 font-normal text-white tracking-tight">
          Take charge of your financial well-being from today
        </p>
        <p class="mt-4 text-base text-vulcan-300">
          Our powerful suite of budgeting tools, designed to help you
          effectively track, manage, and optimize your personal budget,
          providing you with a clearer financial picture and enabling smarter
          financial decisions.
        </p>
      </div>
      <div class="h-full">
        <img
          alt="Lexington thumbnail"
          class="rounded-2xl shadow-2xl shadow-vulcan-950/50 w-full"
          src="/assets/card4.svg"
        />
      </div>
    </div>
    <div
      class="grid grid-cols-1 gap-8 mt-6 sm:grid-cols-2 lg:gap-24 items-center">
      <div class="sm:order-last">
        <p
          class="text-sm text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text">
          Smart conversations
        </p><p class="text-3xl mt-8 font-normal text-white tracking-tight">
          Easy Integration with Your Website or App
        </p>
        <p class="mt-4 text-vulcan-300">
          Our baking platform allows for custom recipes and products to be
          added, giving your users the ability to order unique items that are
          not listed on the menu.
        </p>
      </div>
      <div class="h-full">
        <img
          alt="Lexington thumbnail"
          class="rounded-2xl shadow-2xl shadow-vulcan-950/50 w-full"
          src="/assets/card5.svg"
        />
      </div>
    </div>
    <div
      class="grid grid-cols-1 gap-8 mt-6 sm:grid-cols-2 lg:gap-24 items-center">
      <div>
        <p
          class="text-sm text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text">
          Investment management
        </p><p class="text-3xl mt-8 font-normal text-white tracking-tight">
          Customizable Ordering Options
        </p>
        <p class="mt-4 text-vulcan-300">
          Our baking platform allows for custom recipes and products to be
          added, giving your users the ability to order unique items that are
          not listed on the menu.
        </p>
      </div>
      <div class="h-full">
        <img
          alt="Lexington thumbnail"
          class="rounded-2xl shadow-2xl shadow-vulcan-950/50 w-full"
          src="/assets/card4.svg"
        />
      </div>
    </div>
  </div>
</section>
