---
import Verticalgrid from "../assets/Verticalgrid.astro";
---

<section class="relative scroll-mt-24">
  <Verticalgrid />
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-24 relative">
    <div class="max-w-xl">
      <p
        class="text-sm text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text">
        Uninterrupted assistance
      </p>
      <p class="text-3xl mt-8 font-normal text-white tracking-tight">
        Our platform provides a comprehensive order management and reporting
      </p>
      <p class="mt-4 text-base text-vulcan-300">
        Experience our unwavering commitment to exceptional customer service
        with round-the-clock support from our dedicated team of knowledgeable
        professionals, ready to assist you with any banking inquiries or
        concerns.
      </p>
    </div>

    <div>
      <ul
        class="grid grid-cols-2 gap-8 mt-6 list-none md:grid-cols-3 lg:gap-12 lg:mt-24"
        role="list">
        <li>
          <div>
            <div class="text-indigo-400">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99"
                ></path>
              </svg>
            </div>
            <p class="mt-5 text-lg font-medium text-white lg:text-xl">
              Easy Integration
            </p>
          </div>
          <div class="mt-2 text-base text-vulcan-300">
            Our baking API allows for seamless integration with your website or
            app.
          </div>
        </li>
        <li>
          <div>
            <div class="text-indigo-400">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
            </div>
            <p class="mt-5 text-lg font-medium text-white lg:text-xl">
              Customizable Ordering Options
            </p>
          </div>
          <div class="mt-2 text-base text-vulcan-300">
            Our platform allows for flexible ordering options, including bulk
            ordering.
          </div>
        </li>
        <li>
          <div>
            <div class="text-indigo-400">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3 8.25V18a2.25 2.25 0 002.25 2.25h13.5A2.25 2.25 0 0021 18V8.25m-18 0V6a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 6v2.25m-18 0h18M5.25 6h.008v.008H5.25V6zM7.5 6h.008v.008H7.5V6zm2.25 0h.008v.008H9.75V6z"
                ></path>
              </svg>
            </div>
            <p class="mt-5 text-lg font-medium text-white lg:text-xl">
              Real-time Order Tracking
            </p>
          </div>
          <div class="mt-2 text-base text-vulcan-300">
            With real-time order tracking, your users can stay informed about
            the status.
          </div>
        </li>
      </ul>
    </div>
    <div
      class="grid grid-cols-1 mt-12 lg:grid-cols-2 lg:mt-24 items-start gap-12 lg:gap-32">
      <div>
        <h2 class="text-3xl font-normal text-white tracking-tight">
          Secure Payment Processing
        </h2>
        <p class="mt-5 text-base text-vulcan-300">
          We use industry-standard encryption and security measures to ensure
          that your users' sensitive information is kept safe and secure. Our
          platform supports a variety of payment methods, including credit cards
          and PayPal.
        </p>

        <ul class="mt-12 list-none space-y-10" role="list">
          <li>
            <div class="text-base text-vulcan-300">
              <strong class="text-white">01. Multiple Locations Support</strong>
              ― Our platform allows for orders to be placed and fulfilled by multiple
              locations, making it easy for your users to order from the location
              closest to them. This feature also allows for regional or seasonal
              offerings
            </div>
          </li>
          <li>
            <div class="text-base text-vulcan-300">
              <strong class="text-white"
                >02. Support for Custom Recipes and Products</strong
              > ― Our baking platform allows for custom recipes and products to be
              added, giving your users the ability to order unique items that are
              not listed on the menu. This feature is perfect for special events
              or for accommodating the needs of particular customers
            </div>
          </li>
        </ul>
      </div>
      <div class="mt-12 lg:mt-0 w-full border-mercury-400 lg:ml-auto">
        <img
          alt="Lexington thumbnail"
          class="object-cover w-full"
          src="/assets/card3.svg"
        />
      </div>
    </div>
  </div>
</section>
