<section class="flex items-end justify-center bg-vulcan-900 border-y border-white/5">
  <div class="justify-center px-8 py-12 mx-auto max-w-7xl md:px-12 lg:px-24 lg:py-24">
    <div class="grid items-center grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
      <div class="max-w-xl mx-auto col-span-full lg:max-w-none lg:mr-auto lg:col-span-1">
        <span class="justify-center w-auto px-4 py-2 text-center rounded-full bg-vulcan-800">
          <span class="text-sm text-indigo-300"> Our beloved customers</span>
        </span>
      </div>
      <div class="mt-12 space-y-12 md:col-span-3 lg:mt-0">
        <div class="grid grid-cols-2 sm:grid-cols-4 gap-0.5 md:grid-cols-5">
          <div class="flex col-span-1 px-4 sm:px-8">
            <img class="max-h-12" src="./logos/basecamp.svg" alt=" logo" />
          </div>
          <div class="flex col-span-1 px-4 sm:px-8">
            <img class="max-h-12" src="./logos/dribbble.svg" alt="logo" />
          </div>
          <div class="flex col-span-1 px-4 sm:px-8">
            <img class="max-h-12" src="./logos/framer.svg" alt="logo" />
          </div>
          <div class="flex col-span-1 px-4 sm:px-8">
            <img class="max-h-12" src="./logos/ghost.svg" alt="logo" />
          </div>
          <div class="hidden col-span-1 px-4 md:flex sm:px-8">
            <img class="max-h-12" src="./logos/github.svg" alt="logo" />
          </div>
        </div>
        <div class="md:grid grid-cols-2 gap-0.5 md:grid-cols-5 hidden">
          <div class="flex col-span-1 px-4 sm:px-8">
            <img class="max-h-12" src="./logos/contentfull.svg" alt=" logo" />
          </div>
          <div class="flex col-span-1 px-4 sm:px-8">
            <img class="max-h-12" src="./logos/spotify.svg" alt="logo" />
          </div>
          <div class="flex col-span-1 px-4 sm:px-8">
            <img class="max-h-12" src="./logos/airbnb.svg" alt="logo" />
          </div>
          <div class="flex col-span-1 px-4 sm:px-8">
            <img class="max-h-12" src="./logos/spacex.svg" alt="logo" />
          </div>
          <div class="flex col-span-1 px-4 sm:px-8">
            <img class="max-h-12" src="./logos/zoom.svg" alt="logo" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
