<section
  class="flex items-end justify-center bg-vulcan-900 border-y border-white/5">
  <div
    class="justify-center px-8 py-12 mx-auto max-w-7xl md:px-12 lg:px-24 lg:py-24">
    <div class="items-center">
      <div class="justify-center text-center lg:justify-start">
        <span
          class="justify-center w-auto px-4 py-2 text-center rounded-full bg-vulcan-800">
          <span
            class="text-sm text-transparent bg-gradient-to-r from-indigo-300 via-indigo-400 to-indigo-500 bg-clip-text">
            Our beloved customers</span
          >
        </span>
      </div>
      <div class="mt-12">
        <div class="grid grid-cols-2 gap-0.5 md:grid-cols-6">
          <div class="flex col-span-1 px-8">
            <img class="max-h-12" src="/logos/basecamp.svg" alt=" logo" />
          </div>
          <div class="flex col-span-1 px-8">
            <img class="max-h-12" src="/logos/dribbble.svg" alt="logo" />
          </div>
          <div class="flex col-span-1 px-8">
            <img class="max-h-12" src="/logos/framer.svg" alt="logo" />
          </div>
          <div class="flex col-span-1 px-8">
            <img class="max-h-12" src="/logos/ghost.svg" alt="logo" />
          </div>
          <div class="flex col-span-1 px-8">
            <img class="max-h-12" src="/logos/github.svg" alt="logo" />
          </div>
          <div class="flex col-span-1 px-8">
            <img class="max-h-12" src="/logos/notion.svg" alt="logo" />
          </div>
          <div class="flex col-span-1 px-8">
            <img class="max-h-12" src="/logos/contentfull.svg" alt=" logo" />
          </div>
          <div class="flex col-span-1 px-8">
            <img class="max-h-12" src="/logos/spotify.svg" alt="logo" />
          </div>
          <div class="flex col-span-1 px-8">
            <img class="max-h-12" src="/logos/airbnb.svg" alt="logo" />
          </div>
          <div class="flex col-span-1 px-8">
            <img class="max-h-12" src="/logos/spacex.svg" alt="logo" />
          </div>
          <div class="flex col-span-1 px-8">
            <img class="max-h-12" src="/logos/zoom.svg" alt="logo" />
          </div>
          <div class="flex col-span-1 px-8">
            <img class="max-h-12" src="/logos/adobe.svg" alt="logo" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
