<section
  aria-labelledby="logocloud"
  id="logocloud "
  class="flex items-end justify-center bg-black border-y border-white/5"
>
  <div class="justify-center px-8 py-12 mx-auto max-w-7xl md:px-12 lg:px-24 lg:py-24">
    <div class="items-center">
      <div class="justify-center max-w-xl mx-auto text-center">
        <span class="justify-center w-auto text-center">
          <span
            class="text-sm tracking-wide text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text"
          >
            DxMentorship Mentees Now Work at Global Companies
          </span>
        </span>
      </div>
      <div class="mt-12">
        <div class="grid grid-cols-2 gap-0.5 sm:grid-cols-3 lg:grid-cols-6">
          <div class="flex px-8">
            <img class="max-h-12" src="/logos/deci-ai.svg" alt=" logo" />
          </div>
          <div class="flex px-8">
            <img class="max-h-12" src="/logos/axelar.svg" alt="logo" />
          </div>
          <div class="flex px-8">
            <img class="max-h-12" src="/logos/webguild.svg" alt="logo" />
          </div>
          <div class="flex px-8">
            <img class="max-h-12" src="/logos/webguild.svg" alt="logo" />
          </div>
          <div class="flex px-8">
            <img class="max-h-12" src="/logos/webguild.svg" alt="logo" />
          </div>
          <div class="flex px-8">
            <img class="max-h-12" src="/logos/webguild.svg" alt="logo" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
