---
import Verticalgrid from "../assets/Verticalgrid.astro";
---

<section class="relative overflow-x-hidden">
  <Verticalgrid />
  <div class="relative px-8 py-12 mx-auto max-w-7xl md:px-12 lg:px-32 lg:pt-24">
    <div class="">
      <p class="text-3xl font-normal text-white">
        Companies like yours use Navy to grow.
      </p>
      <p class="max-w-xl mt-4 text-base text-vulcan-300">
        This are the customers we have paid to say something nice anytime we ask
        them, they will do anything we ask because we have the do.
      </p>
    </div>
  </div>

  <div class="pb-24 2xl:max-7xl">
    <div class="mx-auto">
      <div class="relative overflow-x-hidden">
        <div class="flex gap-6 py-12 animate-marquee whitespace-nowrap">
          <div
            class="p-4 text-left border shadow-2xl lg:p-10 border-white/5 rounded-3xl bg-vulcan-900">
            <div class="gap-4 lg:inline-flex lg:items-center">
              <img
                class="inline-block w-10 h-10 rounded-full ring-2 ring-white/5 ring-offset-4 ring-offset-vulcan-900"
                src="https://d33wubrfki0l68.cloudfront.net/1a2e935392c14749028729b21b20ddbd4c54b70e/1a932/images/testimonials/amrit.jpeg"
                alt=""
              />

              <div>
                <p class="mt-8 text-xs text-vulcan-300 lg:mt-0">
                  <strong class="text-white">Amrit Nagi</strong> ― CEO of Tailwind
                  Toolbox
                </p>
              </div>
            </div>
            <div class="mt-4 text-base text-vulcan-300">
              It's amazing just how quickly the quality
              <span class="block">
                and variety of his work has developed and evolved!
              </span>
            </div>
            <div class="flex justify-start gap-1 mx-auto mt-6">
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
            </div>
          </div>
          <div
            class="p-4 text-left border shadow-2xl lg:p-10 border-white/5 rounded-3xl bg-vulcan-900">
            <div class="gap-4 lg:inline-flex lg:items-center">
              <img
                class="inline-block w-10 h-10 rounded-full ring-2 ring-white/5 ring-offset-4 ring-offset-vulcan-900"
                src="https://d33wubrfki0l68.cloudfront.net/cabc8d70a84f6d78e56c5cd2db3f54ab6462325d/95045/images/testimonials/gabi.jpeg"
                alt=""
              />

              <div>
                <p class="mt-8 text-xs text-vulcan-300 lg:mt-0">
                  <strong class="text-white">Gabriel Perales</strong> ― Engineer
                  at cabify
                </p>
              </div>
            </div>
            <div class="mt-4 text-base text-vulcan-300">
              Mike has helped me with many designs, and I couldn't follow his
              <span class="block"> working speed when we worked together.</span>
            </div>
            <div class="flex justify-start gap-1 mx-auto mt-6">
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
            </div>
          </div>
          <div
            class="p-4 text-left border shadow-2xl lg:p-10 border-white/5 rounded-3xl bg-vulcan-900">
            <div class="gap-4 lg:inline-flex lg:items-center">
              <img
                class="inline-block w-10 h-10 rounded-full ring-2 ring-white/5 ring-offset-4 ring-offset-vulcan-900"
                src="https://pbs.twimg.com/profile_images/1039477099768295424/DkFxqf2V_400x400.jpg"
                alt=""
              />

              <div>
                <p class="mt-8 text-xs text-vulcan-300 lg:mt-0">
                  <strong class="text-white">Volkan Kaja</strong> ― Founder of Versoly
                </p>
              </div>
            </div>
            <div class="mt-4 text-base text-vulcan-300">
              Mike leveraged his previous experience to
              <span class="block">
                build out a few landing pages very quickly for Versoly
              </span>
            </div>
            <div class="flex justify-start gap-1 mx-auto mt-6">
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
            </div>
          </div>
          <div
            class="p-4 text-left border shadow-2xl lg:p-10 border-white/5 rounded-3xl bg-vulcan-900">
            <div class="gap-4 lg:inline-flex lg:items-center">
              <img
                class="inline-block w-10 h-10 rounded-full ring-2 ring-white/5 ring-offset-4 ring-offset-vulcan-900"
                src="https://d33wubrfki0l68.cloudfront.net/05a6c2e973f7b38e7b5f5fb1923ed9507d6fc68d/10e85/images/testimonials/mike.png"
                alt=""
              />

              <div>
                <p class="mt-8 text-xs text-vulcan-300 lg:mt-0">
                  <strong class="text-white">Mike Jones</strong> ― Blogger at Raspada
                </p>
              </div>
            </div>
            <div class="mt-4 text-base text-vulcan-300">
              I have had the absolute pleasure of working
              <span class="block">
                with Mike in the past when building my blog Raspada.
              </span>
            </div>
            <div class="flex justify-start gap-1 mx-auto mt-6">
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
            </div>
          </div>
          <div
            class="p-4 text-left border shadow-2xl lg:p-10 border-white/5 rounded-3xl bg-vulcan-900">
            <div class="gap-4 lg:inline-flex lg:items-center">
              <img
                class="inline-block w-10 h-10 rounded-full ring-2 ring-white/5 ring-offset-4 ring-offset-vulcan-900"
                src="https://d33wubrfki0l68.cloudfront.net/1a2e935392c14749028729b21b20ddbd4c54b70e/1a932/images/testimonials/amrit.jpeg"
                alt=""
              />

              <div>
                <p class="mt-8 text-xs text-vulcan-300 lg:mt-0">
                  <strong class="text-white">Amrit Nagi</strong> ― CEO of Tailwind
                  Toolbox
                </p>
              </div>
            </div>
            <div class="mt-4 text-base text-vulcan-300">
              It's amazing just how quickly the quality
              <span class="block">
                and variety of his work has developed and evolved!
              </span>
            </div>
            <div class="flex justify-start gap-1 mx-auto mt-6">
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
            </div>
          </div>
          <div
            class="p-4 text-left border shadow-2xl lg:p-10 border-white/5 rounded-3xl bg-vulcan-900">
            <div class="gap-4 lg:inline-flex lg:items-center">
              <img
                class="inline-block w-10 h-10 rounded-full ring-2 ring-white/5 ring-offset-4 ring-offset-vulcan-900"
                src="https://d33wubrfki0l68.cloudfront.net/cabc8d70a84f6d78e56c5cd2db3f54ab6462325d/95045/images/testimonials/gabi.jpeg"
                alt=""
              />

              <div>
                <p class="mt-8 text-xs text-vulcan-300 lg:mt-0">
                  <strong class="text-white">Gabriel Perales</strong> ― Engineer
                  at cabify
                </p>
              </div>
            </div>
            <div class="mt-4 text-base text-vulcan-300">
              Mike has helped me with many designs, and I couldn't follow his
              <span class="block"> working speed when we worked together.</span>
            </div>
            <div class="flex justify-start gap-1 mx-auto mt-6">
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
            </div>
          </div>
          <div
            class="p-4 text-left border shadow-2xl lg:p-10 border-white/5 rounded-3xl bg-vulcan-900">
            <div class="gap-4 lg:inline-flex lg:items-center">
              <img
                class="inline-block w-10 h-10 rounded-full ring-2 ring-white/5 ring-offset-4 ring-offset-vulcan-900"
                src="https://pbs.twimg.com/profile_images/1039477099768295424/DkFxqf2V_400x400.jpg"
                alt=""
              />

              <div>
                <p class="mt-8 text-xs text-vulcan-300 lg:mt-0">
                  <strong class="text-white">Volkan Kaja</strong> ― Founder of Versoly
                </p>
              </div>
            </div>
            <div class="mt-4 text-base text-vulcan-300">
              Mike leveraged his previous experience to
              <span class="block">
                build out a few landing pages very quickly for Versoly
              </span>
            </div>
            <div class="flex justify-start gap-1 mx-auto mt-6">
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
            </div>
          </div>
          <div
            class="p-4 text-left border shadow-2xl lg:p-10 border-white/5 rounded-3xl bg-vulcan-900">
            <div class="gap-4 lg:inline-flex lg:items-center">
              <img
                class="inline-block w-10 h-10 rounded-full ring-2 ring-white/5 ring-offset-4 ring-offset-vulcan-900"
                src="https://d33wubrfki0l68.cloudfront.net/05a6c2e973f7b38e7b5f5fb1923ed9507d6fc68d/10e85/images/testimonials/mike.png"
                alt=""
              />

              <div>
                <p class="mt-8 text-xs text-vulcan-300 lg:mt-0">
                  <strong class="text-white">Mike Jones</strong> ― Blogger at Raspada
                </p>
              </div>
            </div>
            <div class="mt-4 text-base text-vulcan-300">
              I have had the absolute pleasure of working
              <span class="block">
                with Mike in the past when building my blog Raspada.
              </span>
            </div>
            <div class="flex justify-start gap-1 mx-auto mt-6">
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
              <svg
                class="w-4 h-4 text-indigo-400 icon icon-tabler fill-indigo-400 icon-tabler-star"
                fill="currentColor"
                stroke="currentColor"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                xmlns="http://www.w3.org/2000/svg"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                ></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
