---
import { Code } from "astro/components";
---

<section class="relative overflow-x-hidden">
  <svg
    class="absolute blur-3xl right-0 top-0 opacity-80"
    width="50%"
    height="100%"
    viewBox="0 0 400 400"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_17_60)">
      <g filter="url(#filter0_f_17_60)">
        <path d="M128.6 0H0V322.2L332.5 211.5L128.6 0Z" fill="#4D07E3"></path>
        <path d="M0 322.2V400H240H320L332.5 211.5L0 322.2Z" fill="#4C00FF"
        ></path>
        <path d="M320 400H400V78.75L332.5 211.5L320 400Z" fill="#B5BFF1"></path>
        <path d="M400 0H128.6L332.5 211.5L400 78.75V0Z" fill="#7fcef3"></path>
      </g>
    </g>
    <defs>
      <filter
        id="filter0_f_17_60"
        x="-159.933"
        y="-159.933"
        width="719.867"
        height="719.867"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"></feBlend>
        <feGaussianBlur
          stdDeviation="79.9667"
          result="effect1_foregroundBlur_17_60"></feGaussianBlur>
      </filter>
    </defs>
  </svg>
  <div class="max-w-7xl px-8 md:px-12 relative lg:px-32 mx-auto py-32 lg:pt-56">
    <div class="max-w-3xl">
      <span
        class="text-transparent bg-clip-text font-medium tracking-widest bg-gradient-to-r from-indigo-300 via-indigo-400 to-indigo-500 text-xs uppercase"
        >Finances - Banking
      </span>
      <p class="text-3xl mt-8 font-normal text-white">
        The importance of financial security and stability
      </p>
      <div class="items-center inline-flex gap-3 mt-10 w-full">
        <div class="flex-shrink-0">
          <img
            alt="Newsletter directory."
            src="/assets/wallpaper.svg"
            class="h-10 object-cover rounded-full w-10"
          />
        </div>
        <div class="items-center inline-flex ml-3 space-x-1 w-full">
          <p class="font-medium text-white text-sm">Teddy Williams</p><span
            aria-hidden="true">·</span
          ><div class="flex text-vulcan-300 text-sm">
            <time datetime="2020-03-16">2022.17.08</time>
          </div>
        </div>
        <div class="flex flex-col space-y-3 text-left mt-3 lg:mt-0 w-full">
          <span class="isolate inline-flex rounded-2xl lg:ml-auto">
            <a
              href="#"
              type="button"
              class="relative transition duration-500 ease-in-out transform inline-flex items-center rounded-l-lg border border-slate-700 bg-vulcan-900 px-4 py-2 text-xs font-light text-white hover:bg-white/5 focus:z-10 focus:border-indigo-300 focus:outline-none focus:ring-1 focus:ring-indigo-300"
              >Linkedin</a
            >
            <a
              href="#"
              type="button"
              class="relative transition duration-500 ease-in-out transform -ml-px inline-flex items-center border border-slate-700 dark px-4 py-2 text-xs font-light text-white hover:bg-white/5 focus:z-10 focus:border-indigo-300 focus:outline-none focus:ring-1 focus:ring-indigo-300">
              Twitter
            </a>
            <a
              href="#"
              type="button"
              class="relative transition duration-500 ease-in-out transform -ml-px inline-flex items-center rounded-r-lg border border-slate-700 dark px-4 py-2 text-xs font-light text-white hover:bg-white/5 focus:z-10 focus:border-indigo-300 focus:outline-none focus:ring-1 focus:ring-indigo-300"
              >Facebook</a
            >
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="relative">
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 relative">
    <div class="grid grid-cols-1 gap-10 xl:gap-24">
      <div>
        <div
          class="prose prose-blockquote:border-l-white prose-a:text-indigo-500 hover:prose-a:text-white prose-headings:font-normal prose-headings:text-white prose-li:marker:text-indigo-500 text-vulcan-300 prose-code:text-white prose-blockquote:text-white/70">
          <div>
            <h2 id="phanatik-includes-a-page-for-your-potential-subscribers">
              Navy includes two blog post layout page for your potential
              subscribers
            </h2><p>
              The great thing about blogs is that your work compounds over time.
              Anyone can read, share and discover past work, which helps you
              build trust with your audience and improve search rankings. <a
                href="./newsletter">Duck Duck Go</a
              >.
            </p><p>
              Here is a sample of some basic Markdown syntax that can be used
              when writing Markdown content in Astro.
            </p><h2 id="headings">Headings</h2><p>
              The following HTML <code>&lt;h1&gt;</code>—<code>&lt;h6&gt;</code>
              elements represent six levels of section headings. <code
                >&lt;h1&gt;</code
              > is the highest section level while <code>&lt;h6&gt;</code> is the
              lowest.
            </p><h1 id="h1">H1</h1><h2 id="h2">H2</h2><h3 id="h3">H3</h3><h4
              id="h4">
              H4
            </h4><h5 id="h5">H5</h5><h6 id="h6">H6</h6><h2 id="paragraph">
              Paragraph
            </h2><p>
              To stand up straight with your shoulders back is to accept the
              terrible responsibility of life, with eyes wide open. It means
              deciding to voluntarily transform the chaos of potential into the
              realities of habitable order. It means adopting the burden of
              self-conscious vulnerability, and accepting the end of the
              unconscious paradise of childhood, where finitude and mortality
              are only dimly comprehended. It means willingly undertaking the
              sacrifices necessary to generate a productive and meaningful
              reality
            </p><h2 id="images">Images</h2><p>
              <img
                alt="This is a placeholder image description"
                src="https://images.unsplash.com/photo-1483058712412-4245e9b90334?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
              />
            </p><h2 id="blockquotes">Blockquotes</h2><p>
              The blockquote element represents content that is quoted from
              another source, optionally with a citation which must be within a <code
                >footer</code
              > or <code>cite</code> element, and optionally with in-line changes
              such as annotations and abbreviations.
            </p><h4 id="blockquote-without-attribution">
              Blockquote without attribution
            </h4><blockquote>
              <p>
                You can only find out what you actually believe (rather than
                what you think you believe) by watching how you act. You simply
                don’t know what you believe, before that. You are too complex to
                understand yourself. <strong>Note</strong> that you can use <em
                  >Markdown syntax</em
                > within a blockquote.
              </p>
            </blockquote><h4 id="blockquote-with-attribution">
              Blockquote with attribution
            </h4><blockquote>
              <p>
                You can only find out what you actually believe (rather than
                what you think you believe) by watching how you act. You simply
                don’t know what you believe, before that. You are too complex to
                understand yourself.<br />— <cite>Rob Pike[^1]</cite>
              </p>
            </blockquote><h2 id="tables">Tables</h2><p>
              To add a table, use three or more hyphens (---) to create each
              column’s header, and use pipes (|) to separate each column. For
              compatibility, you should also add a pipe on either end of the
              row.
            </p><table>
              <thead><tr><th>Syntax</th><th>Description</th></tr></thead><tbody
                ><tr><td>Header</td><td>Title</td></tr><tr
                  ><td>Paragraph</td><td>Text</td></tr
                ></tbody
              >
            </table><p>
              Cell widths can vary, as shown below. The rendered output will
              look the same.
            </p><table>
              <thead><tr><th>Syntax</th><th>Description</th></tr></thead><tbody
                ><tr><td>Header</td><td>Title</td></tr><tr
                  ><td>Paragraph</td><td>Text</td></tr
                ></tbody
              >
            </table><p>
              ##Alignment You can align text in the columns to the left, right,
              or center by adding a colon (:) to the left, right, or on both
              side of the hyphens within the header row.
            </p><table>
              <thead
                ><tr
                  ><th align="left">Syntax</th><th align="center"
                    >Description</th
                  ><th align="right">Test Text</th></tr
                ></thead
              ><tbody
                ><tr
                  ><td align="left">Header</td><td align="center">Title</td><td
                    align="right">Here’s this</td
                  ></tr
                ><tr
                  ><td align="left">Paragraph</td><td align="center">Text</td
                  ><td align="right">And more</td></tr
                ></tbody
              >
            </table><h2 id="code-blocks">Code Blocks</h2>
            <Code
              code={`
export async function getStaticPaths() {
  const allPosts = await Astro.glob("../posts/*.md" );
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
  ];
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.frontmatter.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}`}
              lang="js"
              theme="css-variables"
            />
            <h2 id="list-types">List Types</h2><h4 id="ordered-list">
              Ordered List
            </h4><ol>
              <li>First item</li><li>Second item</li><li>Third item</li>
            </ol><h4 id="unordered-list">Unordered List</h4><ul>
              <li>List item</li><li>Another item</li><li>And another item</li>
            </ul><h4 id="nested-list">Nested list</h4><ul>
              <li>
                Fruit<ul><li>Apple</li><li>Orange</li><li>Banana</li></ul>
              </li><li>Dairy<ul><li>Milk</li><li>Cheese</li></ul></li>
            </ul><h2 id="other-elements--abbr-sub-sup-kbd-mark">
              Other Elements — abbr, sub, sup, kbd, mark
            </h2><p>
              <abbr title="Graphics Interchange Format">GIF</abbr> is a bitmap image
              format. H<sub>2</sub>O X<sup>n</sup> + Y<sup>n</sup> = Z<sup
                >n</sup
              > Press <kbd><kbd>CTRL</kbd>+<kbd>ALT</kbd>+<kbd>Delete</kbd></kbd
              > to end the session. Most <mark>salamanders</mark> are nocturnal,
              and hunt for insects, worms, and other small creatures.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
