<div
  class="w-full h-full -z-1 absolute flex flex-row justify-between left-0 lg:h-full lg:max-w-7xl lg:px-0 mx-auto px-6 right-0">
  <div class="w-full h-full border-[#f5f5f510]/5 border-x border-dashed"></div>
  <div class="w-full h-full border-[#f5f5f510]/5 border-x border-dashed"></div>

  <div class="w-full h-full border-[#f5f5f510]/5 border-x border-dashed"></div>
  <div class="w-full h-full border-[#f5f5f510]/5 border-x border-dashed"></div>

  <div class="w-full h-full border-[#f5f5f510]/5 border-x border-dashed"></div>
  <div class="w-full h-full border-[#f5f5f510]/5 border-x border-dashed"></div>
</div>
