---
import BaseHead from "../components/BaseHead.astro";
import Navigation from "../components/global/Navigation.astro";
import Footer from "../components/global/Footer.astro";
---

<html
  lang="en"
  class="scroll-smooth selection:bg-indigo-500 selection:text-white">
  <head> <BaseHead /></head>
  <body class="bg-vulcan-900">
    <slot />
  </body>
</html>
