<section>
  <div class="relative px-8 py-12 mx-auto max-w-7xl md:px-12 lg:px-32 lg:py-36">
    <div class="justify-center max-w-3xl">
      <div>
        <p class="text-3xl font-normal tracking-tight text-white">Explore all pages.</p>

        <p class="mt-8 text-3xl font-normal tracking-tight text-white">Overview</p>
      </div>
    </div><div class="grid grid-cols-2 gap-12 lg:grid-cols-5 md:grid-cols-3">
      <div class="mt-10 text-sm">
        <div class="flex flex-col justify-start">
          <p class="text-lg font-medium text-white lg:text-xl">Landing Pages</p><a
            class="mt-4 text-sm text-vulcan-300 hover:text-white"
            href="/"
            >Landing One
          </a>
          <a class="mt-4 text-sm text-vulcan-300 hover:text-white" href="/landings/index-two">Landing Page Two</a>
          <a class="mt-4 text-sm text-vulcan-300 hover:text-white" href="/landings/index-three">Landing Page Three</a>
          <a class="mt-4 text-sm text-vulcan-300 hover:text-white" href="/about-one">About</a>
          <p class="mt-12 text-lg font-medium text-white lg:text-xl">Integrations</p><a
            class="mt-4 text-sm text-vulcan-300 hover:text-white"
            href="/integrations/integrations">Integrations Home</a
          >
          <a class="mt-4 text-sm text-vulcan-300 hover:text-white" href="/integrations/integrations-details"
            >Integrations Details</a
          >
          <p class="mt-12 text-lg font-medium text-white lg:text-xl">Help Center</p><a
            class="mt-4 text-sm text-vulcan-300 hover:text-white"
            href="/helpcenter/help">Help Home</a
          >
          <a class="mt-4 text-sm text-vulcan-300 hover:text-white" href="/helpcenter/help-categories">Help Categories</a
          >
          <a class="mt-4 text-sm text-vulcan-300 hover:text-white" href="/helpcenter/help-details">Help Details</a>
        </div>
      </div><div class="mt-10 text-sm">
        <div class="flex flex-col justify-start">
          <p class="text-lg font-medium text-white lg:text-xl">Pricing Pages</p><a
            class="mt-4 text-sm text-vulcan-300 hover:text-white"
            href="/pricingpages/pricing-one"
            >Pricing Page One
          </a><a class="mt-4 text-sm text-vulcan-300 hover:text-white" href="/pricingpages/pricing-two"
            >Pricing Page Two
          </a><a class="mt-4 text-sm text-vulcan-300 hover:text-white" href="/pricingpages/pricing-three"
            >Pricing Page Three</a
          ><p class="mt-12 text-lg font-medium text-white lg:text-xl">Blog Pages</p><a
            class="mt-4 text-sm text-vulcan-300 hover:text-white"
            href="/blog/blog-one">Blog home One</a
          >
          <a class="mt-4 text-sm text-vulcan-300 hover:text-white" href="/blog/blog-two">Blog home Two</a>
          <a class="mt-4 text-sm text-vulcan-300 hover:text-white" href="/posts/1">Blog Post One</a>
          <a class="mt-4 text-sm text-vulcan-300 hover:text-white" href="/tags">Tag index</a>
          <a class="mt-4 text-sm text-vulcan-300 hover:text-white" href="/tags/health">Tag category</a>
          <a class="mt-4 text-sm text-vulcan-300 hover:text-white" href="/rss.xml">RSS</a>
        </div>
      </div><div class="mt-10 text-sm">
        <div class="flex flex-col justify-start">
          <p class="text-lg font-medium text-white lg:text-xl">Utility Pages</p><a
            class="mt-4 text-sm text-vulcan-300 hover:text-white"
            href="/infopages/changelog"
            >Changelog home
          </a>
          <a class="mt-4 text-sm text-vulcan-300 hover:text-white" href="/infopages/changelog-details"
            >Changelog detail
          </a>
          <a class="mt-4 text-sm text-vulcan-300 hover:text-white" href="/infopages/dpa">Data Process Agreement</a><a
            class="mt-4 text-sm text-vulcan-300 hover:text-white"
            href="/infopages/terms"
            >Terms Of use
          </a>
          <a class="mt-4 text-sm text-vulcan-300 hover:text-white" href="/infopages/privacy">Privacy Policy</a>
          <a class="mt-4 text-sm text-vulcan-300 hover:text-white" href="/infopages/cookies">Cookies</a>
          <a class="mt-4 text-sm text-vulcan-300 hover:text-white" href="/infopages/404">404</a>
          <a class="mt-4 text-sm text-vulcan-300 hover:text-white" href="/infopages/brand">Brand</a><p
            class="mt-12 text-lg font-medium text-white lg:text-xl"
          >
            All sections
          </p><a class="mt-4 text-sm text-vulcan-300 hover:text-white" href="/components/all-features"
            >All feature sections</a
          >
          <a class="mt-4 text-sm text-vulcan-300 hover:text-white" href="/components/all-pricing">All pricing</a>
        </div>
      </div><div class="mt-10 text-sm">
        <div class="flex flex-col justify-start">
          <p class="text-lg font-medium text-white lg:text-xl">Forms Pages</p><a
            class="mt-4 text-sm text-vulcan-300 hover:text-white"
            href="/forms/contact"
            >Contact
          </a>
          <a class="mt-4 text-sm text-vulcan-300 hover:text-white" href="/forms/contact-two">Contact Two</a>
          <a class="mt-4 text-sm text-vulcan-300 hover:text-white" href="/forms/signin">Signin</a><a
            class="mt-4 text-sm text-vulcan-300 hover:text-white"
            href="/forms/signup"
            >Sign up
          </a>
          <a class="mt-4 text-sm text-vulcan-300 hover:text-white" href="/forms/forgot">Forgot Password</a><a
            class="mt-4 text-sm text-vulcan-300 hover:text-white"
            href="/forms/coming-soon">Coming soon</a
          >
          <a class="mt-4 text-sm text-vulcan-300 hover:text-white" href="/forms/download">Download</a>
          <p class="mt-12 text-lg font-medium text-white lg:text-xl">Jobs</p><a
            class="mt-4 text-sm text-vulcan-300 hover:text-white"
            href="/jobs/jobs">Jobs home</a
          >
          <a class="mt-4 text-sm text-vulcan-300 hover:text-white" href="/jobs/job-entries">Job entries</a>
          <a class="mt-4 text-sm text-vulcan-300 hover:text-white" href="/jobs/job-details">Job details</a>
        </div>
      </div><div class="mt-10 text-sm">
        <div class="flex flex-col justify-start">
          <p class="text-lg font-medium text-white lg:text-xl">Customers</p><a
            class="mt-4 text-sm text-vulcan-300 hover:text-white"
            href="/customers/customers">Customers home</a
          >
          <a class="mt-4 text-sm text-vulcan-300 hover:text-white" href="/customers/case-study">Case study</a>
          <p class="mt-12 text-lg font-medium text-white lg:text-xl">Method</p><a
            class="mt-4 text-sm text-vulcan-300 hover:text-white"
            href="/method/method">Method home</a
          >
          <a class="mt-4 text-sm text-vulcan-300 hover:text-white" href="/method/method-details">Method details</a>
          <p class="mt-12 text-lg font-medium text-white lg:text-xl">System Pages</p><a
            class="mt-4 text-sm text-vulcan-300 hover:text-white"
            href="/system/styleguide">Style Guide</a
          >
          <a class="mt-4 text-sm text-vulcan-300 hover:text-white" href="https://lexingtonthemes.com/license.html"
            >License</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
