---
import Verticalgrid from '../assets/Verticalgrid.astro';
---

<section aria-labelledby="styleguide" id="styleguide " class="relative">
  <Verticalgrid />
  <div class="relative px-8 py-12 mx-auto max-w-7xl md:px-12 lg:px-32 lg:pt-36">
    <div class="max-w-xl">
      <p class="text-4xl font-normal tracking-tighter text-white sm:text-5xl">Style guide</p>
    </div>
    <div class="pb-5 mt-12 border-b border-white/5 lg:mt-24">
      <h3 class="text-base font-semibold leading-6 text-white">Typography: Inter</h3>
    </div>
    <div class="py-3 space-y-6">
      <div class="grid items-end grid-cols-3 lg:grid-cols-4">
        <div><span class="text-vulcan-300">Header 1</span></div>
        <div class="col-span-2 lg:col-span-3">
          <span class="text-3xl font-normal text-white lg:text-4xl">Header 1</span>
        </div>
      </div>
      <div class="grid items-end grid-cols-3 lg:grid-cols-4">
        <div><span class="text-vulcan-300">Header 2</span></div>
        <div class="col-span-2 lg:col-span-3">
          <span class="text-2xl font-normal text-white lg:text-2xl">Header 2</span>
        </div>
      </div>
      <div class="grid items-end grid-cols-3 lg:grid-cols-4">
        <div><span class="text-vulcan-300">Header 3</span></div>
        <div class="col-span-2 lg:col-span-3">
          <span class="text-xl text-white lg:text-xl">Header 3</span>
        </div>
      </div>
      <div class="grid items-end grid-cols-3 lg:grid-cols-4">
        <div><span class="text-vulcan-300">Header 4</span></div>
        <div class="col-span-2 lg:col-span-3">
          <span class="text-lg text-white lg:text-lg">Header 4</span>
        </div>
      </div>
      <div class="grid items-end grid-cols-3 lg:grid-cols-4">
        <div><span class="text-vulcan-300">Header 5</span></div>
        <div class="col-span-2 lg:col-span-3">
          <span class="text-base font-medium text-white lg:text-base">Header 5</span>
        </div>
      </div>
      <div class="grid items-end grid-cols-3 lg:grid-cols-4">
        <div><span class="text-vulcan-300">Header 6</span></div>
        <div class="col-span-2 lg:col-span-3">
          <span class="text-sm font-medium text-white lg:text-sm">Header 6</span>
        </div>
      </div>

      <div class="grid items-end grid-cols-3 lg:grid-cols-4">
        <div><span class="text-vulcan-300">Link</span></div>
        <div class="col-span-2 lg:col-span-3">
          <span class="text-sm text-indigo-300 hover:text-white underlined">Link text</span>
        </div>
      </div>
      <div class="grid items-end grid-cols-3 lg:grid-cols-4">
        <div><span class="text-vulcan-300">Subtitle</span></div>
        <div class="col-span-2 lg:col-span-3">
          <span class="text-xl font-medium leading-6 text-white">Subtitle text</span>
        </div>
      </div>
      <div class="grid items-end grid-cols-3 lg:grid-cols-4">
        <div><span class="text-vulcan-300">Paragraph</span></div>
        <div class="col-span-2 lg:col-span-3">
          <span class="text-sm text-vulcan-300"
            >I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I
            neglect my talents.
          </span>
        </div>
      </div>
      <div class="grid items-end grid-cols-3 lg:grid-cols-4">
        <div><span class="text-vulcan-300">Caption</span></div>
        <div class="col-span-2 lg:col-span-3">
          <span class="text-sm text-vulcan-300">Picture about somethign</span>
        </div>
      </div>
      <div class="grid items-end grid-cols-3 lg:grid-cols-4">
        <div>
          <span class="text-vulcan-300">List</span>
        </div>
        <div class="col-span-2 lg:col-span-3">
          <ul class="mt-6 space-y-3 text-sm list-decimal list-inside text-vulcan-300" role="list">
            <li>Next.js and/or Nuxt.js</li>
            <li>CReact Native .</li>
            <li>AWS and/or Firebase</li>
            <li>Familiarity with noSQL databases</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="pb-5 mt-12 border-b border-white/5 lg:mt-24">
      <h3 class="text-base font-semibold leading-6 text-white">Buttons</h3>
    </div>
    <div class="inline-flex flex-wrap items-center w-full gap-2 mt-10">
      <a
        href="#"
        class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold transition-all bg-white rounded-lg text-vulcan-900 hover:text-indigo-500"
        >Primary button</a
      >

      <a
        href="#"
        class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all rounded-lg hover:to-indigo-600 bg-gradient-to-b from-indigo-300 via-indigo-400 to-indigo-500"
        >Secondary button</a
      >
      <a
        href="#"
        class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all border rounded-lg bg-vulcan-900 hover:text-indigo-400 border-vulcan-700"
        >Tertiary button</a
      >
      <div class="p-4 rounded-lg bg-gradient-to-b from-indigo-500 via-indigo-500 to-indigo-500 hover:to-accent-700">
        <a
          href="#"
          class="rounded-lg px-4 py-2 text-sm font-semibold transition-all flex items-center justify-center text-white bg-gradient-to-b from-white/[.105] to-white/[.15] hover:to-white/[.25] h-10 ring-1 ring-inset ring-white/20"
          >Transparent button</a
        >
      </div>
    </div>
    <div class="pb-5 mt-12 border-b border-white/5 lg:mt-24">
      <h3 class="text-base font-semibold leading-6 text-white">Color palette</h3>
    </div>
    <div class="grid grid-cols-2 gap-2 lg:grid-cols-3">
      <div class="space-y-2">
        <div class="p-6 bg-white border rounded-lg lg:justify-center"></div>
        <div class="p-6 rounded-lg lg:justify-center bg-gradient-to-r from-indigo-300 via-indigo-400 to-indigo-500">
        </div>
      </div>

      <div>
        <div class="p-6 rounded-t-lg lg:justify-center bg-indigo-50"></div>
        <div class="p-6 bg-indigo-100 lg:justify-center"></div>
        <div class="p-6 bg-indigo-200 lg:justify-center"></div>
        <div class="p-6 bg-indigo-300 lg:justify-center"></div>
        <div class="p-6 bg-indigo-400 lg:justify-center"></div>
        <div class="p-6 bg-indigo-500 lg:justify-center"></div>
        <div class="p-6 bg-indigo-600 lg:justify-center"></div>
        <div class="p-6 bg-indigo-700 lg:justify-center"></div>
        <div class="p-6 bg-indigo-800 lg:justify-center"></div>
        <div class="p-6 bg-indigo-900 lg:justify-center"></div>
        <div class="p-6 rounded-b-lg lg:justify-center bg-indigo-950"></div>
      </div>
      <div>
        <div class="p-6 rounded-t-lg lg:justify-center bg-vulcan-50"></div>
        <div class="p-6 lg:justify-center bg-vulcan-100"></div>
        <div class="p-6 lg:justify-center bg-vulcan-200"></div>
        <div class="p-6 lg:justify-center bg-vulcan-300"></div>
        <div class="p-6 lg:justify-center bg-vulcan-400"></div>
        <div class="p-6 lg:justify-center bg-vulcan-500"></div>
        <div class="p-6 lg:justify-center bg-vulcan-600"></div>
        <div class="p-6 lg:justify-center bg-vulcan-700"></div>
        <div class="p-6 lg:justify-center bg-vulcan-800"></div>
        <div class="p-6 lg:justify-center bg-vulcan-900"></div>
        <div class="p-6 rounded-b-lg lg:justify-center bg-vulcan-950"></div>
      </div>
    </div>
  </div>
</section>
