<section>
  <div class="relative flex justify-center max-h-full overflow-hidden lg:px-0 md:px-12">
    <div
      class="relative z-10 flex flex-col items-center flex-1 px-8 py-32 shadow-2xl bg-vulcan-900 lg:py-16 md:flex-none md:px-28 sm:justify-center"
    >
      <div class="w-full max-w-md mx-auto md:max-w-sm md:px-0 md:w-96 sm:px-4">
        <div class="flex flex-col">
          <div>
            <h2 class="text-3xl font-normal tracking-tight text-white">Let's get started!</h2>
            <p class="mt-2 text-base text-vulcan-300">
              Complete the details below so I can process your request and then schedule a time to discuss your goals.
            </p>
          </div>
        </div>
        <form>
          <input autocomplete="false" name="hidden" style="display: none" />
          <input name="_redirect" type="hidden" value="https://jamstacker.studio/thankyou" />
          <div class="mt-4 space-y-6">
            <div>
              <label class="block mb-3 text-sm font-medium text-white" name="name">First name</label>
              <input
                class="block w-full h-10 px-4 py-3 text-indigo-300 bg-transparent border rounded-lg appearance-none border-white/10 placeholder-white/50 focus:border-indigo-300 focus:bg-transparent focus:outline-none focus:ring-indigo-300 sm:text-sm"
                placeholder="Your name"
              />
            </div>
            <div class="col-span-full">
              <label class="block mb-3 text-sm font-medium text-white" name="company"
                >What is the name of your company / organisation?</label
              >
              <input
                class="block w-full h-10 px-4 py-3 text-indigo-300 bg-transparent border rounded-lg appearance-none border-white/10 placeholder-white/50 focus:border-indigo-300 focus:bg-transparent focus:outline-none focus:ring-indigo-300 sm:text-sm"
                placeholder="Company name"
              />
            </div>
            <div class="col-span-full">
              <label class="block mb-3 text-sm font-medium text-white" name="email">How shall we contact you?</label>
              <input
                class="block w-full h-10 px-4 py-3 text-indigo-300 bg-transparent border rounded-lg appearance-none border-white/10 placeholder-white/50 focus:border-indigo-300 focus:bg-transparent focus:outline-none focus:ring-indigo-300 sm:text-sm"
                placeholder="email@example.com"
                autocomplete="off"
                type="email"
              />
            </div>
            <div>
              <label class="block mb-3 text-sm font-medium text-white" name="message">Project details</label>
              <div class="mt-1">
                <textarea
                  class="block w-full px-4 py-3 text-indigo-300 bg-transparent border rounded-lg appearance-none border-white/10 placeholder-white/50 focus:border-indigo-300 focus:bg-transparent focus:outline-none focus:ring-indigo-300 sm:text-sm"
                  placeholder="What are you working on?"
                  rows="4"></textarea>
              </div>
            </div>

            <div class="col-span-full">
              <button
                class="flex items-center justify-center w-full h-10 px-4 py-2 text-sm font-semibold text-white transition-all rounded-lg hover:to-indigo-600 bg-gradient-to-b from-indigo-300 via-indigo-400 to-indigo-500"
                type="submit"
              >
                Submit your request
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="hidden bg-vulcan-900 lg:block lg:flex-1 lg:relative sm:contents lg:order-first">
      <div class="absolute inset-0 object-cover w-full bg-vulcan-900" alt="" height="1866" width="1664">
        <img
          class="object-cover object-center w-full h-full bg-top"
          src="/assets/wallpaper.svg"
          alt=""
          width="1310"
          height="873"
        />
      </div>
    </div>
  </div>
</section>
