---
import Verticalgrid from "../assets/Verticalgrid.astro";
---

<section aria-labelledby="Featureone" id="Featureone " class="relative">
  <Verticalgrid />
  <div
    class="relative items-center w-full px-5 py-32 mx-auto md:px-12 lg:px-16 max-w-7xl lg:pb-32 lg:pt-56">
    <div class="mx-auto max-w-2xl sm:text-center">
      <h2 class="text-3xl mt-8 font-normal text-white">
        Talk to our Sales team
      </h2>
      <p class="max-w-2xl mt-4 text-lg text-vulcan-300">
        We'll help you find the right plan and pricing for your business.
      </p>
    </div>
    <dl class="mx-auto mt-20 max-w-lg space-y-16">
      <div>
        <dt class="inline-flex items-center gap-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 text-white">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9.813 15.904L9 18.75l-.813-2.846a4.5 4.5 0 00-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 003.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 003.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 00-3.09 3.09zM18.259 8.715L18 9.75l-.259-1.035a3.375 3.375 0 00-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 002.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 002.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 00-2.456 2.456zM16.894 20.567L16.5 21.75l-.394-1.183a2.25 2.25 0 00-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 001.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 001.423 1.423l1.183.394-1.183.394a2.25 2.25 0 00-1.423 1.423z"
            ></path>
          </svg>

          <h3 class="text-lg font-medium text-white lg:text-xl">
            Sales support
          </h3>
        </dt>
        <dd>
          <p class="mt-2 text-base text-vulcan-300">
            If there is any issue related to your purchase such as not receiving
            the receipt, entering the incorrect email address during the
            purchase, or requiring a refund, feel free to email us. We will make
            every effort to assist you.
          </p>
          <p class="mt-4">
            <a
              href="#"
              class="text-sm leading-6 text-indigo-400 hover:text-white"
              >Contact us <span aria-hidden="true">&rarr;</span></a
            >
          </p>
        </dd>
      </div>
      <div>
        <dt class="inline-flex items-center gap-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 text-white">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M16.712 4.33a9.027 9.027 0 011.652 1.306c.51.51.944 1.064 1.306 1.652M16.712 4.33l-3.448 4.138m3.448-4.138a9.014 9.014 0 00-9.424 0M19.67 7.288l-4.138 3.448m4.138-3.448a9.014 9.014 0 010 9.424m-4.138-5.976a3.736 3.736 0 00-.88-1.388 3.737 3.737 0 00-1.388-.88m2.268 2.268a3.765 3.765 0 010 2.528m-2.268-4.796a3.765 3.765 0 00-2.528 0m4.796 4.796c-.181.506-.475.982-.88 1.388a3.736 3.736 0 01-1.388.88m2.268-2.268l4.138 3.448m0 0a9.027 9.027 0 01-1.306 1.652c-.51.51-1.064.944-1.652 1.306m0 0l-3.448-4.138m3.448 4.138a9.014 9.014 0 01-9.424 0m5.976-4.138a3.765 3.765 0 01-2.528 0m0 0a3.736 3.736 0 01-1.388-.88 3.737 3.737 0 01-.88-1.388m2.268 2.268L7.288 19.67m0 0a9.024 9.024 0 01-1.652-1.306 9.027 9.027 0 01-1.306-1.652m0 0l4.138-3.448M4.33 16.712a9.014 9.014 0 010-9.424m4.138 5.976a3.765 3.765 0 010-2.528m0 0c.181-.506.475-.982.88-1.388a3.736 3.736 0 011.388-.88m-2.268 2.268L4.33 7.288m6.406 1.18L7.288 4.33m0 0a9.024 9.024 0 00-1.652 1.306A9.025 9.025 0 004.33 7.288"
            ></path>
          </svg>

          <h3 class="text-lg font-medium text-white lg:text-xl">
            Technical support
          </h3>
        </dt>
        <dd>
          <p class="mt-2 text-base text-vulcan-300">
            If you need assistance with tasks like integrating a component into
            your project, customizing a design in a specific manner,
            implementing interactive behavior using JavaScript, etc., we suggest
            that you join the Lexington Discord community and pose your
            questions to the group.
          </p>
          <p class="mt-4">
            <a
              href="#"
              class="text-sm leading-6 text-indigo-400 hover:text-white"
              >Contact us <span aria-hidden="true">&rarr;</span></a
            >
          </p>
        </dd>
      </div>
      <div>
        <dt class="inline-flex items-center gap-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 text-white">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 12.75c1.148 0 2.278.08 3.383.237 1.037.146 1.866.966 1.866 2.013 0 3.728-2.35 6.75-5.25 6.75S6.75 18.728 6.75 15c0-1.046.83-1.867 1.866-2.013A24.204 24.204 0 0112 12.75zm0 0c2.883 0 5.647.508 8.207 1.44a23.91 23.91 0 01-1.152 6.06M12 12.75c-2.883 0-5.647.508-8.208 1.44.125 2.104.52 4.136 1.153 6.06M12 12.75a2.25 2.25 0 002.248-2.354M12 12.75a2.25 2.25 0 01-2.248-2.354M12 8.25c.995 0 1.971-.08 2.922-.236.403-.066.74-.358.795-.762a3.778 3.778 0 00-.399-2.25M12 8.25c-.995 0-1.97-.08-2.922-.236-.402-.066-.74-.358-.795-.762a3.734 3.734 0 01.4-2.253M12 8.25a2.25 2.25 0 00-2.248 2.146M12 8.25a2.25 2.25 0 012.248 2.146M8.683 5a6.032 6.032 0 01-1.155-1.002c.07-.63.27-1.222.574-1.747m.581 2.749A3.75 3.75 0 0115.318 5m0 0c.427-.283.815-.62 1.155-.999a4.471 4.471 0 00-.575-1.752M4.921 6a24.048 24.048 0 00-.392 3.314c1.668.546 3.416.914 5.223 1.082M19.08 6c.205 1.08.337 2.187.392 3.314a23.882 23.882 0 01-5.223 1.082"
            ></path>
          </svg>

          <h3 class="text-lg font-medium text-white lg:text-xl">
            Bug repports
          </h3>
        </dt>
        <dd>
          <p class="mt-2 text-base text-vulcan-300">
            In case you come across a bug with a component that you want us to
            rectify, kindly create an issue on GitHub to report it.
          </p>
          <p class="mt-4">
            <a
              href="#"
              class="text-sm leading-6 text-indigo-400 hover:text-white"
              >Contact us <span aria-hidden="true">&rarr;</span></a
            >
          </p>
        </dd>
      </div>
    </dl>
  </div>
</section>
