<section class="flex justify-center items-center h-screen overflow-hidden lg:px-0 md:px-12 bg-vulcan-900">
  <div>
    <div
      class="relative z-10 flex flex-col items-center flex-1 px-8 py-32 shadow-2xl lg:py-16 md:flex-none md:px-28 sm:justify-center"
    >
      <div class="w-full max-w-md mx-auto md:max-w-sm md:px-0 md:w-96 sm:px-4">
        <div class="flex flex-col">
          <div>
            <h2 class="text-3xl font-normal tracking-tight text-white">Let's get started!</h2>
            <p class="mt-2 text-base text-vulcan-300">
              Complete the details below to apply for the 3rd cohort of the DXMentorship program. Be as detailed as you
              can as we'll rely on your responses to make our selection.
            </p>
          </div>
        </div>
        <form id="application-form" method="POST">
          <input autocomplete="false" name="hidden" style="display: none" />
          <div class="mt-4 space-y-6">
            <div>
              <label class="block mb-3 text-sm font-medium text-white" for="name"> Name*</label>
              <input
                id="name"
                class="block w-full h-10 px-4 py-3 text-indigo-300 bg-transparent border rounded-lg appearance-none border-white/10 placeholder-white/50 focus:border-indigo-300 focus:bg-transparent focus:outline-none focus:ring-indigo-300 sm:text-sm"
                placeholder="What is your name"
              />
            </div>
            <div class="col-span-full">
              <label class="block mb-3 text-sm font-medium text-white" for="company"> Company / organisation</label>
              <input
                id="company"
                class="block w-full h-10 px-4 py-3 text-indigo-300 bg-transparent border rounded-lg appearance-none border-white/10 placeholder-white/50 focus:border-indigo-300 focus:bg-transparent focus:outline-none focus:ring-indigo-300 sm:text-sm"
                placeholder="Company if applicable"
              />
            </div>
            <div class="col-span-full">
              <label class="block mb-3 text-sm font-medium text-white" for="email"> Email*</label>
              <input
                id="email"
                class="block w-full h-10 px-4 py-3 text-indigo-300 bg-transparent border rounded-lg appearance-none border-white/10 placeholder-white/50 focus:border-indigo-300 focus:bg-transparent focus:outline-none focus:ring-indigo-300 sm:text-sm"
                placeholder="email@example.com"
                autocomplete="off"
                type="email"
              />
            </div>
            <div class="col-span-full">
              <label for="location" class="block mb-3 text-sm font-medium text-white" id="email"> Location*</label>
              <input
                id="location"
                class="block w-full h-10 px-4 py-3 text-indigo-300 bg-transparent border rounded-lg appearance-none border-white/10 placeholder-white/50 focus:border-indigo-300 focus:bg-transparent focus:outline-none focus:ring-indigo-300 sm:text-sm"
                placeholder="City, Country"
                autocomplete="off"
                type="text"
              />
            </div>
            <div>
              <label for="message" class="block mb-3 text-sm font-medium text-white"> Why shoul we select you*</label>
              <div class="mt-1">
                <textarea
                  id="message"
                  class="block w-full px-4 py-3 text-indigo-300 bg-transparent border rounded-lg appearance-none border-white/10 placeholder-white/50 focus:border-indigo-300 focus:bg-transparent focus:outline-none focus:ring-indigo-300 sm:text-sm"
                  placeholder="Tell us why this program is important to you and what you hope to achieve."
                  rows="4"></textarea>
              </div>
            </div>

            <div class="col-span-full">
              <button
                class="flex items-center justify-center w-full h-10 px-4 py-2 text-sm font-semibold text-white transition-all rounded-lg hover:to-indigo-600 bg-gradient-to-b from-indigo-300 via-indigo-400 to-indigo-500"
                type="submit"
              >
                Submit application
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="hidden bg-vulcan-900 lg:block lg:flex-1 lg:relative sm:contents lg:order-first">
      <div class="absolute inset-0 object-cover w-full bg-vulcan-900">
        <img
          class="object-cover object-center w-full h-full bg-top"
          src="/assets/wallpaper.svg"
          alt=""
          width="1310"
          height="873"
        />
      </div>
    </div>
  </div>
</section>;

<script>
  const form = document.querySelector('#application-form');

  async function handleFormSubmission(event) {
    event.preventDefault();
    const form = event.target;

    // Client-side Validation
    const name = form['name'].value;
    const email = form['email'].value;
    const company = form['message'].value;
    const location = form['message'].value;
    const message = form['message'].value;

    if (!name || !email || !message || !company || !location) {
      alert('Please fill in all required fields.');
      return;
    }

    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    if (!emailRegex.test(email)) {
      alert('Please enter a valid email address.');
      return;
    }

    const formData = {
      name,
      email,
      message,
      location,
      company,
    };

    console.log(formData);

    // Implement Send data to Notion or Airtable
    const response = await fetch('/api/form', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(formData),
    });

    if (response.status === 200) {
      window.location.href = '/apply/success';
    } else {
      alert('Oops! An error has occurred, Please try again.');
    }
  }

  form.addEventListener('submit', handleFormSubmission, true);
</script>
