---
import RoundedGrid from "../assets/RoundedGrid.astro";
---

<section
  aria-labelledby="signin"
  id="signin"
  class="relative overflow-hidden h-screen justify-center items-center">
  <RoundedGrid />
  <div
    class="px-8 relative md:flex-none md:px-28 py-32 sm:justify-center flex items-center justify-center">
    <div class="w-full max-w-md md:max-w-sm md:px-0 mx-auto sm:px-4">
      <div class="flex flex-col text-center">
        <div>
          <p class="text-3xl font-normal text-white">Forgot password?</p>
        </div>
      </div>
      <form class="mt-24" action="https://submit-form.com/r4PIGvAB">
        <input name="hidden" autocomplete="false" style="display:none" />
        <input name="_redirect" type="hidden" value="#" />
        <div class="space-y-3">
          <div class="col-span-full">
            <label
              class="block mb-3 text-sm font-medium text-white sr-only"
              name="company">Password</label
            >
            <input
              class="block w-full px-4 py-3 border bg-transparent border-white/10 rounded-xl appearance-none text-indigo-300 placeholder-white/50 focus:border-indigo-300 focus:bg-transparent focus:outline-none focus:ring-indigo-300 sm:text-sm"
              placeholder="Type password here..."
              type="password"
            />
          </div><div class="flex items-center justify-between">
            <div class="flex items-center">
              <input
                class="text-black focus:ring-white border-indigo-300 h-4 focus:border-white bg-black rounded w-4"
                type="checkbox"
                id="remember-me"
                name="remember-me"
              />
              <label
                class="font-medium text-sm block leading-tight ml-2 text-white"
                for="remember-me">Remember me</label
              >
            </div><div class="text-sm">
              <a class="font-medium hover:text-indigo-300 text-white" href="#"
                >Forgot your password?</a
              >
            </div>
          </div>
          <div class="col-span-full">
            <a
              class="inline-flex items-center justify-center w-full px-6 py-3 text-center text-white hover:to-indigo-400 duration-200 bg-gradient-to-r from-indigo-400 to-indigo-500 font-medium rounded-xl hover:text-white focus:outline-none focus-visible:outline-black focus-visible:ring-black"
              href="#"
              >Sign in
            </a>
          </div>
        </div>
        <div class="mt-3">
          <p
            class="font-medium text-sm leading-tight text-white mx-auto text-center">
            Not a have a password? <a
              class="text-indigo-300 hover:text-white ml-3"
              href="/signup">Sign up now</a
            >
          </p>
        </div>
      </form>
    </div>
  </div>
</section>
