---
import RoundedGrid from '../assets/RoundedGrid.astro';
---

<section aria-labelledby="cta" id="cta " class="relative overflow-hidden border-t border-white/5">
  <RoundedGrid />
  <div class="relative items-center w-full px-5 py-12 mx-auto md:px-12 lg:px-16 max-w-7xl lg:pb-32 lg:pt-56">
    <div class="relative items-center">
      <div class="max-w-xl mx-auto text-center">
        <p class="text-sm text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text">
          Application Received!
        </p>
        <p class="mt-8 text-4xl font-normal tracking-tight text-white">You are one step closer...</p>
        <p class="max-w-sm mx-auto mt-4 text-vulcan-300">
          In the mean time, Join the <a href="/community" class="text-blue-700">community</a> and connect with other
          intending mentees.
        </p>
      </div>
    </div>
  </div>
</section>
