<footer aria-labelledby="footer" id="footer " class="relative border-t bg-black border-white/5">
  <div class="relative px-8 py-12 mx-auto max-w-7xl md:px-12 lg:px-32 lg:py-24">
    <div class="xl:grid xl:grid-cols-4 xl:gap-8">
      <div class="text-white sr-only">
        <div class="inline-flex items-center gap-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="#ffffff"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-10 h-10 text-white p-2"
            viewBox="0 0 24 24"><path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path></svg
          >
          <p class="text-2xl font-bold uppercase">DXM</p>
        </div>
        <p class="mt-2 text-sm text-vulcan-300">
          <span class="mt-6 text-sm font-normal text-vulcan-300"> © 2023 DxMentorship</span>
        </p>
      </div>
      <div class="grid grid-cols-2 gap-8 xl:col-span-3">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-white">Program</h3>
            <ul role="list" class="mt-4 space-y-2">
              <li>
                <a class="inline-flex items-center text-sm text-vulcan-300 hover:text-white" href="#"
                  >Cohorts <span
                    class="items-center inline-flex font-medium text-indigo-400 bg-vulcan-800 ml-4 px-3 py-0.5 rounded-full text-xs"
                    >2</span
                  ></a
                >
              </li>
              <li>
                <a href="#" class="text-sm text-vulcan-300 hover:text-white"> Past Speakers</a>
              </li>
            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <h3 class="text-white">Resources</h3>
            <ul role="list" class="mt-4 space-y-2">
              <li>
                <a href="https://github.com/kenny-io/DevRel-Resources" class="text-sm text-vulcan-300 hover:text-white">
                  DevRel Resources</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-white">Programs</h3>
            <ul role="list" class="mt-4 space-y-2">
              <li>
                <a href="https://github.com/Dxmentorship/champions" class="text-sm text-vulcan-300 hover:text-white">
                  DXM Champions
                </a>
              </li>
              <!-- <li>
                <a
                  href="https://www.lexingtonthemes.com/documentation"
                  class="text-sm text-vulcan-300 hover:text-white"
                >
                  Space Battle
                </a>
              </li> -->
            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <h3 class="text-white">Socials</h3>
            <ul role="list" class="mt-4 space-y-2">
              <li>
                <a href="https://twitter.com/@dxmentorship" class="text-sm text-vulcan-300 hover:text-white">
                  Twitter</a
                >
              </li>
              <li>
                <a href="https://github.com/dxmentorship" class="text-sm text-vulcan-300 hover:text-white"> Github</a>
              </li>
              <li>
                <a href="https://discord.com/invite/dUQyb2mk4s" class="text-sm text-vulcan-300 hover:text-white">
                  Discord</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- <footer class="bg-black">
  <div class="relative px-8 pb-24 mx-auto max-w-7xl md:px-12 lg:px-32">
    <div class="pt-12 border-t lg:flex lg:items-center lg:justify-between border-white/5">
      <div>
        <h3 class="text-white">Subscribe to DxMentorship Newsletters</h3>
        <p class="mt-2 text-sm font-normal text-vulcan-300">
          The latest on devrel news, articles, and resources, sent to your inbox daily.
        </p>
      </div>
      <form class="mt-6 sm:flex sm:max-w-md lg:mt-0">
        <label for="email-address" class="sr-only">Email address</label>
        <input
          type="email"
          name="email-address"
          id="email-address"
          autocomplete="email"
          required
          class="block w-full h-10 px-4 py-2 text-sm text-indigo-300 bg-transparent border rounded-lg appearance-none border-white/10 placeholder-white/50 focus:border-indigo-300 focus:bg-transparent focus:outline-none focus:ring-indigo-300 sm:text-sm"
          placeholder="Enter your email"
        />
        <div class="mt-4 sm:ml-2 sm:mt-0 sm:flex-shrink-0">
          <button
            type="submit"
            class="flex items-center justify-center w-auto h-10 px-4 py-2 text-sm font-semibold text-white transition-all rounded-lg hover:to-indigo-600 bg-gradient-to-b from-indigo-300 via-indigo-400 to-indigo-500"
            >Subscribe</button
          >
        </div>
      </form>
    </div>
  </div>
</footer> -->
