<footer aria-labelledby="footer" id="footer " class="relative border-t bg-black border-white/5">
  <div class="relative px-8 py-12 mx-auto max-w-7xl md:px-12 lg:px-32 lg:py-24">
    <div class="xl:grid xl:grid-cols-4 xl:gap-8">
      <a href="/">
        <div class="text-white mb-16">
          <div class="inline-flex items-center gap-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="#ffffff"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-10 h-10 text-white p-2"
              viewBox="0 0 24 24"><path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path></svg
            >
            <p class="text-2xl font-bold uppercase">DXM</p>
          </div>
          <p class="text-sm text-vulcan-300">
            <span class="text-sm font-normal text-vulcan-300"> © {new Date().getFullYear()} DxMentorship</span>
          </p>
        </div>
      </a>
      <div class="grid grid-cols-2 gap-8 xl:col-span-3">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-white">Program</h3>
            <ul role="list" class="mt-4 space-y-2">
              <li>
                <li>
                  <a class="inline-flex items-center text-sm text-vulcan-300 hover:text-white" href="/mentees"
                    >Cohorts <span
                      class="items-center inline-flex font-medium text-indigo-400 bg-vulcan-800 ml-4 px-3 py-0.5 rounded-full text-xs"
                      >3</span
                    ></a
                  >
                </li>
                <li>
                  <a href="#" class="text-sm text-vulcan-300 hover:text-white"> Past Speakers</a>
                </li>
                <li>
                  <a class="inline-flex items-center text-sm text-vulcan-300 hover:text-white" href="/curriculum"
                    >Curriculum
                  </a>
                </li>
              </li>
            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <h3 class="text-white">Resources</h3>
            <ul role="list" class="mt-4 space-y-2">
              <li>
                <a href="https://github.com/kenny-io/DevRel-Resources" class="text-sm text-vulcan-300 hover:text-white">
                  DevRel Resources</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-white">Programs</h3>
            <ul role="list" class="mt-4 space-y-2">
              <li>
                <a href="https://github.com/Dxmentorship/champions" class="text-sm text-vulcan-300 hover:text-white">
                  DXM Champions
                </a>
              </li>
              <!-- <li>
                <a
                  href="https://www.lexingtonthemes.com/documentation"
                  class="text-sm text-vulcan-300 hover:text-white"
                >
                  Space Battle
                </a>
              </li> -->
            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <h3 class="text-white">Socials</h3>
            <ul role="list" class="mt-4 space-y-2">
              <li>
                <a href="https://twitter.com/@dxmentorship" class="text-sm text-vulcan-300 hover:text-white">
                  Twitter</a
                >
              </li>
              <li>
                <a href="https://github.com/dxmentorship" class="text-sm text-vulcan-300 hover:text-white"> Github</a>
              </li>
              <li>
                <a href="https://discord.com/invite/dUQyb2mk4s" class="text-sm text-vulcan-300 hover:text-white">
                  Discord</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
