<section
  aria-labelledby="logocloud"
  id="logocloud "
  class="bg-vulcan-900 border-y border-white/5 items-end flex justify-center"
>
  <div class="max-w-7xl px-8 md:px-12 lg:px-24 mx-auto py-12 lg:py-24 justify-center">
    <div class="items-center">
      <div class="text-center justify-center lg:justify-start">
        <span class="bg-white/5 rounded-full py-2 px-4 w-auto justify-center text-center">
          <span
            class="text-sm bg-gradient-to-r from-indigo-300 via-indigo-400 to-indigo-500 text-transparent bg-clip-text"
          >
            Our beloved "paying" customers</span
          >
        </span>
      </div>
      <div class="mt-12">
        <div class="grid grid-cols-2 gap-0.5 md:grid-cols-6">
          <div class="flex col-span-1 px-8">
            <img class="max-h-12 opacity-50" src="./logos/basecamp.svg" alt=" logo" />
          </div>
          <div class="flex col-span-1 px-8">
            <img class="max-h-12 opacity-50" src="./logos/dribbble.svg" alt="logo" />
          </div>
          <div class="flex col-span-1 px-8">
            <img class="max-h-12 opacity-50" src="./logos/framer.svg" alt="logo" />
          </div>
          <div class="flex col-span-1 px-8">
            <img class="max-h-12 opacity-50" src="./logos/ghost.svg" alt="logo" />
          </div>
          <div class="flex col-span-1 px-8">
            <img class="max-h-12 opacity-50" src="./logos/github.svg" alt="logo" />
          </div>
          <div class="flex col-span-1 px-8">
            <img class="max-h-12 opacity-50" src="./logos/notion.svg" alt="logo" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
