<section
  aria-labelledby="navigation"
  id="navigation"
  class="fixed z-50 w-full overflow-hidden border-b relatve bg-vulcan-900/20 border-white/5 backdrop-blur-2xl lg:bg-vulcan-900/0"
>
  <div class="relative w-full mx-auto max-w-7xl">
    <div
      x-data="{ open: false }"
      class="relative flex flex-col w-full px-8 py-5 mx-auto md:items-center md:justify-between md:flex-row md:px-12 lg:px-32"
    >
      <div class="flex flex-row items-center justify-between text-white lg:justify-start">
        <a href="/" class="lg:pr-8">
          <div class="inline-flex items-center gap-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="#ffffff"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-10 h-10 text-white p-2"
              viewBox="0 0 24 24"><path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path></svg
            >
            <p class="text-2xl font-bold uppercase">DX Mentorship</p>
          </div>
        </a>
        <button
          @click="open = !open"
          class="inline-flex items-center justify-center p-2 text-white hover:text-indigo-400 focus:outline-none focus:text-white md:hidden"
        >
          <svg class="w-6 h-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
            <path
              :class="{'hidden': open, 'inline-flex': !open }"
              class="inline-flex"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
            <path
              :class="{'hidden': !open, 'inline-flex': open }"
              class="hidden"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <nav
        :class="{'flex': open, 'hidden': !open}"
        class="flex-col items-center flex-grow hidden md:pb-0 md:flex md:justify-end md:flex-row"
      >
        <a class="px-2 py-2 text-sm font-normal text-white lg:px-6 md:px-3 hover:text-white/50" href="/mentees"
          >Mentees</a
        >
        <a class="px-2 py-2 text-sm font-normal text-white lg:px-6 md:px-3 hover:text-white/50" href="/alumni">Alumni</a
        >
        <a class="px-2 py-2 text-sm font-normal text-white lg:px-6 md:px-3 hover:text-white/50" href="/faqs">FAQs</a>
        <a class="px-2 py-2 text-sm font-normal text-white lg:px-6 md:px-3 hover:text-white/50" href="/blog">Blog</a>
        <a class="px-2 py-2 text-sm font-normal text-white lg:px-6 md:px-3 hover:text-white/50" href="/community"
          >Community</a
        >

        <a
          href="https://forms.gle/VHBbZDdo9M9cxnhZ8"
          class="rounded-lg px-4 py-2 text-sm h-8 transition-all flex items-center justify-center text-white bg-gradient-to-b from-white/[.105] to-white/[.15] hover:to-white/[.25] h-10 ring-1 ring-inset ring-white/20"
        >
          Apply Now!
        </a>
      </nav>
    </div>
  </div>
</section>
